<template>
  <div>
    <partners-form
      :on-cancel="goToPartners"
      :on-success="goToPartners"/>
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Resource',
  components: {
    PartnersForm: () => import('~/components/admin/PartnersForm')
  },
  methods: {
    goToPartners() {
      this.$router.push('/admin/partners');
    }
  }
};
</script>

<style scoped>
</style>
