@import "primer-utilities/index.scss";
@import "element-ui/lib/theme-chalk/display.css";
@import "animate.css/animate.css";
@import "vue-croppa/dist/vue-croppa.css";
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  font-family: 'Roboto', sans-serif;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 200ms;
}
.fade-fast-enter,
.fade-fast-leave-to {
  opacity: 0;
}

a {
  color: #409EFF;
  text-decoration: inherit;
  &.no-style {
    color: inherit;
  }
}

.no-drageable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.common-text {
  line-height: 1.6 !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  &.medium-bold {
    font-weight: 400;
  }
  &.bold {
    font-weight: 600;
  }
}

.el-input {
  input {
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.6 !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
  }
}
.el-tag {
  .el-select__tags-text {
    color: #000 !important;
  }
}
.quillWrapper {
  .ql-snow.ql-toolbar {
    border: 1px solid #dbdfe6 !important;
    border-radius: 4px 4px 0 0;
  }
  .ql-container {
    border: 1px solid #dbdfe6 !important;
    border-radius: 0 0 4px 4px;
    color: #606266;
  }
}

.el-upload-list--picture {
  .el-upload-list__item {
    border: 1px solid #dbdfe6 !important;
  }
}

.article-body {
  line-height: 1.6 !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  font-size: 20px !important;
  &.condensed {
    line-height: 1.3 !important;
  ;
    font-size: 16px !important;
  }
  img {
    max-width: 100%;
  }
  .ql-video {
    width: 100% !important;
    height: 400px !important;
  }
}

.form-actions {
  .el-button {
    margin-top: 10px;
  }
}

.article-category {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  &:hover {
    opacity: 0.8;
  }
}

.comment-body {
  padding: 10px;
  line-height: 1.5em;
}

.text-primary {
  color: #409EFF !important;
}

.text-success {
  color: #67C23A !important;
}

.text-warning {
  color: #E6A23C !important;
}

.text-danger {
  color: #F56C6C !important;
}

.text-info {
  color: #909399 !important;
}

.left-menu {
  margin-left: -20px !important;
  &.el-menu {
    border: none;
    .el-menu-item {
      background-color: #fafafa;
      border-radius: 0 100px 100px 0;
      &:hover, &.is-active {
        background-color: ghostwhite;
      }
    }
  }
}

.el-menu--horizontal {
  .el-menu-item, .el-submenu__title {
    color: #57585a !important;
    border: none !important;
    &:hover {
      color: #2a2b2d !important;
    }
    &.is-active {
      border: none !important;
    }
  }
}

.mobile-left-menu {
  margin-left: 0px !important;
  overflow: auto;
  white-space: nowrap;
  &.el-menu {
    .el-menu-item {
      display: inline-block;
      border-radius: 100px;
    }
  }
}

.striped-list {
  .element-list {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    transition: all ease 0.3s;
    &:hover {
      background-color: #f8f8ff;
    }
  }
}

.pointer {
  cursor: pointer;
}


.v-tour {
  .v-step {
    z-index: 1000;
  }
}
