<template>
  <div class="article-body">
    <div class="mb-4">
      <c-action-button
        @click.native="$router.push('/statistics/feedbacks')"
        type="primary">Previous</c-action-button>
    </div>
    <div class="mb-3">
      <div class="h3">{{ $t("lang.feedbackForm.q1.label") }}</div>
      <div>{{ feedback.questionOne }}</div>
    </div>
    <div class="mb-3">
      <div class="h3">{{ $t("lang.feedbackForm.q2.label") }}</div>
      <div>{{ feedback.questionTwo }}</div>
    </div>
    <div class="mb-3">
      <div class="h3">{{ $t("lang.feedbackForm.q3.label") }}</div>
      <div>{{ feedback.questionThree }}</div>
    </div>
    <div class="mb-3">
      <div class="h3">{{ $t("lang.feedbackForm.q4.label") }}</div>
      <div>{{ feedback.questionFour }}</div>
    </div>
    <div class="mb-3">
      <div class="h3">{{ $t("lang.feedbackForm.q5.label") }}</div>
      <div>{{ feedback.questionFive }}</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: [
      'super_admin',
      'admin',
      'committee_member',
      'native_committee_member'
    ]
  },
  name: 'Id',
  data: () => ({
    feedback: {}
  }),
  methods: {
    ...mapActions({
      fetchFeedback: 'users/FETCH_FEEDBACK'
    })
  },
  async mounted() {
    try {
      const result = await this.fetchFeedback(this.$route.params.id);
      this.feedback = result.docs;
    } catch (e) {
      this.$notifications.auto(e.response.data);
      throw e;
    }
  }
};
</script>

<style scoped>
</style>
