<template>
  <div>
    <div>
      <div class="mb-1">
        <span class="text-bold">{{ `${this.$t('lang.general.question')} 1` }}</span>: {{ this.$t('lang.feedbackForm.q1.label') }}
      </div>
      <div class="mb-1">
        <span class="text-bold">{{ `${this.$t('lang.general.question')} 2` }}</span>: {{ this.$t('lang.feedbackForm.q2.label') }}
      </div>
      <div class="mb-1">
        <span class="text-bold">{{ `${this.$t('lang.general.question')} 3` }}</span>: {{ this.$t('lang.feedbackForm.q3.label') }}
      </div>
      <div class="mb-1">
        <span class="text-bold">{{ `${this.$t('lang.general.question')} 4` }}</span>: {{ this.$t('lang.feedbackForm.q4.label') }}
      </div>
    </div>
    <el-search-table-pagination
      ref="resourcesTable"
      :fetch="fetchTable"
      page-index-key="page"
      page-size-key="limit"
      list-field="docs"
      total-field="totalDocs"
      :columns="columns">
      <template
        slot="language"
        slot-scope="{ row }">
        {{ row.lang }}
      </template>
      <template
        slot="question1"
        slot-scope="{ row }">
        {{ row.questionOne }}/5
      </template>
      <template
        slot="question2"
        slot-scope="{ row }">
        {{ row.questionTwo }}/5
      </template>
      <template
        slot="question3"
        slot-scope="{ row }">
        {{ $t(`lang.general.${row.questionThree}`) }}
      </template>
      <template
        slot="question4"
        slot-scope="{ row }">
        {{ row.questionFour }}/5
      </template>
      <template
        slot="actions"
        slot-scope="{ row }">
        <el-button
          @click="$router.push(`/statistics/feedbacks/${row._id}`)"
          size="mini"
          type="primary"
          icon="el-icon-view"
          circle/>
      </template>
    </el-search-table-pagination>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: [
      'super_admin',
      'admin',
      'committee_member',
      'native_committee_member'
    ]
  },
  name: 'Index',
  components: {
    PartnersForm: () => import('~/components/resources/ResourcesForm')
  },
  data: () => ({
    columns: [
      {
        slotName: 'language',
        prop: 'lang',
        label: 'Language',
        align: 'center'
      },
      {
        slotName: 'question1',
        prop: 'questionOne',
        label: 'Question 1',
        align: 'center'
      },
      {
        slotName: 'question2',
        prop: 'questionTwo',
        label: 'Question 2',
        align: 'center'
      },
      {
        slotName: 'question3',
        prop: 'questionThree',
        label: 'Question 3',
        align: 'center'
      },
      {
        slotName: 'question4',
        prop: 'questionFour',
        label: 'Question 4',
        align: 'center'
      },
      {
        slotName: 'actions',
        prop: 'actions',
        label: 'Actions',
        align: 'right'
      }
    ]
  }),
  methods: {
    ...mapActions({
      fetchFeebacks: 'users/FETCH_FEEDBACKS'
    }),
    async fetchTable(data) {
      try {
        const result = await this.fetchFeebacks(data);
        return result;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  }
};
</script>

<style scoped>
</style>
