<template>
  <container>
    <div class="article-body mt-5 mb-1 px-2 text-center">
      Due to its European dimension, arpa-ageing is an open-source platform, free of use and without advertising or funding. If you are interested in becoming a partner in this European project and help it grow, you can contact <a href="mailto:contact@arpa-ageing.eu">contact@arpa-ageing.eu</a>.
    </div>
  </container>
</template>

<script>
export default {
  name: 'Index'
};
</script>
