<template>
  <container
    full>
    <resource-view
      :committee-view="[1, 2, 4, 5].includes(resource.resourceStatus)"
      :display-status="true"
      :is-event="resource.resourceType === 3"
      :comment-section="false"
      :resource="resource"/>
    <div
      v-if="!isReport">
      <div
        class="text-center common-text">
        <div
          style="max-width: 600px; margin: 0 auto">
          <p>This resource has the
            <el-tag
              :type="_.get(rowStatus(resource.resourceStatus), 'type')">
              {{ _.get(rowStatus(resource.resourceStatus), 'name') }}
            </el-tag>
            status.
          </p>
          <!-- VALIDATING -->
          <p
            v-if="resource.resourceStatus === 1">
            Yon can <span class="text-bold">Reject</span> the resource. It will have the <span class="text-italic">rejected</span> status. Or you can <span class="text-bold">Publish</span> and the resource will be immediately <span class="text-italic">published</span>.
          </p>
          <!-- REJECTED -->
          <p
            v-if="resource.resourceStatus === 2">
            Yon can <span class="text-bold">Publish</span> to let appear the resource from public view.
          </p>
          <!-- PUBLISHED -->
          <p
            v-if="resource.resourceStatus === 3">
            Yon can <span class="text-bold">Reject</span> to remove the resource from public view.
          </p>
          <!-- EDIT VALIDATING -->
          <p
            v-if="resource.resourceStatus === 4">
            Yon can <span class="text-bold">Reject</span> or <span class="text-bold">Publish</span> the edited resource.
          </p>
          <!-- EDIT REJECTED -->
          <p
            v-if="resource.resourceStatus === 5">
            Yon can <span class="text-bold">Publish</span> the edited resource.
          </p>
        </div>
        <div
          class="mt-3">
          <c-action-button
            v-if="[1, 3, 4].includes(resource.resourceStatus)"
            type="danger"
            @click.native="dialog.visible = true">Reject</c-action-button>
          <c-action-button
            v-if="[1, 2, 4, 5].includes(resource.resourceStatus)"
            @click.native="accept()"
            type="success">Publish</c-action-button>
        </div>
        <p class="mt-3 text-italic">
          Every action will notify the author.
        </p>
      </div>
    </div>
    <div
      v-else-if="isReport">
      <div
        class="text-center common-text">
        <div
          style="max-width: 600px; margin: 0 auto">
          <p>
            This resource was reported by an user. You can <span class="text-bold">Approve</span> the report to delete the resource or <span class="text-bold">Reject</span> the report to keep the resource visible by anybody.
          </p>
          <div
            class="mt-3">
            <c-action-button
              type="danger"
              @click.native="rejectResourceReport">Reject</c-action-button>
            <c-action-button
              @click.native="approveResourceReport"
              type="success">Approve</c-action-button>
          </div>
        </div>
      </div>
    </div>
    <c-dialog
      :header="dialog.header"
      :options="dialog.options"
      v-model="dialog.visible">
      <c-form
        :ref="form.ref"
        :data.sync="form"/>
      <template
        slot="actions">
        <c-action-button
          @click.native="dialog.visible = false">
          Cancel
        </c-action-button>
        <c-action-button
          @click.native="reject()"
          type="danger">
          Reject
        </c-action-button>
      </template>
    </c-dialog>
  </container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['native_committee_member', 'committee_member']
  },
  name: 'Article',
  components: {
    ResourceView: () => import('~/components/resources/ResourceView')
  },
  computed: {
    ...mapGetters({
      getState: 'resources/getState'
    }),
    isReport() {
      return this.$route.query.isReport;
    }
  },
  data: () => ({
    resource: {},
    form: {
      inputs: {
        rejectMessage: {
          component: 'cFieldInput',
          options: {
            type: 'textarea'
          },
          value:
            "Sorry, we can't publish your article because it doesn't respect the terms of service of our website."
        }
      }
    },
    dialog: {
      header: {
        title: 'Reject a resource',
        description:
          'Leave a comment to the author to describe why you reject his resource'
      },
      visible: false,
      options: {}
    }
  }),
  async asyncData({ store, route }) {
    try {
      const { docs: resource } = await store.dispatch(
        'resources/FETCH_RESOURCE',
        route.params.slug
      );
      let loadedVersion;
      const status = resource.resourceStatus;
      if ([4, 5].includes(status)) {
        loadedVersion = {
          ...resource,
          ...resource.resourceTmp
        };
      } else {
        loadedVersion = resource;
      }
      return {
        resource: loadedVersion
      };
    } catch (e) {
      // redirect('/404');
    }
  },
  methods: {
    ...mapActions({
      validateResource: 'resources/VALIDATE_RESOURCE',
      approveOrRejectResourceReport: 'resources/APPROVE_REJECT_REPORT_RESOURCE'
    }),
    async accept() {
      const data = {
        accept: true,
        reject: false
      };
      let result;
      try {
        result = await this.validateResource({
          id: this.resource._id,
          data
        });
        this.$notifications.auto(result);
        this.goToCommitteeResources();
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    },
    async reject() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        result = await this.validateResource({
          id: this.resource._id,
          data: {
            ...data,
            accept: false,
            reject: true
          }
        });
        this.$notifications.auto(result);
        this.goToCommitteeResources();
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    },
    goToCommitteeResources() {
      this.$router.push('/committee/resources');
    },
    rowStatus(status) {
      return this.getState(status);
    },
    async approveResourceReport() {
      try {
        const result = await this.approveOrRejectResourceReport({
          id: this.resource._id,
          data: {
            accept: true,
            reject: false
          }
        });
        this.$notifications.auto(result);
        this.$router.push('/committee/reports#resources');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async rejectResourceReport() {
      try {
        const result = await this.approveOrRejectResourceReport({
          id: this.resource._id,
          data: {
            accept: false,
            reject: true
          }
        });
        this.$notifications.auto(result);
        this.$router.push('/committee/reports#resources');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  }
};
</script>

<style>
.action-decision-section {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 10px;
}
</style>
