<template>
  <div>
    <el-tabs
      @tab-click="handleClick"
      v-model="selectedTab">
      <el-tab-pane
        label="Resources"
        name="resources">
        <el-search-table-pagination
          ref="reportedResourcesTable"
          :fetch="fetchReportedResourcesTable"
          page-index-key="page"
          page-size-key="limit"
          list-field="docs"
          total-field="totalDocs"
          :form-options="reportedResourcesTable.options"
          :columns="reportedResourcesTable.columns">
          <template
            slot-scope="{ row }"
            slot="resourceType">
            <el-tag
              v-if="row.resourceType === 1"
              type="primary">
              <i class="el-icon-document"/>
            </el-tag>
            <el-tag
              v-else-if="row.resourceType === 2"
              type="success">
              <i class="el-icon-news"/>
            </el-tag>
            <el-tag
              v-else-if="row.resourceType === 3"
              type="danger">
              <i class="el-icon-date"/>
            </el-tag>
          </template>
          <template
            slot-scope="{ row }"
            slot="category">
            {{ $t(`lang.categories.${_.get(row, 'category.name')}`) }}
          </template>
          <template
            slot="state"
            slot-scope="{ row }">
            <el-tag
              :type="_.get(rowStatus(row.resourceStatus), 'type')">
              {{ _.get(rowStatus(row.resourceStatus), 'name') }}
            </el-tag>
          </template>
          <template
            slot="actions"
            slot-scope="{ row }">
            <el-button
              @click="$router.push(`/resource/validation/${row._id}?isReport=true`)"
              size="mini"
              type="primary"
              icon="el-icon-view"
              circle/>
          </template>
        </el-search-table-pagination>
      </el-tab-pane>
      <el-tab-pane
        label="Comments"
        name="comments">
        <el-search-table-pagination
          ref="reportedCommentsTable"
          :fetch="fetchReportedCommentsTable"
          page-index-key="page"
          page-size-key="limit"
          list-field="docs"
          total-field="totalDocs"
          :form-options="reportedCommentsTable.options"
          :columns="reportedCommentsTable.columns">
          <template
            slot-scope="{ row }"
            slot="author">
            <avatar-profile
              :id="_.get(row, 'author._id')"
              :firstname="_.get(row, 'author.firstname')"
              :lastname="_.get(row, 'author.lastname')"
              :position-held="_.get(row, 'author.positionHeld')"
              :country="_.get(row, 'author.country.name')"
              :roles="_.get(row, 'author.roles')"
            />
          </template>
          <template
            slot-scope="{ row }"
            slot="publishedDate">
            {{ $moment(row.publishedDate).format('YYYY-MM-DD HH:mm') }}
          </template>
          <template
            slot="actions"
            slot-scope="{ row }">
            <el-button
              @click="$router.push(`/resource/${row.resource}?comment=${row._id}`)"
              size="mini"
              type="primary"
              icon="el-icon-view"
              circle/>
          </template>
        </el-search-table-pagination>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  components: {
    AvatarProfile: () => import('~/components/pages/profiles/AvatarProfile')
  },
  middleware: 'auth-roles',
  meta: {
    roles: ['committee_member', 'native_committee_member']
  },
  name: 'Index',
  data: () => ({
    selectedTab: 'resources',
    defaultTab: 'resources',
    reportedResourcesTable: {
      columns: [
        {
          slotName: 'resourceType',
          prop: 'resourceType',
          label: 'Type',
          align: 'center'
        },
        { prop: 'title', label: 'Title', minWidth: 200 },
        {
          slotName: 'category',
          prop: 'category',
          label: 'Category',
          align: 'center'
        },
        {
          slotName: 'state',
          prop: 'status',
          label: 'State',
          align: 'center'
        },
        {
          slotName: 'actions',
          prop: 'actions',
          label: 'Actions',
          align: 'right'
        }
      ]
    },
    reportedCommentsTable: {
      columns: [
        {
          slotName: 'author',
          prop: 'author',
          label: 'Author',
          align: 'left',
          minWidth: 200
        },
        {
          slotName: 'publishedDate',
          prop: 'publishedDate',
          label: 'Published date'
        },
        {
          slotName: 'actions',
          prop: 'actions',
          label: 'Actions',
          align: 'right'
        }
      ]
    }
  }),
  computed: {
    ...mapGetters({
      getState: 'resources/getState'
    })
  },
  methods: {
    ...mapActions({
      fetchCommitteeResources: 'resources/FETCH_COMMITTEE_RESOURCES',
      fetchCommitteeComments: 'resources/FETCH_COMMITTEE_COMMENTS'
    }),
    rowStatus(status) {
      return this.getState(status);
    },
    async fetchReportedResourcesTable(data) {
      try {
        return this.fetchCommitteeResources({
          ...data,
          isReported: true
        });
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async fetchReportedCommentsTable(data) {
      try {
        return this.fetchCommitteeComments({
          ...data,
          isReported: true
        });
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    handleClick() {
      this.$router.push(`#${this.selectedTab}`);
    },
    initialize() {
      this.selectedTab = this.$route.hash.substr(1) || this.defaultTab;
    }
  },
  mounted() {
    this.initialize();
  },
  watch: {
    '$route.hash'() {
      this.initialize();
    }
  }
};
</script>

<style scoped>
</style>
