<template>
  <div>
    <partners-form
      :on-cancel="goToPartners"
      :on-success="goToPartners"
      :partner="partner"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Partner',
  components: {
    PartnersForm: () => import('~/components/admin/PartnersForm')
  },
  data: () => ({
    partner: {}
  }),
  methods: {
    ...mapActions({
      fetchSponsor: 'sponsors/FETCH_SPONSOR'
    }),
    goToPartners() {
      this.$router.push('/admin/partners');
    },
    async initialize() {
      if (!this.$route.params.slug) return;
      try {
        const result = await this.fetchSponsor(this.$route.params.slug);
        this.partner = result.docs;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {
    this.initialize();
  }
};
</script>

<style scoped>
</style>
