<template>
  <div>
    <members-form
      :on-cancel="goToMembers"
      :on-success="goToMembers"
      :member="member"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Report',
  components: {
    MembersForm: () => import('~/components/admin/MembersForm')
  },
  data: () => ({
    member: {}
  }),
  methods: {
    ...mapActions({
      fetchMember: 'about/FETCH_MEMBER'
    }),
    goToMembers() {
      this.$router.push('/admin/about#members');
    },
    async initialize() {
      if (!this.$route.params.slug) return;
      try {
        const result = await this.fetchMember(this.$route.params.slug);
        this.member = result.docs;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {
    this.initialize();
  }
};
</script>

<style scoped>
</style>
