<template xmlns:date-item="http://www.w3.org/1999/html">
  <container
    full>
    <no-ssr>
      <div
        style="padding: 0 20px 20px 20px">
        <div
          v-if="loggedIn"
          class="text-center">
          <p
            class="common-text mb-3">
            The calendar bellow shows you all events published by the ARPA community.
          </p>
          <c-action-button
            class="mb-2"
            type="primary"
            @click.native="$router.push('/profile/resources/create?type=3')">
            Create event
          </c-action-button>
        </div>
      </div>
      <vue-fullcalendar
        :class="{
          'mobile-calendar': $mq | ['xs', 'sm'].includes($mq)
        }"
        local="fr"
        @changeMonth="fetchMonthEvents"
        @eventClick="displayEventSummary"
        :events="events"/>
      <c-dialog
        :header="dialog.header"
        :options="dialog.options"
        v-model="dialog.visible">
        <div
          class="text-center">
          <date-item
            :event="{
              startDate: selectedEvent.startDate,
              endDate: selectedEvent.endDate
          }"/>
        </div>
        <div
          :style="{'background-image': `url(${_.get(selectedEvent, 'image')})` }"
          class="summary-thumbnail"/>
        <p
          class="article-body mt-3">
          {{ _.get(selectedEvent, 'shortDescription') }}
        </p>
        <template
          slot="actions">
          <c-action-button
            @click.native="dialog.visible = false">
            Close
          </c-action-button>
          <c-action-button
            @click.native="$router.push(`/resource/${selectedEvent._id}`)"
            type="primary">
            See more
          </c-action-button>
        </template>
      </c-dialog>
    </no-ssr>
  </container>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';
export default {
  name: 'Index',
  components: {
    DateItem: () => import('~/components/resources/DateItem')
  },
  data: () => ({
    dialog: {
      visible: false,
      header: {
        title: '',
        description: null
      },
      options: {}
    },
    events: [],
    selectedEvent: {}
  }),
  methods: {
    ...mapActions({
      fetchResource: 'resources/FETCH_RESOURCE'
    }),
    async displayEventSummary($event) {
      if (!$event.data) return;
      this.selectedEvent = $event.data;
      this.dialog.header.title = this._.get($event, 'title');
      this.dialog.visible = true;
    },
    async fetchMonthEvents(startDate, endDate) {
      try {
        const result = await this.$store.dispatch('resources/FETCH_RESOURCES', {
          resourceType: 3,
          limit: 250,
          page: 1,
          startDate: moment(startDate)
            // .add(7, 'd')
            .format('YYYY-MM-DD'),
          endDate: moment(endDate)
            // .add(7, 'd')
            .format('YYYY-MM-DD')
        });
        if (!result) return;
        this.events = result.docs.map(e => ({
          title: e.title,
          start: e.startDate,
          end: e.endDate,
          data: {
            ...e
          }
        }));
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    mounted() {}
  }
};
</script>

<style lang="scss">
.summary-thumbnail {
  background-position: center center;
  background-size: cover;
  height: 150px;
  width: 100%;
}
.red {
  background: rgb(235, 77, 77) !important;
  color: whitesmoke !important;
}
.blue {
  background: rgb(59, 59, 163) !important;
  color: whitesmoke !important;
}
.orange {
  background: orange !important;
  color: white !important;
}
.green {
  background: rgb(49, 155, 49) !important;
  color: white !important;
}
.event-item {
  padding: 2px 0 2px 4px !important;
}
.comp-full-calendar {
  max-height: 100% !important;
  max-width: 100% !important;
  min-width: 300px !important;
  min-height: 300px !important;
  width: 100vw !important;
  &.mobile-calendar {
    .full-calendar-header {
      .header-center {
        .title {
          font-size: 18px !important;
        }
        .next-month,
        .prev-month {
          font-size: 20px !important;
        }
      }
    }
    .weeks {
      .week {
        font-size: 18px !important;
      }
    }
    .dates {
      .week-row {
        height: 50px !important;
      }
      .day-number {
        font-size: 16px !important;
        font-weight: 300;
      }
      .dates-events {
        .events-week {
          .event-item {
            height: 31px !important;
            line-height: 27px !important;
            opacity: 0.8;
            font-size: 17px !important;
            font-weight: 300 !important;
            &:hover {
              opacity: 1;
            }
          }
          .events-day {
            min-height: 50px !important;
          }
        }
      }
      .week-row {
        .day-cell {
          min-height: 50px !important;
        }
      }
    }
  }
  * {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .full-calendar-header {
    .header-center {
      flex: auto !important;
      .title {
        display: inline-block;
        font-size: 20px;
        font-weight: 300;
        width: 200px !important;
      }
      .next-month,
      .prev-month {
        font-size: 22px;
        font-weight: 800;
      }
    }
  }
  .full-calendar-body {
    .more-events {
      width: 300px;
      .more-header {
        .title {
          font-size: 20px;
          font-weight: 300;
        }
      }
      .more-body {
        background-color: white;
        .body-item {
          height: 31px !important;
          line-height: 27px !important;
          opacity: 0.8;
          font-size: 17px !important;
          font-weight: 300 !important;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .weeks {
      .week {
        font-size: 20px;
        font-weight: 300;
      }
    }
    .dates {
      .week-row {
        height: 150px;
      }
      .day-number {
        font-size: 20px;
        font-weight: 300;
      }
      .dates-events {
        .events-week {
          .event-item {
            height: 31px !important;
            line-height: 27px !important;
            opacity: 0.8;
            font-size: 17px !important;
            font-weight: 300 !important;
            &:hover {
              opacity: 1;
            }
          }
          .events-day {
            min-height: 150px;
          }
        }
      }
    }
  }
}
</style>
