<template>
  <el-button
    :round="!circle"
    :loading="loading"
    :icon="icon"
    :circle="circle"
    :type="type || ''">
    <slot name="default"/>
  </el-button>
</template>

<script>
export default {
  name: 'CActionButton',
  props: {
    label: {
      type: String,
      required: false,
      default: null
    },
    type: {
      type: String,
      required: false,
      default: null
    },
    circle: {
      type: Boolean,
      required: false,
      default: false
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    icon: {
      type: String,
      required: false,
      default: ''
    }
  }
};
</script>

<style scoped>
</style>
