<template>
  <div class="like-button">
    <el-button
      v-if="loggedIn"
      type="text"
      @click="sendLike"
      :style="`color: ${propLike ? '#e6a23c' : '#303133'};`"
      class="bookmark border-0 pb-0 pt-0"
      :icon="`el-icon-star-${propLike ? 'on' : 'off'}`"/>
    <el-button
      v-else
      type="text"
      @click="dialog.visible = true"
      :style="{color: '#303133'}"
      class="bookmark border-0 pb-0 pt-0"
      icon="el-icon-star-off"/>
    <c-dialog
      :header="dialog.header"
      v-model="dialog.visible"
      center>
      <p>Only connected user can like resources :)</p>
      <template
        slot="actions"
        class="dialog-footer">
        <el-button @click="dialog.visible = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="$router.push('/login')">Go to login page</el-button>
      </template>
    </c-dialog>
  </div>
</template>

<script>
export default {
  name: 'CLikeButton',
  props: {
    idResource: {
      type: String,
      required: true
    },
    isLiked: {
      type: Boolean,
      required: true
    }
  },
  data: () => ({
    like: null,
    dialog: {
      visible: false,
      header: {
        title: 'You are not logged in'
      }
    }
  }),
  computed: {
    propLike() {
      return this.like || (this.like === null && this.isLiked);
    }
  },
  methods: {
    async sendLike() {
      this.like = !this.propLike;
      try {
        const result = await this.$store.dispatch(
          `resources/${this.propLike ? 'ADD_LIKE' : 'DELETE_LIKE'}`,
          this.idResource
        );
        this.$notifications.auto(result);
      } catch (e) {
        this.like = !this.propLike;
        this.$notifications.auto(e.response.data);
      }
    }
  }
};
</script>

<style scoped>
</style>
