<template>
  <container>
    <el-row
      class="flex-justify-center"
      type="flex">
      <el-col
        :span="12"
        :xs="{
          span: 24
        }"
      >
        <el-steps
          class="animated fadeIn"
          :active="active">
          <el-step title="Your ID"/>
          <el-step title="Resend E-Mail"/>
          <el-step title="Password Reset"/>
        </el-steps>
        <el-row
          class="flex-justify-center mt-4"
          type="flex">
          <el-col
            id="loading"
            :span="20">
            <!-- Check ID -->
            <el-card
              class="animated fadeInUp"
              v-if="active === 0">
              <div class="text-center">
                <h2>Reset Your Password</h2>
                <br>
                <p>In order to get instructions to reset your password, please enter your email address associated with your ARPA account</p>
                <br>
              </div>
              <c-form
                :ref="forms.id.ref"
                :data.sync="forms.id">
                <template
                  slot="actions">
                  <c-action-button
                    class="width-full"
                    @click.native="forgotPassword"
                    type="primary">
                    Send Instructions
                  </c-action-button>
                </template>
              </c-form>
            </el-card>
            <!-- Resend E-Mail -->
            <el-card
              class="animated fadeInRight"
              v-else-if="active === 1">
              <div class="text-center">
                <h2>Reset Code Verification</h2>
                <br>
                <p>A link has been sent to your mailbox <b>"{{ forms.id.inputs.email.value }}"</b>. The link will be expired on 24 hours. If you have some trouble, we can send the link to you again.</p>
                <br>
                <el-button
                  @click.native="forgotPassword"
                  class="width-full">
                  Resend E-Mail
                </el-button>
              </div>
            </el-card>
            <!-- Reset Password -->
            <el-card
              class="animated fadeInUp"
              v-else>
              <div class="text-center">
                <h2>Reset Code Verification</h2>
                <br>
                <p>Please enter your new Password</p>
                <br>
              </div>
              <c-form
                :ref="forms.reset.ref"
                :data.sync="forms.reset">
                <template
                  slot="actions">
                  <c-action-button
                    class="width-full"
                    @click.native="resetPassword"
                    type="primary">
                    Confirm
                  </c-action-button>
                </template>
              </c-form>
            </el-card>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </container>
</template>

<script>
import { mapActions } from 'vuex';
import PasswordValidation from 'password-validator';

export default {
  name: 'ForgotPassword',
  data: () => {
    function newPasswordPass(_, value, cb) {
      if (value === '') return cb(new Error('Please enter your password'));

      const schema = new PasswordValidation();
      schema
        .is()
        .min(8)
        .is()
        .max(64)
        .has()
        .lowercase()
        .has()
        .digits()
        .has()
        .not()
        .spaces();

      const failedList = schema.validate(value, { list: true });
      if (failedList.length)
        return cb(
          new Error(
            `Your password must ${
              failedList.includes('min') ? 'be at least 8 characters long' : ''
            }${
              failedList.includes('min') && failedList.includes('digits')
                ? ', and must'
                : ''
            } ${failedList.includes('digits') ? 'have one digit' : ''} `
          )
        );
      return cb();
    }

    function confirmationPass(rule, value, cb) {
      if (value === '') return cb(new Error('Please enter your password'));
      if (data.forms.reset.inputs.newPassword.value !== value)
        return cb(new Error("Password doesn't match"));
      return cb();
    }
    const data = {
      code: '',
      active: 1,
      forgetData: null,
      forms: {
        id: {
          labelPosition: 'top',
          inputs: {
            email: {
              component: 'cFieldInput',
              value: '',
              label: ''
            }
          }
        },
        reset: {
          labelPosition: 'top',
          inputs: {
            newPassword: {
              component: 'cFieldInput',
              value: '',
              label: 'Your new password',
              options: {
                type: 'password',
                placeholder: '*******'
              },
              rules: [
                {
                  required: true,
                  trigger: 'change',
                  validator: newPasswordPass
                }
              ]
            },
            confirmationPassword: {
              component: 'cFieldInput',
              value: '',
              label: 'Confirm your new password',
              options: {
                type: 'password',
                placeholder: '*******'
              },
              rules: [
                {
                  required: true,
                  trigger: 'blur',
                  validator: confirmationPass
                }
              ]
            }
          }
        }
      }
    };
    return data;
  },
  methods: {
    ...mapActions({
      forgot: 'users/FORGOT_PASSWORD',
      reset: 'users/RESET_PASSWORD'
    }),
    async forgotPassword() {
      if (!this.forgetData) {
        const valid = this.$form.validate.call(this, this.forms.id.ref);
        if (!valid) return;
        this.forgetData = this.$form.jsonData.call(this, this.forms.id.ref);
      }

      const loading = this.$loading({
        lock: true,
        fullscreen: false,
        target: '#loading',
        background: 'rgba(255, 255, 255, 0.7)'
      });
      try {
        const result = await this.forgot(this.forgetData);
        this.$notifications.auto(result);
        this.active = 1;
      } catch (e) {
        this.$notifications.auto(e.response.data);
      } finally {
        loading.close();
      }
    },
    async resetPassword() {
      const valid = this.$form.validate.call(this, this.forms.reset.ref);
      const data = this.$form.jsonData.call(this, this.forms.reset.ref);

      if (
        !valid ||
        !this.code.length ||
        data.newPassword !== data.confirmationPassword
      )
        return;

      const loading = this.$loading({
        lock: true,
        fullscreen: false,
        target: '#loading',
        background: 'rgba(255, 255, 255, 0.7)'
      });
      try {
        const result = await this.reset({ ...data, code: this.code });
        this.$notifications.auto(result);
        this.active += 1;
        setTimeout(() => this.$router.push('/login'), 1000);
      } catch (e) {
        this.$notifications.auto(e.response.data);
      } finally {
        loading.close();
      }
    }
  },
  asyncData({ query }) {
    return {
      code: query.confirmation,
      active: query.confirmation ? 2 : 0
    };
  }
};
</script>

<style scoped>
</style>
