<template>
  <container style="max-width: 500px">
    <el-row
      class="flex-justify-center"
      type="flex">
      <el-col>
        <el-tabs
          @tab-click="handleClick"
          v-model="selectedTab">
          <el-tab-pane
            :label="$t('lang.navBar.signIn')"
            name="authentificate">
            <c-form
              :ref="loginForm.ref"
              :data.sync="loginForm">
              <template
                slot="actions">
                <c-action-button
                  @click.native="$router.push('/login#register')">
                  Register
                </c-action-button>
                <c-action-button
                  @click.native="login()"
                  type="primary"
                  action="connect">
                  Login
                </c-action-button>
              </template>
            </c-form>
            <div
              class="text-right">
              <el-button
                @click="$router.push('/login/forgotPassword')"
                type="text">
                Forgot your password?
              </el-button>
            </div>
          </el-tab-pane>
          <el-tab-pane
            :label="$t('lang.navBar.signUp')"
            name="register">
            <c-form
              :ref="registerForm.ref"
              :data.sync="registerForm">
              <template
                slot="actions">
                <c-action-button
                  @click.native="$router.push('/login')"
                >
                  Login
                </c-action-button>
                <c-action-button
                  @click.native="register()"
                  type="primary"
                  action="connect">
                  Register
                </c-action-button>
              </template>
            </c-form>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
  </container>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import isEmail from 'validator/lib/isEmail';
import PasswordValidation from 'password-validator';
import lodash from 'lodash';

export default {
  name: 'Index',
  data: () => {
    function confirmationPass(rule, value, cb) {
      if (value === '') return cb(new Error('Please enter your password'));
      if (data.registerForm.inputs.password.value !== value)
        return cb(new Error("Password doesn't match"));
      return cb();
    }
    function checkAge(rule, value, cb) {
      if (value) return cb();
      return cb(new Error('You need to be major to register on ARPA-Ageing'));
    }
    const data = {
      selectedTab: 'authentificate',
      defaultTab: 'authentificate',
      loginForm: {
        labelPosition: 'left',
        inputs: {
          email: {
            label: 'Email',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'abcd@domain.com',
              clearable: true,
              prefixIcon: 'el-icon-message',
              autofocus: true
            },
            rules: [
              {
                required: true,
                message: 'Please enter your email',
                trigger: 'blur'
              }
            ]
          },
          password: {
            label: 'Password',
            component: 'cFieldInput',
            options: {
              type: 'password',
              placeholder: '********',
              clearable: true,
              prefixIcon: 'el-icon-more',
              autofocus: true
            },
            rules: [
              {
                required: true,
                message: 'Please enter your password'
              }
            ]
          }
        }
      },
      registerForm: {
        labelPosition: 'left',
        inputs: {
          firstname: {
            label: 'Firstname',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'Jean',
              clearable: true,
              autofocus: false
            },
            rules: [
              {
                required: true,
                message: 'Please enter your lastname',
                trigger: 'blur'
              }
            ]
          },
          lastname: {
            label: 'Lastname',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'DURAND',
              clearable: true,
              autofocus: true
            },
            rules: [
              {
                required: true,
                message: 'Please enter your lastname',
                trigger: 'blur'
              }
            ]
          },
          email: {
            label: 'Email',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'abcd@domain.com',
              clearable: true,
              prefixIcon: 'el-icon-message',
              autofocus: false
            },
            rules: [
              {
                required: true,
                trigger: 'blur',
                validator(_, value, cb) {
                  if (!lodash.get(value, 'length'))
                    return cb(new Error('Please enter your email'));
                  if (!isEmail(value))
                    return cb(new Error('Please a valid email'));
                  cb();
                }
              }
            ]
          },
          password: {
            label: 'Password',
            component: 'cFieldInput',
            options: {
              type: 'password',
              placeholder: '********',
              clearable: true,
              prefixIcon: 'el-icon-more',
              autofocus: false
            },
            rules: [
              {
                required: true,
                trigger: 'change',
                validator(_, value, cb) {
                  if (value === '')
                    return cb(new Error('Please enter your password'));

                  const schema = new PasswordValidation();
                  schema
                    .is()
                    .min(8)
                    .is()
                    .max(64)
                    .has()
                    .lowercase()
                    .has()
                    .digits()
                    .has()
                    .not()
                    .spaces();

                  const failedList = schema.validate(value, { list: true });
                  if (failedList.length)
                    return cb(
                      new Error(
                        `Your password must ${
                          failedList.includes('min')
                            ? 'be at least 8 characters long'
                            : ''
                        }${
                          failedList.includes('min') &&
                          failedList.includes('digits')
                            ? ', and must'
                            : ''
                        } ${
                          failedList.includes('digits') ? 'have one digit' : ''
                        } `
                      )
                    );
                  return cb();
                }
              }
            ]
          },
          passwordConfirmation: {
            label: 'Confirmation',
            component: 'cFieldInput',
            options: {
              type: 'password',
              placeholder: '********',
              clearable: true,
              prefixIcon: 'el-icon-more',
              autofocus: false
            },
            rules: [
              {
                required: true,
                trigger: 'blur',
                validator: confirmationPass
              }
            ]
          },
          isProfessional: {
            component: 'cFieldCheckbox',
            options: {
              disabled: false,
              size: 'medium',
              button: false,
              items: [
                {
                  text: 'You are a professional',
                  label: false,
                  disabled: false,
                  border: false,
                  size: 'medium'
                }
              ]
            },
            conditional: [
              {
                value: false,
                fields: {
                  professionalDocument: {
                    state: 'hidden'
                  },
                  isAgreeAppearProfessionalContactBook: {
                    state: 'hidden'
                  },
                  isAgreeWithContactRequest: {
                    state: 'hidden'
                  },
                  positionHeld: {
                    state: 'hidden'
                  }
                }
              }
            ],
            value: false
          },
          positionHeld: {
            label: 'Position held',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'Doctor',
              clearable: true,
              autofocus: false
            }
          },
          professionalDocument: {
            label: 'Professional document',
            component: 'cFieldUpload',
            options: {
              action: '/api/file',
              message: 'Drop file here or click to choose',
              hint: 'png, jpg, pdf, less than 3 mo.',
              info:
                'An attachment is needed to proof that you are a health professional (certification, diploma, visit card...)',
              multiple: false,
              drag: false,
              accept: '.jpg,.png,.pdf',
              limit: 1,
              listType: 'picture',
              autoUpload: true,
              weightLimit: 3
            },
            value: [],
            rules: [
              {
                required: true,
                message: 'Please select a professional document',
                trigger: 'blur'
              }
            ]
          },
          isAgreeAppearProfessionalContactBook: {
            component: 'cFieldCheckbox',
            options: {
              disabled: false,
              size: 'medium',
              button: false,
              items: [
                {
                  text: 'I agree to appear in professional book',
                  label: false,
                  disabled: false,
                  border: false,
                  size: 'medium'
                }
              ]
            },
            value: false
          },
          isAgreeWithContactRequest: {
            component: 'cFieldCheckbox',
            options: {
              disabled: false,
              size: 'medium',
              button: false,
              items: [
                {
                  text: 'Receive contact requests from other users',
                  label: false,
                  disabled: false,
                  border: false,
                  size: 'medium'
                }
              ]
            },
            value: false
          },
          description: {
            label: 'Description',
            component: 'cFieldInput',
            options: {
              type: 'textarea',
              placeholder: 'What about you?',
              clearable: true,
              autofocus: false,
              autosize: { minRows: 2, maxRows: 4 }
            }
          },
          moreThan18: {
            component: 'cFieldCheckbox',
            options: {
              disabled: false,
              size: 'medium',
              button: false,
              items: [
                {
                  text: "I'm at least 18 years old",
                  label: false,
                  disabled: false,
                  border: false,
                  size: 'medium'
                }
              ]
            },
            value: false,
            rules: [
              {
                required: true,
                trigger: 'change',
                validator: checkAge
              }
            ]
          },
          country: {
            label: 'Country',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              items: []
            },
            value: []
          },
          spokenLanguages: {
            label: 'Spoken languages',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              multiple: true,
              items: []
            },
            value: []
          }
        }
      }
    };
    return data;
  },
  methods: {
    ...mapActions({
      registerUser: 'users/REGISTER'
    }),
    handleClick() {
      this.$router.push(`#${this.selectedTab}`);
    },
    initialize() {
      this.selectedTab = this.$route.hash.substr(1) || this.defaultTab;
      this.registerForm.inputs.country.options.items = this.countries.map(
        c => ({
          label: c.name,
          value: c._id
        })
      );
      this.registerForm.inputs.spokenLanguages.options.items = this.languages.map(
        c => ({
          label: c.name,
          value: c._id
        })
      );
    },
    async register() {
      const validate = this.$form.validate.call(this, this.registerForm.ref);
      if (!validate) return;
      const data = this.$form.jsonData.call(this, this.registerForm.ref);
      let result;
      try {
        result = await this.registerUser(data);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      try {
        await this.$auth.loginWith('local', {
          data: {
            email: data.email,
            password: data.password
          }
        });
        this.$notifications.auto(
          {},
          {
            title: 'You are connected',
            message: 'Welcome in ARPA-Ageing',
            type: 'success'
          }
        );
        this.$router.push('/');
      } catch (e) {
        this.$notifications.auto(
          {},
          {
            title: 'Error',
            message: `User's connection failed`,
            type: 'error'
          }
        );
      }
      return result;
    },
    async login() {
      const validate = this.$form.validate.call(this, this.loginForm.ref);
      if (!validate) return;
      const data = this.$form.jsonData.call(this, this.loginForm.ref);
      try {
        await this.$auth.loginWith('local', {
          data: {
            email: data.email,
            password: data.password
          }
        });
        this.$router.push('/');
        this.$notifications.auto(
          {},
          {
            title: 'You are connected',
            message: 'Welcome in ARPA-Ageing',
            type: 'success'
          }
        );
      } catch (e) {
        this.$notifications.auto(
          {},
          {
            title: 'Error',
            message: `User's connection failed`,
            type: 'error'
          }
        );
        throw e;
      }
      return true;
    }
  },
  computed: {
    ...mapGetters({
      countries: 'countries/countries',
      languages: 'countries/languages'
    })
  },
  mounted() {
    this.initialize();
  },
  watch: {
    '$route.hash'() {
      this.initialize();
    }
  }
};
</script>

<style scoped>
</style>
