<template>
  <div>
    <div
      class="text-right">
      <c-action-button
        @click.native="$router.push('/admin/users/create')"
        type="primary">Add</c-action-button>
    </div>
    <el-search-table-pagination
      ref="usersTable"
      :fetch="fetchUsersTable"
      page-index-key="page"
      page-size-key="limit"
      list-field="docs"
      total-field="totalDocs"
      :form-options="formOptions"
      :columns="columns">
      <template
        slot="actions"
        slot-scope="{ row }">
        <el-button
          @click="$router.push(`/admin/users/edit/${row._id}`)"
          size="mini"
          type="primary"
          icon="el-icon-edit"
          circle/>
      </template>
    </el-search-table-pagination>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Index',
  computed: {
    ...mapGetters({
      getState: 'users/getState'
    })
  },
  data: () => ({
    formOptions: {
      inline: true,
      submitBtnText: 'Search',
      forms: [
        {
          prop: 'search',
          label: 'Keywords',
          itemType: 'input'
        }
      ]
    },
    columns: [
      { prop: 'lastname', label: 'Lastname', minWidth: 140 },
      { prop: 'firstname', label: 'Firstname', minWidth: 180 },
      { prop: 'email', label: 'Email', minWidth: 200 },
      {
        slotName: 'actions',
        prop: 'actions',
        label: 'Actions',
        minWidth: 100,
        align: 'right'
      }
    ]
  }),
  methods: {
    ...mapActions({
      fetchUsers: 'users/FETCH_USERS',
      deleteUser: 'users/DELETE_USER'
    }),
    async fetchUsersTable(data) {
      try {
        return this.fetchUsers(data);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    rowStatus(status) {
      return this.getState(status);
    },
    async remove(id) {
      try {
        const result = await this.deleteUser(id);
        this.$refs.usersTable.searchHandler(false);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {}
};
</script>

<style scoped>
</style>
