<template>
  <div>
    <users-form
      :on-cancel="goToUsers"
      :on-success="goToUsers"/>
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Resource',
  components: {
    UsersForm: () => import('~/components/admin/UsersForm')
  },
  methods: {
    goToUsers() {
      this.$router.push('/admin/users');
    }
  }
};
</script>

<style scoped>
</style>
