<template>
  <el-row
    class="text-center py-4"
    justify="space-between">
    <el-col
      :lg="6"
      style="color: #7f828b;"
      class="my-4">
      <a href="https://gitlab.com/cnpsaintmartin/arpa-network">ARPA  v{{ version }}</a>
    </el-col>
    <el-col :lg="10">
      <!-- Legal Mention -->
      <div class="legal-mention">
        <span>
          <el-button
            @click="$router.push('/legalsNotice')"
            type="text">Legal mention</el-button>
        </span>
        -
        <span>
          <el-button
            @click="$router.push('/termsOfService')"
            type="text">Terms of service</el-button>
        </span>
        <p>This website is for information only, if you are having an emergency please call 112</p>
        <br>
        <p>© Copyright ARPA {{ $moment().year() }}</p>
      </div>
    </el-col>
    <el-col
      :lg="6"
      class="mx-auto">
      <img
        class="ml-n6"
        height="70vh"
        src="~/assets/eplogo.png"
        alt="">
    </el-col>
  </el-row>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Footer',
  components: {
    LanguageSelector: () => import('~/components/utils/LanguageSelector')
  },
  computed: {
    ...mapGetters(['version'])
  }
};
</script>

<style scoped>
.legal-mention {
  color: #7f828b;
  line-height: 1.6;
}
</style>
