<template>
  <c-dialog
    :header="dialog.header"
    :options="dialog.options"
    v-model="feedbackDialog">
    <el-alert
      class="mb-5 feedback-title"
      :title="$t('lang.feedbackForm.title')"
      type="info"
      :closable="false"
      :description="$t('lang.feedbackForm.text')"
      show-icon/>
    <div class="d-flex mb-2">
      <span class="mr-3 text-bold">
        {{ $t('lang.feedbackForm.chooseLanguage') }}
      </span>
      <language-selector/>
    </div>
    <hr>
    <c-form
      :ref="form.ref"
      :data.sync="form"/>
    <template
      slot="actions">
      <c-action-button
        @click.native="feedbackDialog = false">
        {{ $t('lang.general.cancel') }}
      </c-action-button>
      <c-action-button
        @click.native="send()"
        type="primary">
        {{ $t('lang.general.send') }}
      </c-action-button>
    </template>
  </c-dialog>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
import { mapActions } from 'vuex';
export default {
  name: 'AppFeedback',
  components: {
    LanguageSelector: () => import('~/components/utils/LanguageSelector')
  },
  data: () => ({
    dialog: {
      header: {}
    },
    form: {
      labelPosition: 'top',
      inputs: {
        questionOne: {
          labelTranslation: 'lang.feedbackForm.q1.label',
          component: 'cFieldRadio',
          options: {
            size: 'small',
            button: true,
            items: [
              {
                label: '1',
                border: true
              },
              {
                label: '2',
                border: true
              },
              {
                label: '3',
                border: true
              },
              {
                label: '4',
                border: true
              },
              {
                label: '5',
                border: true
              }
            ]
          },
          rules: [
            {
              required: true,
              message: 'Please choose an answer',
              trigger: 'blur'
            }
          ],
          value: null
        },
        questionTwo: {
          labelTranslation: 'lang.feedbackForm.q2.label',
          component: 'cFieldRadio',
          options: {
            size: 'small',
            button: true,
            items: [
              {
                label: '1',
                border: true
              },
              {
                label: '2',
                border: true
              },
              {
                label: '3',
                border: true
              },
              {
                label: '4',
                border: true
              },
              {
                label: '5',
                border: true
              }
            ]
          },
          rules: [
            {
              required: true,
              message: 'Please choose an answer',
              trigger: 'blur'
            }
          ],
          value: null
        },
        questionThree: {
          labelTranslation: 'lang.feedbackForm.q3.label',
          component: 'cFieldRadio',
          options: {
            size: 'small',
            button: true,
            items: [
              {
                labelTranslation: 'lang.general.yes',
                border: true
              },
              {
                labelTranslation: 'lang.general.no',
                border: true
              }
            ]
          },
          rules: [
            {
              required: true,
              message: 'Please choose an answer',
              trigger: 'blur'
            }
          ],
          value: null
        },
        questionFour: {
          labelTranslation: 'lang.feedbackForm.q4.label',
          component: 'cFieldRadio',
          options: {
            size: 'small',
            button: true,
            items: [
              {
                label: '1',
                border: true
              },
              {
                label: '2',
                border: true
              },
              {
                label: '3',
                border: true
              },
              {
                label: '4',
                border: true
              },
              {
                label: '5',
                border: true
              }
            ]
          },
          rules: [
            {
              required: true,
              message: 'Please choose an answer',
              trigger: 'blur'
            }
          ],
          value: null
        },
        questionFive: {
          labelTranslation: 'lang.feedbackForm.q5.label',
          component: 'cFieldInput',
          options: {
            placeholderTranslation: 'lang.feedbackForm.q5.placeholder',
            type: 'textarea'
          },
          value: ''
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      sendFeedback: 'users/SEND_FEEDBACK'
    }),
    async send() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = {
        questionOne: parseInt(this.form.inputs.questionOne.value),
        questionTwo: parseInt(this.form.inputs.questionTwo.value),
        questionThree:
          this.$t('lang.general.yes') === this.form.inputs.questionThree.value
            ? true
            : false,
        questionFour: parseInt(this.form.inputs.questionFour.value),
        questionFive: this.form.inputs.questionFive.value,
        lang: this.$i18n.locale
      };
      try {
        const result = await this.sendFeedback(data);
        this.$notifications.auto(result);
        this.feedbackDialog = false;
        // Form reset
        this.form.inputs.questionOne.value = null;
        this.form.inputs.questionTwo.value = null;
        this.form.inputs.questionThree.value = null;
        this.form.inputs.questionFour.value = null;
        this.form.inputs.questionFive.value = '';
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  computed: {
    ...mapFields(['feedbackDialog'])
  }
};
</script>

<style lang="scss">
.feedback-title.el-alert {
  .el-alert__title {
    font-size: 17px;
  }
  .el-alert__description {
    font-size: 16px;
  }
}
</style>
