<script src="../../../languages/fr/lang.js">
</script>
<template>
  <el-header
    class="width-full position-fixed bg-white p-0"
    style="z-index: 10">
    <el-row
      v-if="$mq && $mq.length"
      type="flex"
      justify="space-between"
      style="background-color: white; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); padding: 0 20px">
      <div>
        <no-ssr>
          <menu-bar />
        </no-ssr>
      </div>
      <div
        class="d-flex my-2 flex-justify-end"
        :span="12">
        <no-ssr>
          <div
            class="ma-0 d-flex flex-items-center">
            <language-selector
              class="mr-2"
              mini />
            <el-button
              v-if="$mq && !['xs','sm'].includes($mq)"
              id="tutorial-step-5"
              @click.native="feedbackDialog = true"
              class="mr-2"
              type="text">
              <i class="el-icon-star-on"/>
              {{ $t('lang.navBar.yourOpinion') }}
            </el-button>
            <nuxt-link
              v-if="$mq && !['xs','sm'].includes($mq)"
              :to="loggedIn ? '/profile/resources/create' : '/login'">
              <el-button
                id="tutorial-step-4"
                style="font-size: 16px;"
                type="text">
                <i class="el-icon-plus"/>
                {{ $t('lang.navBar.publish') }}
              </el-button>
            </nuxt-link>
            <div
              class="ml-2"
              v-if="!loggedIn">
              <c-action-button
                @click.native="$router.push('/login#register')"
                v-if="$mq && !['xs', 'sm'].includes($mq)"
                type="success">{{ $t('lang.navBar.signUp') }}</c-action-button>
              <c-action-button
                @click.native="$router.push('/login')"
                type="info">{{ $t('lang.navBar.signIn') }}</c-action-button>
            </div>
            <div
              v-if="loggedIn">
              <nuxt-link
                to="/profile/notifications">
                <el-badge
                  class="mark notif-badge"
                  :hidden="!notificationsCounter"
                  :value="notificationsCounter" >
                  <el-button
                    class="p-0"
                    size="large"
                    type="text">
                    <font-awesome-icon
                      class="notif-icon"
                      icon="bell"/>
                  </el-button>
                </el-badge>
              </nuxt-link>
              <el-dropdown
                class="ml-3"
                :class="{'flex-self-start': $mq && ['xs','sm'].includes($mq)}"
                style="cursor: pointer">
                <div
                  class="flex-justify-center d-flex flex-items-center">
                  <vue-avatar
                    :size="25"
                    :username="`${_.get(user, 'firstname')} ${_.get(user, 'lastname')}`"/>
                  <div
                    class="ml-2">
                    <span class="el-dropdown-link">
                      {{ _.get(user, 'firstname') }}<i class="el-icon-arrow-down el-icon--right"/>
                    </span>
                  </div>
                </div>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item
                    v-if="$roles.check(['admin', 'super_admin'])"
                    @click.native="$router.push('/admin')">{{ $t('lang.navBar.administration') }}</el-dropdown-item>
                  <el-dropdown-item @click.native="$router.push('/profile')">{{ $t('lang.navBar.profile') }}</el-dropdown-item>
                  <el-dropdown-item
                    v-if="$roles.check(['admin', 'super_admin', 'committee_member', 'native_committee_member'])"
                    @click.native="$router.push('/statistics')">{{ $t('lang.navBar.statistics') }}</el-dropdown-item>
                  <el-dropdown-item
                    @click.native="logout()">
                    <span
                      class="text-red">
                      {{ $t('lang.navBar.logout') }}
                    </span>
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
          </div>
        </no-ssr>
      </div>
    </el-row>
  </el-header>
</template>

<script>
import { mapActions } from 'vuex';
import { mapFields } from 'vuex-map-fields';
export default {
  middleware: 'auth-roles',
  meta: {
    role: ['admin', 'super_admin']
  },
  name: 'Header',
  computed: {
    ...mapFields({
      feedbackDialog: 'feedbackDialog'
    })
  },
  components: {
    LanguageSelector: () => import('~/components/utils/LanguageSelector'),
    MenuBar: () => import('~/components/layouts/default/MenuBar'),
    Avatar: () => import('~/components/utils/Avatar')
  },
  data: () => ({
    notificationsCounter: 0
  }),
  methods: {
    ...mapActions({
      fetchNotificationsCounter: 'users/FETCH_NOTIFICATIONS_COUNTER'
    }),
    async logout() {
      this.$auth.logout();
      this.$router.push('/');
    },
    async initialize() {
      setInterval(async () => {
        await this.loadNotificationsCounter();
      }, 5000);
    },
    async loadNotificationsCounter() {
      if (!this.loggedIn) return;
      const count = await this.fetchNotificationsCounter();
      this.notificationsCounter = this._.get(
        count,
        'docs.numberOfNotificationsNotRead'
      );
    }
  },
  async mounted() {
    await this.initialize();
  }
};
</script>

<style lang="scss">
.notif-badge {
  margin-left: 15px;
  .el-badge__content {
    top: 5px !important;
  }
}
.notif-icon {
  font-size: 20px;
}
</style>
