<template>
  <div
    v-if="informationUsageValidate"
    class="information-banner position-fixed animated fadeInUp delay-1s">
    <h2>This website use cookies 🍪</h2>
    <p
      class="article-body condensed"
      :style="$mq | mq({ xs: 'width: 80%', md: 'width: 50%' })"
    >
      A cookie is a small file that can be placed on your device that allows us to recognise and remember you.
      It is sent to your browser and stored on your computer's hard drive or tablet or mobile device. When you visit our site, we may collect information from you automatically through cookies or similar technology.
      For further information about the platform, please <a href="#">read more</a>.
    </p>
    <c-action-button
      type="primary"
      @click.native="validate">I agree</c-action-button>
    <c-action-button
      type="primary"
      @click.native="validateAndTutorial">I agree and show me the tutorial</c-action-button>
  </div>
</template>

<script>
import { mapFields } from 'vuex-map-fields';

export default {
  name: 'AppUsageDialog',
  computed: {
    ...mapFields(['informationUsageValidate'])
  },
  methods: {
    async validateAndTutorial() {
      try {
        await this.$localForage.setItem('informationUsageValidate', false);
        this.informationUsageValidate = false;
        this.$tours['tutorial'].start();
      } catch (e) {
        console.log(e);
      }
    },
    async validate() {
      try {
        await this.$localForage.setItem('informationUsageValidate', false);
        this.informationUsageValidate = false;
      } catch (e) {
        console.error(e);
      }
    }
  },
  async mounted() {
    const validate = await this.$localForage.getItem(
      'informationUsageValidate'
    );
    if (validate || validate === null) this.informationUsageValidate = true;
  }
};
</script>

<style scoped lang="scss">
.information-banner {
  width: 100%;
  text-align: center;
  background: #525252;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
  color: white;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.15);
  p {
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
    text-align: justify;
  }
}
</style>
