<template>
  <div
    v-if="$mq && $mq.length"
    class="d-flex flex-items-center">
    <nuxt-link
      v-if="$mq && !['xs','sm'].includes($mq)"
      style="height: 60px; width: 100px"
      to="/">
      <img
        class="no-drageable d-block"
        src="~/assets/logo.png"
        style="max-height: 60px; max-width: 100%;"
        alt="">
    </nuxt-link>
    <el-button
      v-if="$mq && ['xs','sm'].includes($mq)"
      class="my-2 flex-self-start"
      @click="collapseMenu = !collapseMenu">
      <font-awesome-icon :icon="collapseMenu ? 'times' : 'bars'" />
    </el-button>
    <el-menu
      :class="$mq | mq({ xs: `animated ${collapseMenu? 'fadeIn faster': 'flipOutX d-none'}`, md: ''})"
      :default-active="activeIndex"
      router
      :style="`border-bottom: 0; border-right: 0; ${ $mq && ['xs', 'sm'].includes($mq) ? 'width: 100vw': ''}`"
      :mode="$mq | mq({ xs: 'vertical', md: 'horizontal'})">
      <el-menu-item
        index="/">{{ $t('lang.navBar.home') }}</el-menu-item>
      <el-menu-item
        v-if="aboutSubmenu.length < 1"
        index="/about">{{ $t('lang.navBar.about') }}</el-menu-item>
      <el-submenu
        v-else
        index="/about">
        <template slot="title">
          <nuxt-link
            class="no-style"
            to="/about">
            {{ $t('lang.navBar.about') }}
          </nuxt-link>
        </template>
        <el-menu-item
          v-for="(report, i) in aboutSubmenu"
          :index="`/news/${report._id}`"
          :key="i">{{ report.title }}</el-menu-item>
      </el-submenu>
      <el-menu-item
        index="/agenda">{{ $t('lang.navBar.agenda') }}</el-menu-item>
      <el-menu-item index="/partners">{{ $t('lang.navBar.partners') }}</el-menu-item>
      <el-menu-item index="/contact">{{ $t('lang.navBar.contact') }}</el-menu-item>
      <no-ssr>
        <el-menu-item
          v-if="loggedIn && $roles.check(['professional', 'native_committee_member', 'committee_member'])"
          :index="$roles.check(['professional']) && !$roles.check([ 'native_committee_member', 'committee_member']) ? '/committee/request' : '/committee/resources'">
          {{ $t('lang.navBar.committee') }}
        </el-menu-item>
      </no-ssr>
      <el-menu-item
        index="/profile/resources/create"
        v-if="$mq && ['xs','sm'].includes($mq)">
        <nuxt-link
          :to="loggedIn ? '/profile/resources/create' : '/login'">
          <el-button
            type="text">
            <i class="el-icon-plus"/>
            {{ $t('lang.navBar.publish') }}
          </el-button>
        </nuxt-link>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'MenuBar',
  data: () => ({
    aboutSubmenu: [],
    collapseMenu: false,
    activeIndex: '/'
  }),
  methods: {
    ...mapActions({
      fetchAboutSubmenu: 'about/FETCH_REPORTS'
    })
  },
  async mounted() {
    const { docs } = await this.fetchAboutSubmenu({
      isInNavbar: true
    });
    this.aboutSubmenu = docs || [];
  }
};
</script>

<style scoped>
</style>
