<template>
  <container
    class="common-text">
    <el-row
      :class="{
        'flex-column': $mq && $mq === 'xs'
      }"
      type="flex">
      <el-col
        :span="$mq && $mq === 'xs' ? 24 : 5">
        <h3 class="common-text medium-bold text-uppercase mb-4">Admin</h3>
        <el-menu
          @select="selectActiveIndex($event)"
          class="left-menu"
          :default-active="activeIndex"
          :class="{
            'mobile-left-menu': $mq && $mq === 'xs',
            'mb-4': $mq && $mq === 'xs'
        }">
          <no-ssr>
            <el-menu-item
              @click="scrollToContent('content')"
              v-for="item in admin"
              v-if="!item.roles || (item.roles && $roles.check(item.roles))"
              :key="item.name"
              :index="item.name">
              <span>{{ item.text }}</span>
            </el-menu-item>
          </no-ssr>
        </el-menu>
      </el-col>
      <el-col
        :class="{
          'pl-4': !($mq && $mq === 'xs'),
          'pl-0': $mq && $mq === 'xs'
        }"
        :span="$mq && $mq === 'xs' ? 24 : 19">
        <h3
          class="common-text medium-bold text-uppercase active-index mb-1"
          :ref="'content'">{{ admin.find(u => u.name === activeIndex).text }}</h3>
        <p class="f4-light mb-1">{{ admin.find(u => u.name === activeIndex).description }}</p>
        <hr style="border: 0.75px solid #828282">
        <br>
        <div>
          <nuxt-child/>
        </div>
      </el-col>
    </el-row>
  </container>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Index',
  data: () => ({
    activeIndex: 'data',
    admin: [
      {
        name: 'termsOfService',
        text: 'Terms Of Service',
        icon: '',
        description: 'Edit Terms Of Service'
      },
      {
        name: 'legalsNotice',
        text: 'Legals notice',
        icon: '',
        description: 'Edit Legals notice'
      },
      {
        name: 'authorCodeConduct',
        text: 'Author code conduct',
        icon: '',
        description: 'Edit author code conduct'
      },
      {
        name: 'committeeCodeConduct',
        text: 'Committee code conduct',
        icon: '',
        description: 'Edit committee code conduct'
      },
      {
        roles: ['super_admin'],
        name: 'mailing',
        text: 'E-mail',
        icon: '',
        description: 'Send email'
      },
      {
        name: 'about',
        text: 'About',
        icon: '',
        description: 'Edit ARPA-Ageing project page'
      },
      {
        name: 'partners',
        text: 'Partners',
        icon: '',
        description: 'Manage partners'
      },
      {
        name: 'users',
        text: 'Users',
        icon: '',
        description: 'Manage users'
      }
    ]
  }),
  fetch({ route, redirect }) {
    if (['/admin', '/admin/'].includes(route.fullPath)) {
      return redirect('/admin/termsOfService');
    }
  },
  asyncData({ route }) {
    return {
      activeIndex: route.path.split('/')[2]
    };
  },
  methods: {
    selectActiveIndex(value) {
      this.activeIndex = value;
      this.$router.push(`/admin/${value}`);
    },
    scrollToContent(ref) {
      let item;
      try {
        item = this.$refs[ref];
      } catch (e) {
        // Nothing
      }
      if (!item || !(this.$mq && this.$mq === 'xs')) return;
      this.$scrollTo(item, 300, {
        offset: -70
      });
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 20px !important;
}

.active-index {
  color: #55595c;
  font-weight: bold;
}
</style>
