<template>
  <div>
    <el-tabs
      @tab-click="handleClick"
      v-model="selectedTab">
      <el-tab-pane
        label="Presentation"
        name="arpaProject">
        <arpa-project-form
          :arpa-project="arpaProject"/>
      </el-tab-pane>
      <el-tab-pane
        label="News"
        name="reports">
        <div
          class="text-right">
          <c-action-button
            @click.native="$router.push('/admin/about/reports/create')"
            type="primary">Add news</c-action-button>
        </div>
        <el-search-table-pagination
          ref="reportsTable"
          :fetch="fetchReportsTable"
          page-index-key="page"
          page-size-key="limit"
          list-field="docs"
          total-field="totalDocs"
          :columns="reportsTable.columns">
          <template
            slot="actions"
            slot-scope="{ row }">
            <el-button
              @click.native="removeReport(row._id)"
              size="mini"
              type="danger"
              icon="el-icon-close"
              circle/>
            <el-button
              @click="$router.push(`/admin/about/reports/edit/${row._id}`)"
              size="mini"
              type="primary"
              icon="el-icon-edit"
              circle/>
          </template>
        </el-search-table-pagination>
      </el-tab-pane>
      <el-tab-pane
        label="Members"
        name="members">
        <div
          class="text-right">
          <c-action-button
            @click.native="$router.push('/admin/about/members/create')"
            type="primary">Add member</c-action-button>
        </div>
        <el-search-table-pagination
          ref="membersTable"
          :fetch="fetchMembersTable"
          page-index-key="page"
          page-size-key="limit"
          list-field="docs"
          total-field="totalDocs"
          :columns="membersTable.columns">
          <template
            slot="actions"
            slot-scope="{ row }">
            <el-button
              @click.native="removeMember(row._id)"
              size="mini"
              type="danger"
              icon="el-icon-close"
              circle/>
            <el-button
              @click="$router.push(`/admin/about/members/edit/${row._id}`)"
              size="mini"
              type="primary"
              icon="el-icon-edit"
              circle/>
          </template>
        </el-search-table-pagination>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Index',
  components: {
    ArpaProjectForm: () => import('~/components/admin/ARPAProjectForm')
  },
  computed: {
    ...mapGetters({
      arpaProject: 'about/arpaProject'
    })
  },
  data: () => ({
    selectedTab: 'arpaProject',
    defaultTab: 'arpaProject',
    membersTable: {
      columns: [
        { prop: 'institution', label: 'Institution', minWidth: 140 },
        { prop: 'firstname', label: 'Firstname' },
        { prop: 'lastname', label: 'Lastname' },
        { prop: 'email', label: 'Email' },
        { prop: 'website', label: 'Website' },
        {
          slotName: 'actions',
          prop: 'actions',
          label: 'Actions',
          minWidth: 100,
          align: 'right'
        }
      ]
    },
    reportsTable: {
      columns: [
        { prop: 'title', label: 'Title', minWidth: 140 },
        {
          slotName: 'actions',
          prop: 'actions',
          label: 'Actions',
          minWidth: 100,
          align: 'right'
        }
      ]
    }
  }),
  methods: {
    ...mapActions({
      fetchMembers: 'about/FETCH_MEMBERS',
      deleteMember: 'about/DELETE_MEMBER',
      fetchReports: 'about/FETCH_REPORTS',
      deleteReport: 'about/DELETE_REPORT'
    }),
    async fetchMembersTable(data) {
      try {
        return this.fetchMembers(data);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async fetchReportsTable(data) {
      try {
        return this.fetchReports(data);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async removeMember(id) {
      try {
        const result = await this.deleteMember(id);
        this.$refs.membersTable.searchHandler(false);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async removeReport(id) {
      try {
        const result = await this.deleteReport(id);
        this.$refs.reportsTable.searchHandler(false);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    handleClick() {
      this.$router.push(`#${this.selectedTab}`);
    },
    async initialize() {
      try {
        await this.$store.dispatch('about/FETCH_ARPA_PROJECT');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      this.selectedTab = this.$route.hash.substr(1) || this.defaultTab;
    }
  },
  async mounted() {
    await this.initialize();
  },
  watch: {
    '$route.hash'() {
      this.initialize();
    }
  }
};
</script>

<style scoped>
</style>
