<template>
  <div>
    <div
      v-if="editForm"
      style="max-height: 300px; overflow-y: scroll">
      <no-ssr>
        <vue-json-editorl
          :show-btns="false"
          v-model="data" />
      </no-ssr>
    </div>
    <el-form
      :inline="getOption(data, 'inline', false)"
      :label-position="$mq | mq({ xs: 'top', sm: getOption(data, 'labelPosition', 'left') })"
      :label-width="$mq | mq({
        xs: '0',
        sm: getOption(data, 'labelWidth', inputsToArray.filter(([_, input]) => input.label && input.label.length).length ? '150px' : '0' )
      })"
      :labe-suffix="getOption(data, 'labelSuffix', null)"
      :hide-required-asterisk="getOption(data, 'hideRequiredAsterisk', false)"
      :show-message="getOption(data, 'showMessage', true)"
      :inline-message="getOption(data, 'inlineMessage', false)"
      :status-icon="getOption(data, 'statusIcon', true)"
      :validate-on-rule-change="getOption(data, 'validateOnRuleChange', false)"
      :size="getOption(data, 'size', 'medium')"
      :disabled="getOption(data, 'disabled', false)"
      :model="data.inputs"
      :rules="getFormatedRules"
      :ref="`cForm_${ref}`">
      <el-form-item
        v-for="[path, input] in inputsToArray.filter(([p, o]) => _.get(getConditionalStates(), `${p}.state`) !== 'hidden' )"
        :key="path"
        :prop="`${path}.value`"
        :label="getOption(input, 'labelTranslation', false) ? $t(getOption(input, 'labelTranslation', '')) : getOption(input, 'label', '')">
        <el-row
          type="flex">
          <el-col
            :xl="sheet ? 12 : 24">
            <div
              class="d-flex">
              <template v-if="getOption(input, 'component') !== 'divider'">
                <el-col
                  v-bind="getLayoutOptions(input)">
                  <component
                    :is="getOption(input, 'component', 'cFieldInput')"
                    :value.sync="data.inputs[path].value"
                    :options="getOption(input, 'options', {})"/>
                  <p
                    class="text-gray"
                    v-if="getOption(input, 'options.info')">
                    {{ getOption(input, 'options.info') }}
                  </p>
                </el-col>
                <span
                  v-if="getOption(input, 'buttons')">
                  <el-col
                    v-for="(button, i) of getOption(input, 'buttons')"
                    :key="i"
                    v-bind="getLayoutOptions(button)">
                    <el-button
                      @click.prevent="sendEmit(getOption(button, 'event', 'click'), input)"
                      :size="getOption(button, 'size', 'medium')"
                      :type="getOption(button, 'type', 'primary')"
                      :plain="getOption(button, 'plain', true)"
                      :round="getOption(button, 'round', false)"
                      :loading="getOption(button, 'loading', false)"
                      :icon="getOption(button, 'icon')"
                      :autofocus="getOption(button, 'autofocus', false)"
                      :native-type="getOption(button, 'nativeType', 'button')">
                      {{ getOption(button, 'label', '') }}
                    </el-button>
                  </el-col>
                </span>
              </template>
              <template v-else>
                <div>
                  <h2>{{ getOption(input, 'value') }}</h2>
                </div>
              </template>
              <div
                class="d-flex"
                v-if="getOption(input, 'repeat', false)"
                style="text-align: right">
                <el-button
                  v-if="getOption(input, 'parent', false)"
                  @click="deleteRepeatedField(path, input)"
                  class="my-2 warn"
                  type="text"
                  icon="el-icon-minus"
                  size="medium"
                  circle>
                  Delete
                </el-button>
                <el-button
                  @click="reapeatField(path, input)"
                  class="my-2"
                  type="text"
                  icon="el-icon-plus"
                  size="medium"
                  circle>
                  Add
                </el-button>
              </div>
            </div>
          </el-col>
          <el-col
            style="max-height: 300px; overflow-y: scroll"
            :xl="12"
            v-if="sheet || editFields">
            <vue-json-editor
              v-if="editFields"
              :show-btns="false"
              v-model="data.inputs[path]"/>
            <vue-json-pretty
              v-else-if="sheet"
              :data="input"/>
          </el-col>
        </el-row>
      </el-form-item>
      <div
        class="mb-4">
        <slot
          name="infos"/>
      </div>
      <el-form-item
        class="text-right form-actions">
        <slot
          name="actions"/>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'CForm',
  components: [
    'cFieldInput',
    'cFieldInputNumber',
    'cFieldRadio',
    'cFieldCheckbox',
    'cFieldUpload',
    'cFieldWYSIWYG',
    'cFieldSelect',
    'cFieldImageUpload',
    'cFieldImageGallery',
    'cFieldDatePicker'
  ].reduce(
    (acc, c) => ({
      ...acc,
      [c]: () => import(`~/components/form/fields/${c}`)
    }),
    {}
  ),
  data: () => ({
    form: {},
    rules: {
      name: {
        value: [
          {
            required: true,
            message: 'Please input Activity name',
            trigger: 'blur'
          },
          {
            min: 3,
            max: 5,
            message: 'Length should be 3 to 5',
            trigger: 'blur'
          }
        ]
      }
    },
    ref: null
  }),
  props: {
    sheet: {
      type: Boolean,
      required: false,
      default: false
    },
    editFields: {
      type: Boolean,
      required: false,
      default: false
    },
    editForm: {
      type: Boolean,
      required: false,
      default: false
    },
    data: {
      type: Object,
      required: true
    }
  },
  methods: {
    submit() {
      console.log('SUBMIT');
    },
    /**
     * All options for el-form: https://element.eleme.io/#/en-US/component/form#form-attributes
     * All options for el-row: https://element.eleme.io/#/en-US/component/layout#row-attributes
     * All options for el-col: https://element.eleme.io/#/en-US/component/layout#col-attributes
     */
    getOption(data, path, defaultValue) {
      return this._.get(data, path, defaultValue);
    },
    setRef() {
      if (!this._.get(this.data, 'ref')) {
        this.ref =
          this._.get(this.data, 'ref') ||
          Math.random()
            .toString(36)
            .substr(2, 9);
        this.$set(this.data, 'ref', this.ref);
      } else {
        this.ref = this._.get(this.data, 'ref');
      }
    },
    sendEmit(name, value) {
      this.$emit(name, value);
    },
    // Update value
    update(input) {
      if (typeof input.update !== 'function') return null;
      input.update();
    },
    getJsonData() {
      return {
        ...this.inputsToArray
          .filter(([p, obj]) => {
            const isNotEmpty =
              !obj.ignore &&
              obj.value !== null &&
              obj.value !== '' &&
              obj.value !== undefined &&
              !(Array.isArray(obj.value) && !obj.value.length > 0);
            const isNotHidden =
              this._.get(this.getConditionalStates(), `${p}.state`) !==
              'hidden';
            const hasDefault =
              obj.default !== null && obj.default !== undefined;
            return (isNotEmpty && isNotHidden) || (!isNotEmpty && hasDefault);
          })
          .reduce((a, [key, obj]) => {
            const isNotEmpty =
              !obj.ignore &&
              obj.value !== null &&
              obj.value !== '' &&
              obj.value !== undefined &&
              !(Array.isArray(obj.value) && !obj.value.length > 0);
            const hasDefault =
              obj.default !== null && obj.default !== undefined;
            return {
              [key]: !isNotEmpty && hasDefault ? obj.default : obj.value,
              ...a
            };
          }, {})
      };
    },
    getConditionalStates() {
      return {
        ...this.inputsToArray
          .filter(([, obj]) => Array.isArray(obj.conditional))
          .reduce((a, [, obj]) => {
            return {
              ...this._.get(
                obj.conditional.find(
                  o =>
                    o.value === obj.value ||
                    (o.value === 'NOT NULL' && obj.value)
                ),
                'fields',
                {}
              ),
              ...a
            };
          }, {})
      };
    },
    getFormData() {
      //
    },
    validate() {
      let isFormValid = false;
      try {
        this.$refs[`cForm_${this.ref}`].validate(valid => {
          isFormValid = valid;
        });
      } catch (e) {
        throw e;
      }
      return isFormValid;
    },
    getLayoutOptions(input) {
      const layoutOptions = [
        'span',
        'offset',
        'pull',
        'push',
        'xs',
        'sm',
        'md',
        'lg',
        'xl'
      ];
      return layoutOptions.reduce(
        (acc, option) => ({
          ...acc,
          ...(this.getOption(input, option, false)
            ? {
                [option]: input[option]
              }
            : {})
        }),
        {}
      );
    },
    deleteRepeatedField(path, input) {
      // Transform object to array
      let inputsArray = this.inputsToArray;
      // Find object from inputsArray
      const inputObject = inputsArray.find(
        o => o[0] === path && o[1] === input
      );
      // Remove object from array
      inputsArray.splice(inputsArray.indexOf(inputObject), 1);
      // Reverse order of array to initial display
      inputsArray.reverse();
      // Transform array to object
      const inputsObject = inputsArray.reduce(
        (a, [key, obj]) => ({
          [key]: {
            ...obj
          },
          ...a
        }),
        {}
      );
      this.data.inputs = inputsObject;
    },
    reapeatField(path, input) {
      // Take the original name of the input
      const parentPath = input.parent ? input.parent : path;
      // Unique name for repeated field
      const childIndex = Math.random()
        .toString(36)
        .substr(2, 9);

      /*const pathRegex = new RegExp(
        `(^${parentPath}__[a-zA-Z0-9]*)|(^${parentPath})`,
        'i'
      );*/

      // Input array format to insert in inputsArray
      const newInput = [
        `${parentPath}__${childIndex}`,
        {
          ...input,
          parent: parentPath
        }
      ];
      // Transform object to array
      let inputsArray = this.inputsToArray;
      // Find object from inputsArray
      const inputObject = inputsArray.find(
        o => o[0] === path && o[1] === input
      );
      // Find index in inputsArray
      const inputIndex = inputsArray.indexOf(inputObject);
      // Add new field
      inputsArray.splice(inputIndex + 1, 0, newInput);
      // Reverse order of array to initial display
      inputsArray.reverse();
      // Transform array to object
      const inputsObject = inputsArray.reduce(
        (a, [key, obj]) => ({
          [key]: {
            ...obj
          },
          ...a
        }),
        {}
      );
      this.data.inputs = {
        ...inputsObject
      };
    }
  },
  computed: {
    getFormatedRules() {
      return {
        ...this.inputsToArray.reduce(
          (a, [key, obj]) => ({
            [key]: {
              value: obj.rules
            },
            ...a
          }),
          {}
        )
      };
    },
    inputsToArray() {
      return Object.entries(this.data.inputs);
    }
  },
  mounted() {
    this.setRef();
  }
};
</script>

<style  >
.noOffset {
  margin-left: var(--labelWidth);
}
</style>
