<template>
  <div>
    <members-form
      :on-cancel="goToMembers"
      :on-success="goToMembers"/>
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Report',
  components: {
    MembersForm: () => import('~/components/admin/MembersForm')
  },
  methods: {
    goToMembers() {
      this.$router.push('/admin/about#members');
    }
  }
};
</script>

<style scoped>
</style>
