<template>
  <div>
    <c-dialog
      :header="dialog.header"
      :options="dialog.options"
      v-model="visible">
      <span>
        <avatar-profile
          :id="_.get(data, 'id')"
          :firstname="_.get(data, 'firstname')"
          :lastname="_.get(data, 'lastname')"
          :position-held="_.get(data, 'positionHeld')"
          :country="_.get(data, 'country.name')"
          :roles="_.get(data, 'roles')"/>
        <c-form
          :ref="form.ref"
          class="mt-4"
          :data.sync="form"/>
      </span>
      <div class="mt-n4 width-full">
        <span
          :class="`position-absolute ${form.inputs.message.value.length > 500 ? 'el-alert--error' : ''} `"
          style="margin-right: 22px; background: transparent">{{ form.inputs.message.value.length }} / 500</span>
      </div>

      <template
        slot="actions">
        <c-action-button
          @click.native="visible = false">
          Cancel
        </c-action-button>
        <c-action-button
          @click.native="sendRequest()"
          type="primary">
          Send
        </c-action-button>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { form } from '~/mixins/form';
export default {
  name: 'ContactRequestForm',
  mixins: [form],
  components: {
    AvatarProfile: () => import('~/components/pages/profiles/AvatarProfile')
  },
  props: {
    data: {
      type: Object,
      required: false,
      default: null
    },
    value: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  computed: {
    visible: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    }
  },
  data: () => ({
    dialog: {
      visible: false,
      header: {
        title: 'Send a contact request',
        description: null
      },
      options: {}
    },
    form: {
      inputs: {
        message: {
          component: 'cFieldInput',
          options: {
            type: 'textarea',
            rows: 3,
            max: 500
          },
          value: 'Hello, can I join your network?'
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      sendContactRequest: 'users/SEND_CONTACT_REQUEST'
    }),
    async sendRequest() {
      // SEND_CONTACT_REQUEST
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        result = await this.sendContactRequest({
          id: this.data.id,
          data
        });
        if (this.onSuccess) {
          this.onSuccess();
        }
        this.$notifications.auto(result);
      } catch (e) {
        console.log(e);
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    }
  }
};
</script>

<style scoped>
</style>
