<template>
  <div>
    <no-ssr>
      <c-form
        :ref="form.ref"
        :data.sync="form">
        <template slot="actions">
          <c-action-button
            @click.native="$router.push('/profile/data/manageData')">
            Manage data
          </c-action-button>
          <c-action-button
            @click.native="dialog.visible = true">
            Change password
          </c-action-button>
          <c-action-button
            v-if="$roles.check(['native_committee_member', 'committee_member'])"
            type="warning"
            @click.native="dialogLeaveCommittee.visible = true">
            Leave committee
          </c-action-button>
          <c-action-button
            @click.native="save()"
            type="primary">
            Save
          </c-action-button>
        </template>
      </c-form>
    </no-ssr>
    <c-dialog
      :header="dialog.header"
      :options="dialog.options"
      v-model="dialog.visible">
      <c-form
        :ref="passwordForm.ref"
        :data.sync="passwordForm"/>
      <template
        slot="actions">
        <c-action-button
          @click.native="dialog.visible = false">
          Close
        </c-action-button>
        <c-action-button
          @click.native="savePassword()"
          type="primary">
          Save
        </c-action-button>
      </template>
    </c-dialog>
    <c-dialog
      :header="dialogLeaveCommittee.header"
      :options="dialogLeaveCommittee.options"
      v-model="dialogLeaveCommittee.visible">
      <p>
        Your are currently a committee member. <strong>Do you really want to leave the committee?</strong>
      </p>
      <template
        slot="actions">
        <c-action-button
          :loading="creatingFile"
          @click.native="dialogLeaveCommittee.visible = false">
          Cancel
        </c-action-button>
        <c-action-button
          :loading="leavingCommittee"
          @click.native="leaveCommittee()"
          type="danger">
          Leave the committee
        </c-action-button>
      </template>
    </c-dialog>
  </div>
</template>

<script>
import PasswordValidation from 'password-validator';
import { mapActions, mapGetters } from 'vuex';
import { form } from '~/mixins/form';
export default {
  name: 'DataForm',
  mixins: [form],
  props: {
    data: {
      type: Object,
      required: false,
      default: null
    }
  },
  data: () => {
    function confirmationPass(rule, value, cb) {
      if (value === '') return cb(new Error('Please enter your password'));
      if (data.passwordForm.inputs.password.value !== value)
        return cb(new Error("Password doesn't match"));
      return cb();
    }

    const data = {
      dialog: {
        visible: false,
        header: {
          title: 'Change your password'
        },
        options: {}
      },
      dialogLeaveCommittee: {
        visible: false,
        header: {
          title: 'Leave committee'
        },
        options: {}
      },
      leavingCommittee: false,
      passwordForm: {
        inputs: {
          password: {
            component: 'cFieldInput',
            label: 'Password',
            options: {
              placeholder: '********',
              type: 'password'
            },
            rules: [
              {
                required: true,
                trigger: 'change',
                validator(_, value, cb) {
                  if (value === '')
                    return cb(new Error('Please enter your password'));

                  const schema = new PasswordValidation();
                  schema
                    .is()
                    .min(8)
                    .is()
                    .max(64)
                    .has()
                    .lowercase()
                    .has()
                    .digits()
                    .has()
                    .not()
                    .spaces();

                  const failedList = schema.validate(value, { list: true });
                  if (failedList.length)
                    return cb(
                      new Error(
                        `Your password must ${
                          failedList.includes('min')
                            ? 'be at least 8 characters long'
                            : ''
                        }${
                          failedList.includes('min') &&
                          failedList.includes('digits')
                            ? ', and must'
                            : ''
                        } ${
                          failedList.includes('digits') ? 'have one digit' : ''
                        } `
                      )
                    );
                  return cb();
                }
              }
            ],
            value: null
          },
          confirmPassword: {
            component: 'cFieldInput',
            ignore: true,
            label: 'Confirm password',
            options: {
              placeholder: '********',
              type: 'password'
            },
            rules: [
              {
                required: true,
                trigger: 'change',
                validator: confirmationPass
              }
            ],
            value: null
          }
        }
      },
      form: {
        inputs: {
          personalInfo: {
            component: 'divider',
            value: 'Personal information'
          },
          firstname: {
            component: 'cFieldInput',
            label: 'Firstname',
            rules: [
              {
                required: true,
                message: 'Please input firstname',
                trigger: 'blur'
              }
            ],
            value: null
          },
          lastname: {
            component: 'cFieldInput',
            label: 'Lastname',
            rules: [
              {
                required: true,
                message: 'Please input lastname',
                trigger: 'blur'
              }
            ],
            value: null
          },
          email: {
            component: 'cFieldInput',
            label: 'Email',
            rules: [
              {
                required: true,
                message: 'Please input email address',
                trigger: 'blur'
              },
              {
                type: 'email',
                message: 'Please input correct email address',
                trigger: ['blur', 'change']
              }
            ],
            value: null
          },
          description: {
            component: 'cFieldInput',
            label: 'Description',
            options: {
              placeholder: 'What about you?',
              type: 'textarea'
            },
            value: null
          },
          country: {
            label: 'Country',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              items: []
            },
            value: []
          },
          spokenLanguages: {
            label: 'Spoken languages',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              multiple: true,
              items: []
            },
            default: [],
            value: []
          }
        }
      }
    };
    return data;
  },
  methods: {
    ...mapActions({
      editData: 'users/EDIT_DATA',
      leaveTheCommittee: 'users/LEAVE_COMMITTEE'
    }),
    initialize() {
      if (!this.data) return;
      if (this.$roles.check(['professional'], this.data.roles)) {
        this.form.inputs = {
          ...this.form.inputs,
          ...{
            professionalInfo: {
              component: 'divider',
              value: 'Professional information'
            },
            positionHeld: {
              component: 'cFieldInput',
              label: 'Position held',
              options: {
                placeholder: 'Doctor'
              },
              value: null
            },
            isAgreeAppearProfessionalContactBook: {
              component: 'cFieldCheckbox',
              options: {
                items: [
                  {
                    text: 'I agree to appear in professional book',
                    label: false
                  }
                ]
              },
              value: false
            },
            isAgreeWithContactRequest: {
              component: 'cFieldCheckbox',
              options: {
                items: [
                  {
                    text: 'Receive contact requests from other users',
                    label: false
                  }
                ]
              },
              value: false
            }
          }
        };
      } else {
        this.form.inputs = {
          ...this.form.inputs,
          ...{
            isProfessional: {
              component: 'cFieldCheckbox',
              options: {
                disabled: false,
                size: 'medium',
                button: false,
                items: [
                  {
                    text: 'You are a professional',
                    label: false,
                    disabled: false,
                    border: false,
                    size: 'medium'
                  }
                ]
              },
              conditional: [
                {
                  value: false,
                  fields: {
                    professionalDocument: {
                      state: 'hidden'
                    },
                    isAgreeAppearProfessionalContactBook: {
                      state: 'hidden'
                    },
                    isAgreeWithContactRequest: {
                      state: 'hidden'
                    },
                    positionHeld: {
                      state: 'hidden'
                    }
                  }
                }
              ],
              value: false
            },
            positionHeld: {
              label: 'Position held',
              component: 'cFieldInput',
              options: {
                type: 'text',
                placeholder: 'Doctor',
                clearable: true,
                autofocus: false
              }
            },
            isAgreeAppearProfessionalContactBook: {
              component: 'cFieldCheckbox',
              options: {
                disabled: false,
                size: 'medium',
                button: false,
                items: [
                  {
                    text: 'I agree to appear in professional book',
                    label: false,
                    disabled: false,
                    border: false,
                    size: 'medium'
                  }
                ]
              },
              value: false
            },
            isAgreeWithContactRequest: {
              component: 'cFieldCheckbox',
              options: {
                disabled: false,
                size: 'medium',
                button: false,
                items: [
                  {
                    text: 'Receive contact requests from other users',
                    label: false,
                    disabled: false,
                    border: false,
                    size: 'medium'
                  }
                ]
              },
              value: false
            },
            professionalDocument: {
              label: 'Professional document',
              component: 'cFieldUpload',
              options: {
                action: '/api/file',
                message: 'Drop file here or click to choose',
                hint: 'png, jpg, pdf, less than 3 mo.',
                info:
                  'An attachment is needed to proof that you are a health professional (certification, diploma, visit card...)',
                multiple: false,
                drag: false,
                accept: '.jpg,.png,.pdf',
                limit: 1,
                listType: 'picture',
                autoUpload: true,
                weightLimit: 3
              },
              value: [],
              rules: [
                {
                  required: true,
                  message: 'Please select a professional document',
                  trigger: 'blur'
                }
              ]
            }
          }
        };
        if (this._.get(this.data, 'professionalDocument')) {
          this.form.inputs.professionalDocument.options.fileList = [
            {
              status: 'success',
              name: 'Professional document',
              response: {
                docs: {
                  url: this._.get(this.data, 'professionalDocument')
                }
              }
            }
          ];
        }
      }
      this.form.inputs.country.options.items = this.countries.map(c => ({
        label: c.name,
        value: c._id
      }));
      this.form.inputs.spokenLanguages.options.items = this.languages.map(
        c => ({
          label: c.name,
          value: c._id
        })
      );
      this.$form.populate(this.form, this.data, {
        spokenLanguages: this.data.spokenLanguages
          ? this.data.spokenLanguages.map(l => l._id)
          : []
      });
    },
    async save() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        result = await this.editData({ id: this.data._id, data });
        this.$notifications.auto(result);
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    },
    async savePassword() {
      const valid = this.$form.validate.call(this, this.passwordForm.ref);
      const arePasswordsEqual =
        this.passwordForm.inputs.confirmPassword.value ===
        this.passwordForm.inputs.password.value;
      if (!valid || !arePasswordsEqual) return;
      const data = this.$form.jsonData.call(this, this.passwordForm.ref);
      let result;
      try {
        result = await this.editData({ id: this.data._id, data });
        this.$notifications.auto(result);
        this.dialog.visible = false;
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    },
    async leaveCommittee() {
      this.leavingCommittee = true;
      let result;
      try {
        result = await this.leaveTheCommittee({ id: this.user._id });
        this.$notifications.auto(result);
        this.leavingCommittee = false;
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        this.leavingCommittee = false;
        throw e;
      }
      return result;
    }
  },
  computed: {
    ...mapGetters({
      countries: 'countries/countries',
      languages: 'countries/languages'
    })
  },
  mounted() {
    this.initialize();
  },
  watch: {
    data: {
      handler() {
        this.initialize();
      },
      deep: true
    }
  }
};
</script>

<style scoped>
</style>
