<template>
  <div>
    <el-row
      class="py-3"
      align="middle"
      type="flex">
      <el-row
        align="middle"
        type="flex"
        style="font-size: 13px"
        class="close-btn text-gray-light">
        <font-awesome-icon
          v-if="!isRead()"
          class="text-primary"
          icon="dot-circle"/>
        <div
          class="mx-2">
          {{ $moment.utc(_.get(data, 'createdAt')).fromNow() }}
        </div>
        <font-awesome-icon
          @click="removeNotification(_.get(data, '_id'))"
          style="cursor: pointer;"
          icon="times" />
      </el-row>
      <!-- Type/Avatar -->
      <div>
        <div
          style="width: 50px"
          class="text-center"
          v-if="getNotificationSpec(data.type, 'mode') === 'icon'">
          <font-awesome-icon
            style="font-size: 30px"
            :class="{
              'text-primary': getNotificationSpec(data.type, 'color') === 'primary',
              'text-danger': getNotificationSpec(data.type, 'color') === 'danger',
              'text-success': getNotificationSpec(data.type, 'color') === 'success',
              'text-warning': getNotificationSpec(data.type, 'color') === 'warning',
              'text-info': getNotificationSpec(data.type, 'color') === 'info',
            }"
            :icon="getNotificationSpec(data.type, 'icon')" />
        </div>
        <div
          v-else-if="getNotificationSpec(data.type, 'mode') === 'avatar'">
          <vue-avatar
            :username="`${_.get(data, 'sender.firstname')} ${_.get(data, 'sender.lastname')}`"/>
        </div>
      </div>
      <!-- Main content -->
      <div
        class="ml-3 pr-3">
        <h3>
          {{ _.get(data, 'title') }}
        </h3>
        <div
          class="mt-2"
          v-if="getNotificationSpec(data.type, 'displaySenderName')">
          <nuxt-link
            class="no-style"
            :to="`/user/${_.get(data, 'sender._id')}`">
            <h4
              class="mb-1">
              {{ _.get(data, 'sender.firstname') }} {{ _.get(data, 'sender.lastname') }}
            </h4>
          </nuxt-link>
        </div>
        <p>
          {{ _.get(data, 'message') }}
        </p>
        <!-- TODO: Read by others -->
        <!--<p-->
        <!--v-if="_.get(data, 'readBy.length') > 0">-->
        <!--Read by-->
        <!--<span-->
        <!--v-for="(user, i) in _.get(data, 'readBy')"-->
        <!--:key="i"-->
        <!--class="ml-1">-->
        <!--{{ _.get(user, 'firstname') }} {{ _.get(user, 'lastname') }},-->
        <!--</span>-->
        <!--</p>-->
      </div>
      <!-- Actions -->
      <div
        v-if="getNotificationSpec(data.type, 'actions')"
        style="margin-left: auto; white-space: nowrap">
        <el-button
          @click.native="doAction(action.method, data)"
          v-for="(action, i) in getNotificationSpec(data.type, 'actions')"
          :key="i"
          size="small"
          :type="action.type"
          round>{{ action.label }}</el-button>
      </div>
    </el-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Notification',
  components: {
    Avatar: () => import('~/components/utils/Avatar')
  },
  props: {
    data: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    maskedAvatarNotifications: ['resourcePublished', 'resourceRejected'],
    actionNotifications: ['contactRequest']
  }),
  computed: {
    ...mapGetters({
      notificationTypes: 'users/notificationTypes'
    })
  },
  methods: {
    ...mapActions({
      deleteNotification: 'users/DELETE_NOTIFICATION',
      respondToContactRequest: 'users/RESPOND_TO_CONTACT_REQUEST',
      respondToCommitteeRequest: 'users/RESPOND_TO_COMMITTEE_REQUEST'
    }),
    getNotificationSpec(type, param) {
      const spec = this.notificationTypes.find(n => n.type === type);
      return this._.get(spec, param);
    },
    async removeNotification(id) {
      let result;
      try {
        result = await this.deleteNotification(id);
        this.$notifications.auto(result);
        this.$emit('notification-removed');
      } catch (e) {
        console.log(e);
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    isRead() {
      const readers = this.data.readBy;
      if (!Array.isArray(readers)) return;
      return readers.map(r => r._id).includes(this._.get(this, 'user._id'));
    },
    // ACTION METHODS
    doAction(method, data) {
      try {
        return this[method](data);
      } catch (e) {
        throw e;
      }
    },
    async contactRequestRejected(data) {
      try {
        const result = await this.respondToContactRequest({
          id: data._id,
          data: {
            accept: false,
            reject: true
          }
        });
        this.$notifications.auto(result);
        this.$emit('notification-removed');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async contactRequestAccepted(data) {
      try {
        const result = await this.respondToContactRequest({
          id: data._id,
          data: {
            accept: true,
            reject: false
          }
        });
        this.$notifications.auto(result);
        this.$emit('notification-removed');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async committeeMemberRequestRejected(data) {
      try {
        const result = await this.respondToCommitteeRequest({
          id: data._id,
          data: {
            accept: false
          }
        });
        this.$notifications.auto(result);
        this.$emit('notification-removed');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async committeeMemberRequestAccepted(data) {
      try {
        const result = await this.respondToCommitteeRequest({
          id: data._id,
          data: {
            accept: true
          }
        });
        this.$notifications.auto(result);
        this.$emit('notification-removed');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    professionalMemberRequestView(data) {
      const userId = this._.get(data, 'sender._id');
      this.$router.push(
        `/user/${userId}/?professionalNotificationId=${data._id}`
      );
    },
    commentReportedView(data) {
      this.$router.push(`/resource/${data.resource}?comment=${data.comment}`);
    },
    resourceReportedView(data) {
      this.$router.push(`/resource/validation/${data.resource}?isReport=true`);
    },
    resourcePublishRequestView(data) {
      this.$router.push(`/resource/validation/${data.resource}`);
    }
  }
};
</script>

<style scoped>
.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
</style>
