<template>
  <el-card
    class="my-3 comment"
    shadow="never">
    <div slot="header">
      <div
        class="d-flex flex-items-center">
        <vue-avatar
          :username="`${firstname} ${lastname}`"/>
        <!-- Author -->
        <div
          class="ml-3">
          <nuxt-link
            :to="`/user/${id}`"
            class="subheading text-bold">
            {{ firstname }} {{ lastname }}
          </nuxt-link>
          <!-- date published & estimate time reading -->
          <div class="text-small mt-2">
            {{ date | moment('DD MMM. HH:mm') }}
          </div>
        </div>
      </div>
    </div>
    <div
      class="article-body">
      <p
        :style="`filter: ${isHidden && !$roles.check(['native_committee_member', 'committee_member']) ? 'blur(5px)' : 'blur(0)'}`">{{ text }}</p>
      <div
        class="text-center text-gray-light mt-3"
        v-if="isHidden && !$roles.check(['native_committee_member', 'committee_member'])">
        <p>
          This comment has been reported. It is waiting for moderation.
        </p>
        <div
          class="mt-3">
          <el-button
            @click.native="displayAnyway = true"
            type="text">
            <font-awesome-icon icon="eye" /> Display anyway
          </el-button>
        </div>
      </div>
      <div v-else-if="isHidden && $roles.check(['native_committee_member', 'committee_member'])">
        <div
          class="text-center text-gray-light mt-3">
          <hr>
          <p>
            This comment was reported by an user. You can <span class="text-bold">Approve</span> the report to delete the comment or <span class="text-bold">Reject</span> the report to keep the comment visible by anybody.
          </p>
          <div
            class="mt-3">
            <c-action-button
              type="danger"
              @click.native="rejectCommentReport">Reject</c-action-button>
            <c-action-button
              @click.native="approveCommentReport"
              type="success">Approve</c-action-button>
          </div>
        </div>
      </div>
    </div>
    <el-row
      type="flex"
      justify="end"
      align="middle">
      <div
        v-if="loggedIn && id !== _.get(user, '_id')">
        <!-- Comment Action -->
        <el-row
          v-if="!isReportedBy.includes(_.get(user, '_id'))"
          type="flex"
          justify="end">
          <el-button
            type="text"
            @click.native="$emit('reported', commentId)"
            circle>
            <font-awesome-icon icon="flag" /> Report
          </el-button>
        </el-row>
        <el-row
          type="flex"
          justify="end"
          v-else>
          <el-row
            class="text-gray-light"
            align="middle"
            type="flex">
            <font-awesome-icon icon="exclamation-triangle" /> <div class="ml-1">reported</div>
          </el-row>
        </el-row>
      </div>
      <div
        v-if="$roles.check(['native_committee_member', 'committee_member', 'admin', 'super_admin']) || id === _.get(user, '_id') || resourceAuthorId === _.get(user, '_id')">
        <el-button
          v-if="commentId"
          type="text"
          @click.native="$emit('deleted', commentId)"
          circle>
          <font-awesome-icon icon="trash-alt" /> Delete
        </el-button>
      </div>
    </el-row>
  </el-card>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'Comment',
  components: {
    Avatar: () => import('~/components/utils/Avatar')
  },
  data() {
    return {
      displayAnyway: false
    };
  },
  props: {
    text: {
      required: true,
      type: String
    },
    firstname: {
      required: true,
      type: String
    },
    date: {
      required: true,
      type: [Date, String]
    },
    lastname: {
      required: true,
      type: String
    },
    resourceAuthorId: {
      required: false,
      type: String,
      default: null
    },
    id: {
      required: true,
      type: String
    },
    isReportedBy: {
      type: Array,
      default: () => []
    },
    commentId: {
      required: false,
      type: String,
      default: null
    }
  },
  methods: {
    ...mapActions({
      approveOrRejectCommentReport:
        'resources/APPROVE_REJECT_REPORT_RESOURCE_COMMENT'
    }),
    async approveCommentReport() {
      try {
        const result = await this.approveOrRejectCommentReport({
          id: this.commentId,
          data: {
            accept: true
          }
        });
        this.$notifications.auto(result);
        this.$router.push('/committee/reports#comments');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async rejectCommentReport() {
      try {
        const result = await this.approveOrRejectCommentReport({
          id: this.commentId,
          data: {
            accept: false
          }
        });
        this.$notifications.auto(result);
        this.$router.push('/committee/reports#comments');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  computed: {
    isHidden() {
      return this._.get(this.isReportedBy, 'length') && !this.displayAnyway;
    }
  }
};
</script>

<style scoped>
</style>
