<template>
  <author-code-conduct-form
    :author-code-conduct="authorCodeConduct"/>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'AuthorCodeConduct',
  components: {
    AuthorCodeConductForm: () =>
      import('~/components/admin/AuthorCodeConductForm.vue')
  },
  computed: {
    ...mapGetters({
      authorCodeConduct: 'usageInformations/authorCodeConduct'
    })
  },
  async fetch({ store }) {
    try {
      await store.dispatch('usageInformations/FETCH_AUTHOR_CODE_CONDUCT');
    } catch (e) {
      this.$notifications.auto(e.response.data);
      throw e;
    }
  }
};
</script>

<style scoped>
</style>
