<template>
  <committee-code-conduct-form
    :committee-code-conduct="committeeCodeConduct"/>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'CommitteeCodeConduct',
  components: {
    CommitteeCodeConductForm: () =>
      import('~/components/admin/CommitteeCodeConductForm.vue')
  },
  computed: {
    ...mapGetters({
      committeeCodeConduct: 'usageInformations/committeeCodeConduct'
    })
  },
  async fetch({ store }) {
    try {
      await store.dispatch('usageInformations/FETCH_COMMITTEE_CODE_CONDUCT');
    } catch (e) {
      this.$notifications.auto(e.response.data);
      throw e;
    }
  }
};
</script>

<style scoped>
</style>
