<template>
  <legals-notice-form
    :legals-notice="legalsNotice"/>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'LegalsNotice',
  components: {
    LegalsNoticeForm: () => import('~/components/admin/LegalsNoticeForm')
  },
  computed: {
    ...mapGetters({
      legalsNotice: 'usageInformations/legalsNotice'
    })
  },
  methods: {
    async initialize() {
      try {
        await this.$store.dispatch('usageInformations/FETCH_LEGALS_NOTICE');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {
    await this.initialize();
  }
};
</script>

<style scoped>
</style>
