<template>
  <div>
    <mailing-form />
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Mailing',
  components: {
    MailingForm: () => import('~/components/admin/MailingForm')
  }
};
</script>

<style scoped>
</style>
