<template>
  <terms-of-service-form
    :terms-of-service="termsOfService"/>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'TermsOfService',
  components: {
    TermsOfServiceForm: () => import('~/components/admin/TermsOfServiceForm')
  },
  computed: {
    ...mapGetters({
      termsOfService: 'usageInformations/termsOfService'
    })
  },
  async fetch({ store }) {
    try {
      await store.dispatch('usageInformations/FETCH_TERMS_OF_SERVICE');
    } catch (e) {
      this.$notifications.auto(e.response.data);
      throw e;
    }
  }
};
</script>

<style scoped>
</style>
