<template>
  <div>
    <div
      class="text-right">
      <c-action-button
        @click.native="$router.push('/profile/resources/create')"
        type="primary">Add</c-action-button>
    </div>
    <el-search-table-pagination
      ref="resourcesTable"
      :fetch="fetchTable"
      page-index-key="page"
      page-size-key="limit"
      list-field="docs"
      total-field="totalDocs"
      :columns="columns">
      <template
        slot-scope="{ row }"
        slot="resourceType">
        <el-tag
          v-if="row.resourceType === 1"
          type="primary">
          <i class="el-icon-document"/>
        </el-tag>
        <el-tag
          v-else-if="row.resourceType === 2"
          type="success">
          <i class="el-icon-news"/>
        </el-tag>
        <el-tag
          v-else-if="row.resourceType === 3"
          type="danger">
          <i class="el-icon-date"/>
        </el-tag>
      </template>
      <template
        slot-scope="{ row }"
        slot="category">
        {{ $t(`lang.categories.${_.get(row, 'category.name')}`) }}
      </template>
      <template
        slot="state"
        slot-scope="{ row }">
        <el-tag
          :type="_.get(rowStatus(row.resourceStatus), 'type')">
          {{ _.get(rowStatus(row.resourceStatus), 'name') }}
        </el-tag>
      </template>
      <template
        slot="actions"
        slot-scope="{ row }">
        <el-button
          @click.native="remove(row._id)"
          size="mini"
          type="danger"
          icon="el-icon-close"
          circle/>
        <el-button
          @click="$router.push(`/profile/resources/edit/${row._id}`)"
          size="mini"
          type="primary"
          icon="el-icon-edit"
          circle/>
      </template>
    </el-search-table-pagination>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  name: 'Index',
  components: {
    PartnersForm: () => import('~/components/resources/ResourcesForm')
  },
  data: () => ({
    columns: [
      {
        slotName: 'resourceType',
        prop: 'resourceType',
        label: 'Type',
        align: 'center'
      },
      { prop: 'title', label: 'Title', minWidth: 200 },
      {
        slotName: 'category',
        prop: 'category',
        label: 'Category',
        align: 'center'
      },
      {
        slotName: 'state',
        prop: 'status',
        label: 'State',
        align: 'center'
      },
      {
        slotName: 'actions',
        prop: 'actions',
        label: 'Actions',
        align: 'right'
      }
    ]
  }),
  computed: {
    ...mapGetters({
      getState: 'resources/getState'
    })
  },
  methods: {
    ...mapActions({
      fetchUserResources: 'resources/FETCH_USER_RESOURCES',
      deleteResource: 'resources/DELETE_RESOURCE'
    }),
    rowStatus(status) {
      return this.getState(status);
    },
    async fetchTable(data) {
      try {
        const result = await this.fetchUserResources(data);
        // If the resources are validating we replace original data for tmp data
        const validatingResources = result.docs.filter(
          r => r.resourceStatus === 4
        );
        validatingResources.forEach(function(r) {
          const rIndex = result.docs.indexOf(r);
          result.docs[rIndex] = {
            ...r,
            ...r.resourceTmp
          };
        });
        return result;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async remove(id) {
      try {
        const result = await this.deleteResource(id);
        this.$refs.resourcesTable.searchHandler(false);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  }
};
</script>

<style scoped>
</style>
