<template>
  <container
    full>
    <resource-view
      display-like-button
      :is-event="resource.resourceType === 3"
      is-reportable
      :focus-on-comment="focusedComment"
      :resource="resource"/>
  </container>
</template>

<script>
export default {
  name: 'Article',
  components: {
    ResourceView: () => import('~/components/resources/ResourceView')
  },
  data: () => ({
    focusedComment: null,
    resource: {}
  }),
  async asyncData({ store, route, redirect }) {
    try {
      const { docs: resource } = await store.dispatch(
        'resources/FETCH_RESOURCE',
        route.params.slug
      );
      return {
        resource,
        focusedComment: route.query.comment
      };
    } catch (e) {
      redirect('/404');
    }
  }
};
</script>
