<template>
  <el-row
    type="flex"
    class="my-3 border-0">
    <el-col
      :span="$mq && $mq === 'xs' ? 24 : 16"
      class="pr-3 py-2">
      <div
        class="mb-1">
        <nuxt-link
          :style="`color: ${_.get(propValue, 'category.fontColor')}; background-color: ${_.get(propValue, 'category.backgroundColor')}`"
          class="no-style article-category"
          @click.native="$emit('category-search', _.get(propValue, 'category.name'))"
          :to="`?categories=${_.get(propValue, 'category.name')}`">
          <h5 class="text-uppercase text-normal">{{ $t(`lang.categories.${_.get(propValue, 'category.name')}`) }}</h5>
        </nuxt-link>
      </div>
      <!-- Title -->
      <div
        class="d-flex flex-items-center mt-3">
        <div
          v-if="$mq && $mq === 'xs'"
          :style="`background-image: url('${_.get(propValue, 'image', '').replace('/file', '/file/thumbnail')}'); width: 100px; height: 100px; min-height: 100px; min-width: 100px`"
          @click="$router.push(`/resource/${propValue.slug}`)"
          alt="Resource image"
          class="article-img mr-3"/>
        <div>
          <h2 class="common-text bold">
            <nuxt-link
              class="no-style"
              :to="`/resource/${propValue.slug}`">
              {{ _.truncate(propValue.title, { length: $mq && $mq === 'xs' ? 50 : 90 }) }}
            </nuxt-link>
          </h2>
        </div>
      </div>
      <!-- Description -->
      <p
        class="common-text subheading mb-2 text-gray-light">
        {{ _.truncate(propValue.shortDescription, { length: $mq && $mq === 'xs' ? 50 : 150 }) }}
      </p>
      <!-- Tags -->
      <div
        v-if="_.get(propValue, 'tags.length') > 0"
        class="mb-3">
        <font-awesome-icon
          class="text-gray"
          icon="tags"/>
        <nuxt-link
          v-for="tag in _.get(propValue, 'tags')"
          :to="`/?tags=${tag.name}`"
          @click.native="$emit('tag-search', tag.name)"
          type="text"
          class="mr-2"
          :key="tag.name">#{{ tag.name }}</nuxt-link>
      </div>
      <!-- Author -->
      <div
        class="d-flex flex-justify-between flex-items-center">
        <div>
          <author
            :resource="propValue"/>
        </div>
        <div
          class="ml-2">
          <!-- Bookmark article -->
          <c-like-button
            :id-resource="propValue._id"
            :is-liked="_.get(propValue, 'isLikeByCurrentUser', false)"/>
        </div>
      </div>
    </el-col>
    <el-col
      v-if="$mq && $mq !== 'xs'"
      :span="8">
      <div
        :style="`background-image: url('${_.get(propValue, 'image', '').replace('/file', '/file/thumbnail')}')`"
        @click="$router.push(`/resource/${propValue.slug}`)"
        alt="Resource image"
        class="article-img"/>
    </el-col>
  </el-row>
</template>

<script>
export default {
  name: 'Article',
  components: {
    cLikeButton: () => import('~/components/buttons/cLikeButton'),
    author: () => import('~/components/utils/Author')
  },
  props: {
    value: {
      required: false,
      type: Object,
      default: () => ({
        bookmark: false
      })
    }
  },
  computed: {
    propValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('update:value', value);
      }
    }
  },
  data: () => ({
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta, excepturi incidunt iusto laboriosam libero molestiae officia quae. Aliquid atque commodi delectus ea enim expedita id ipsa iure tempore voluptas?'
  }),
  methods: {
    bookMarkClicked() {
      this.propValue.bookmark = !this.propValue.bookmark;
    }
  }
};
</script>

<style lang="scss">
.bookmark {
  font-size: 1.4em;
}

hr {
  border: 0.5px solid grey;
}

h3 {
  color: #3a3a3a;
}

.subheading {
  font-size: 14px;
  color: #303133;
}

.article-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
</style>
