<template>
  <content-loader
    :height="200"
    :width="720"
    :speed="2"
    primary-color="#f3f3f3"
    secondary-color="#ecebeb"
  >
    <rect
      x="63"
      y="151"
      rx="4"
      ry="4"
      width="117"
      height="6.4" />
    <rect
      x="64"
      y="74"
      rx="3"
      ry="3"
      width="85"
      height="6.4" />
    <rect
      x="10"
      y="35"
      rx="3"
      ry="3"
      width="450"
      height="6.4" />
    <rect
      x="11"
      y="53"
      rx="3"
      ry="3"
      width="480"
      height="6.4" />
    <rect
      x="11"
      y="74"
      rx="3"
      ry="3"
      width="400"
      height="6.4" />
    <circle
      cx="29.8"
      cy="163.82"
      r="19.8" />
    <rect
      x="27.56"
      y="12.61"
      rx="0"
      ry="0"
      width="0"
      height="0" />
    <rect
      x="520"
      y="0"
      rx="0"
      ry="0"
      width="200"
      height="200" />
    <rect
      x="43.56"
      y="34.61"
      rx="0"
      ry="0"
      width="0"
      height="1" />
    <rect
      x="64.56"
      y="168.61"
      rx="3"
      ry="3"
      width="115"
      height="6.4" />
    <rect
      x="97.56"
      y="69.61"
      rx="0"
      ry="0"
      width="0"
      height="0" />
  </content-loader>
</template>

<script>
import { ContentLoader } from 'vue-content-loader';
export default {
  name: 'ArticleContentLoaderItem',
  components: {
    ContentLoader
  }
};
</script>

<style scoped>
</style>
