<template>
  <div>
    <div
      class="my-4"
      v-for="(popular, i) in populars"
      :key="i">
      <el-row
        type="flex">
        <el-col
          :span="5">
          <div
            :style="`background-image: url('${_.get(popular, 'image')}')`"
            @click="$router.push(`/resource/${popular.slug}`)"
            alt="Resource image"
            class="article-img"/>
        </el-col>
        <el-col
          class="pl-3"
          :span="19">
          <h3
            class="mb-2">
            <nuxt-link
              class="no-style"
              :to="`/resource/${popular.slug}`">
              <span 
                :style="{
                  'font-size': '14px'
              }">{{ _.truncate(popular.title, {length: 50}) }}</span>
            </nuxt-link>
          </h3>
          <!-- Author -->
          <author
            :resource="popular"/>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PopularArticles',
  components: {
    Author: () => import('~/components/utils/Author')
  },
  props: {
    populars: {
      required: true,
      type: Array
    }
  }
};
</script>

<style scoped>
</style>
