<template>
  <el-card
    v-if="projectDescription"
    class="presentation-card animated fadeInDown"
    shadow="never"
  >
    <p class="article-body condensed">
      <strong>ARPA-ageing is the first European platform specialized in geriatric psychiatry.</strong>
      We want to facilitate the exchange of information between all the specialists around the world.
      Creating an account grants you an access to our secure content verified by a trusted approval committee.
      Also, you'll be able to publish your own articles, surveys and events. In order to improve and facilitate the sharing of resources and only if you wish,
      you can access a directory allowing you to contact another healthcare professional!
    </p>
    <c-action-button
      @click.native="validate"
      type="primary"
      class="float-right mt-2 mb-2">Close</c-action-button>
  </el-card>
</template>

<script>
import { mapFields } from 'vuex-map-fields';
export default {
  name: 'ProjectDescription',
  computed: {
    ...mapFields(['projectDescription', 'tutorial'])
  },
  methods: {
    async validate() {
      try {
        await this.$localForage.setItem('projectDescription', false);
        this.projectDescription = false;
      } catch (e) {
        console.error(e);
      }
    }
  },
  async mounted() {
    const validate = await this.$localForage.getItem('projectDescription');
    if (validate || validate === null) this.projectDescription = true;
  }
};
</script>

<style scoped>
.presentation-card {
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  background: linear-gradient(296deg, rgba(0, 209, 178, 0.4), #ffffff);
  background-size: 400% 400%;
  -webkit-animation: project-description-animation 3s ease infinite;
  -moz-animation: project-description-animation 3s ease infinite;
  animation: project-description-animation 3s ease infinite;
}
@-webkit-keyframes project-description-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes project-description-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes project-description-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>
