<template>
  <el-col
    style="margin-top: 50px">
    <div
      style="width: 100%; max-width: 800px; margin: 0 auto;">
      <!-- search input -->
      <el-row
        type="flex"
        justify="center">
        <el-input
          size="huge"
          placeholder="Find a resource"
          v-model="input"
          @keyup.enter.native="search"
          clearable>
          <el-button
            slot="append"
            @click="search"
            icon="el-icon-search"/>
        </el-input>
      </el-row>
      <!-- advanced search button -->
      <el-row
        v-if="!advanced"
        type="flex"
        justify="end">
        <div
          style="text-align: right">
          <el-button
            id="tutorial-step-1"
            class="my-2"
            type="text"
            :icon="`el-icon-${advanced ? 'minus' : 'plus' }`"
            size="medium"
            @click="advanced = !advanced"
            circle>
            Advanced search
          </el-button>
        </div>
      </el-row>
      <!-- filter selection -->
      <el-row
        class="mt-6 flex-wrap flex-items-center"
        v-if="advanced"
        type="flex"
        justify="center">
        <el-col
          :span="$mq && $mq === 'xs' ? 24 : 10">
          <c-form
            :data.sync="form"/>
        </el-col>
        <el-col
          :span="$mq && $mq === 'xs' ? 24 : 14">
          <el-card
            shadow="never">
            <div
              slot="header"
              class="my-0">#tags</div>
            <div
              style="overflow-wrap: break-word;"
              class="is-justify-space-around">
              <el-button
                v-for="tag in tags"
                @click="(selectedTags = tag.name) && search()"
                type="text"
                :key="tag.name">#{{ tag.name }}</el-button>&nbsp;
            </div>
          </el-card>
        </el-col>
      </el-row>
      <!-- search button -->
      <el-row
        v-if="advanced"
        type="flex"
        align="middle"
        justify="end">
        <div
          style="text-align: right">
          <el-button
            class="my-2"
            type="text"
            :icon="`el-icon-${advanced ? 'minus' : 'plus' }`"
            size="medium"
            @click="advanced = !advanced"
            circle>
            Advanced search
          </el-button>
        </div>
        <div>
          <c-action-button
            slot="append"
            type="primary"
            icon="el-icon-search"
            @click.native="search">
            Search
          </c-action-button>
        </div>
      </el-row>
    </div>
  </el-col>
</template>

<script>
import lodash from 'lodash';
import { mapGetters } from 'vuex';

export default {
  name: 'SearchBar',
  data: () => ({
    advanced: false,
    input: '',
    selectedTags: '',
    form: {
      inputs: {
        category: {
          component: 'cFieldSelect',
          value: [],
          options: {
            multiple: true,
            valueKey: 'value',
            placeholder: 'Category',
            size: 'medium',
            clearable: true,
            collapseTags: true,
            filterable: true,
            items: []
          }
        },
        sortBy: {
          component: 'cFieldSelect',
          value: [],
          options: {
            valueKey: 'value',
            placeholder: 'sortBy',
            size: 'medium',
            items: [
              {
                value: 'publishedDate',
                label: 'Published date'
              },
              {
                value: 'popularity',
                label: 'Popularity'
              }
            ]
          }
        },
        language: {
          component: 'cFieldSelect',
          value: [],
          options: {
            multiple: true,
            placeholder: 'Language',
            size: 'medium',
            clearable: true,
            filterable: true,
            collapseTags: true,
            items: []
          }
        }
      }
    }
  }),
  props: {
    endpoint: {
      required: false,
      type: String,
      default: ''
    },
    params: {
      required: true,
      type: Object
    }
  },
  watch: {
    params({ categories, sortBy, includeCodeLanguage, search }) {
      this.input = search;
      this.form.inputs.category.value = categories.filter(c => !!c.length);
      if (sortBy !== 'undefined') this.form.inputs.sortBy.value = sortBy;
      this.form.inputs.language.value = includeCodeLanguage.filter(
        l => !!l.length
      );
    }
  },
  computed: {
    ...mapGetters({
      tags: 'tags/tags',
      categories: 'categories/categories',
      languages: 'countries/languages'
    }),
    propEndpoint: {
      get() {
        return this.endpoint;
      },
      set(value) {
        this.$emit('update:endpoint', value);
      }
    }
  },
  mounted() {
    this.form.inputs.category.options.items = this.categories.map(c => ({
      value: c.name,
      label: this.$t(`lang.categories.${c.name}`)
    }));
    this.form.inputs.language.options.items = this.languages.map(l => ({
      label: l.name,
      value: l.code
    }));
  },
  methods: {
    search: lodash.debounce(function() {
      const fields = lodash.pickBy(
        {
          search: this.input,
          tags: encodeURIComponent(this.selectedTags),
          includeCodeLanguage: encodeURIComponent(
            this.form.inputs.language.value
          ),
          sortBy: encodeURIComponent(this.form.inputs.sortBy.value),
          categories: encodeURIComponent(this.form.inputs.category.value)
        },
        v => !!(v && v.length)
      );
      this.$emit('click', {
        search: this.input,
        tags: this.selectedTags,
        sortBy: this.form.inputs.sortBy.value,
        includeCodeLanguage: this.form.inputs.language.value,
        categories: this.form.inputs.category.value
      });
      this.propEndpoint = this.input;
      this.$router.replace({
        name: 'index',
        query: fields
      });
    }, 200)
  }
};
</script>

<style scoped>
</style>
