<template>
  <container>
    <el-search-table-pagination
      ref="resourcesTable"
      :fetch="fetchTable"
      page-index-key="page"
      page-size-key="limit"
      list-field="docs"
      total-field="totalDocs"
      :form-options="formOptions"
      :columns="columns">
      <template
        slot-scope="{ row }"
        slot="resourceType">
        <el-tag
          v-if="row.resourceType === 1"
          type="primary">
          <i class="el-icon-document"/>
        </el-tag>
        <el-tag
          v-else-if="row.resourceType === 2"
          type="success">
          <i class="el-icon-news"/>
        </el-tag>
        <el-tag
          v-else-if="row.resourceType === 3"
          type="danger">
          <i class="el-icon-date"/>
        </el-tag>
      </template>
      <template
        slot-scope="{ row }"
        slot="category">
        {{ $t(`lang.categories.${_.get(row, 'category.name')}`) }}
      </template>
      <template
        slot="state"
        slot-scope="{ row }">
        <el-tag
          :type="_.get(rowStatus(row.resourceStatus), 'type')">
          {{ _.get(rowStatus(row.resourceStatus), 'name') }}
        </el-tag>
      </template>
      <template
        slot="actions"
        slot-scope="{ row }">
        <el-button
          @click="$router.push(`/resource/validation/${row._id}`)"
          size="mini"
          type="primary"
          icon="el-icon-view"
          circle/>
      </template>
    </el-search-table-pagination>
  </container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['committee_member', 'native_committee_member']
  },
  name: 'Resources',
  data: () => ({
    columns: [
      {
        slotName: 'resourceType',
        prop: 'resourceType',
        label: 'Type',
        align: 'center'
      },
      { prop: 'title', label: 'Title', minWidth: 200 },
      {
        slotName: 'category',
        prop: 'category',
        label: 'Category',
        align: 'center'
      },
      {
        slotName: 'state',
        prop: 'status',
        label: 'State',
        align: 'center'
      },
      {
        slotName: 'actions',
        prop: 'actions',
        label: 'Actions',
        align: 'right'
      }
    ],
    formOptions: {
      inline: true,
      submitBtnText: 'Search',
      forms: [
        {
          prop: 'resourceStatus',
          label: 'Status',
          itemType: 'select',
          options: [
            { value: '', label: 'All' },
            { value: 1, label: 'Validating' },
            { value: 2, label: 'Rejected' },
            { value: 3, label: 'Published' },
            { value: 4, label: 'Edit validating' }
          ]
        }
      ]
    }
  }),
  computed: {
    ...mapGetters({
      getState: 'resources/getState'
    })
  },
  methods: {
    ...mapActions({
      fetchCommitteeResources: 'resources/FETCH_COMMITTEE_RESOURCES'
    }),
    rowStatus(status) {
      return this.getState(status);
    },
    async fetchTable(data) {
      try {
        const result = await this.fetchCommitteeResources(data);
        if (result.length < 1) return [];
        // If the resources are validating we replace original data for tmp data
        const validatingResources = result.docs.filter(
          r => r.resourceStatus === 4
        );
        validatingResources.forEach(function(r) {
          const rIndex = result.docs.indexOf(r);
          result.docs[rIndex] = {
            ...r,
            ...r.resourceTmp
          };
        });
        return result;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async remove(id) {
      try {
        const result = await this.deleteResource(id);
        this.$refs.resourcesTable.searchHandler(false);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  }
};
</script>
