<template>
  <container
    class="common-text">
    <el-row
      :class="{
        'flex-column': $mq && $mq === 'xs'
      }"
      type="flex">
      <el-col
        :span="$mq && $mq === 'xs' ? 24 : 5">
        <h3 class="common-text medium-bold text-uppercase mb-4">statistics</h3>
        <el-menu
          @select="selectActiveIndex($event)"
          :default-active="activeIndex"
          class="left-menu"
          :class="{
            'mobile-left-menu': $mq && $mq === 'xs',
            'mb-4': $mq && $mq === 'xs'
        }">
          <no-ssr>
            <el-menu-item
              @click="scrollToContent('content')"
              v-for="item in statistics.filter(p => $roles.check(p.roles || []) || !p.roles)"
              :key="item.name"
              :index="item.name">
              <font-awesome-icon
                class="icon-menu animated fadeInRight"
                :icon="item.icon"/>
              <span>{{ item.text }}</span>
            </el-menu-item>
          </no-ssr>
        </el-menu>
      </el-col>
      <el-col
        :class="{
          'pl-4': !($mq && $mq === 'xs'),
          'pl-0': $mq && $mq === 'xs'
        }"
        :span="$mq && $mq === 'xs' ? 24 : 19">
        <h3
          class="common-text medium-bold text-uppercase active-index mb-1"
          :ref="'content'">{{ statistics.find(u => u.name === activeIndex).text }}</h3>
        <p class="f4-light mb-1">{{ statistics.find(u => u.name === activeIndex).description }}</p>
        <hr style="border: 0.75px solid #828282">
        <br>
        <div>
          <nuxt-child/>
        </div>
      </el-col>
    </el-row>
  </container>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: [
      'super_admin',
      'admin',
      'committee_member',
      'native_committee_member'
    ]
  },
  name: 'Index',
  data: () => ({
    activeIndex: 'data',
    statistics: [
      {
        name: 'dashboard',
        text: 'Dashboard',
        icon: 'user',
        description: 'See the summary of the platform statistics'
      },
      {
        name: 'feedbacks',
        text: 'Feedbacks',
        icon: 'save',
        description: `See the feedback survey responses`
      }
    ]
  }),
  fetch({ route, redirect }) {
    if (['/statistics', '/statistics/'].includes(route.fullPath)) {
      return redirect('/statistics/dashboard');
    }
  },
  asyncData({ route }) {
    return {
      activeIndex: route.path.split('/')[2]
    };
  },
  methods: {
    selectActiveIndex(value) {
      this.activeIndex = value;
      this.$router.push(`/statistics/${value}`);
    },
    scrollToContent(ref) {
      let item;
      try {
        item = this.$refs[ref];
      } catch (e) {
        // Nothing
      }
      if (!item || !(this.$mq && this.$mq === 'xs')) return;
      this.$scrollTo(item, 300, {
        offset: -70
      });
    }
  }
};
</script>

<style>
.active-index {
  color: #55595c;
  font-weight: bold;
}

.icon-menu {
  margin-right: 10px;
}
</style>
