<template>
  <container
    class="common-text">
    <div class="h2">Statistics overview</div>
    <div class="mt-2">
      <masonry
        :cols="{default: 2, 800: 1, 600: 1}"
        :gutter="{default: '30px', 700: '15px'}">
        <el-card
          class="stats-card members"
          shadow="hover">
          <div
            class="h3">
            <span>
              Registered users
            </span>
          </div>
          <div class="h1">
            {{ chartsData.numberOfRegisteredMembers }}
          </div>
          <no-ssr>
            <div>
              <apexchart
                v-if="chartsData"
                :width="charts.members.width"
                :type="charts.members.type"
                :options="charts.members.options"
                :series="charts.members.series"/>
            </div>
            <div>
              <span class="text-bold">{{ chartsData.numberOfUsersProfessionalBook }}</span> users in the professionals' book
            </div>
            <div>
              <span class="text-bold">{{ chartsData.numberOfUsersContactRequest }}</span> professionals have allowed to receive contact request
            </div>
          </no-ssr>
        </el-card>
        <el-card
          class="stats-card members"
          shadow="hover">
          <div
            class="h3">
            <span>
              Resources
            </span>
          </div>
          <div class="h1">
            {{ chartsData.numberOfResources }}
          </div>
          <no-ssr>
            <div>
              <apexchart
                v-if="chartsData"
                :width="charts.resources.width"
                :type="charts.resources.type"
                :options="charts.resources.options"
                :series="charts.resources.series"/>
            </div>
            <div>
              <span class="text-bold">{{ chartsData.numberOfComments }}</span> comments
            </div>
            <div class="h3 mb-2">Status</div>
            <div class="d-flex flex-justify-around flex-items-center flex-wrap">
              <div>
                <div>
                  <el-tag
                    type="success">
                    Published
                  </el-tag>
                  <div class="h3 text-center">
                    {{ chartsData.numberOfResourcesApproved }}
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <el-tag
                    type="warning">
                    Validating
                  </el-tag>
                  <div class="h3 text-center">
                    {{ chartsData.numberOfResourcesWaitingCommitteeValidation }}
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <el-tag
                    type="danger">
                    Rejected
                  </el-tag>
                  <div class="h3 text-center">
                    {{ chartsData.numberOfResourcesRejected }}
                  </div>
                </div>
              </div>
            </div>
          </no-ssr>
        </el-card>
        <el-card
          class="stats-card members"
          shadow="hover">
          <div
            class="h3">
            <span>
              Feebacks
            </span>
          </div>
          <div class="h1">
            {{ chartsData.numberOfSurveys }}
          </div>
          <no-ssr>
            <div>
              <apexchart
                v-if="chartsData"
                :width="charts.feedbacks.width"
                :type="charts.feedbacks.type"
                :options="charts.feedbacks.options"
                :series="charts.feedbacks.series"/>
            </div>
            <div>
              <div class="mb-1">
                <span class="text-bold">{{ `${this.$t('lang.general.question')} 1` }}</span>: {{ this.$t('lang.feedbackForm.q1.label') }}
              </div>
              <div class="mb-1">
                <span class="text-bold">{{ `${this.$t('lang.general.question')} 2` }}</span>: {{ this.$t('lang.feedbackForm.q2.label') }}
              </div>
              <div class="mb-1">
                <span class="text-bold">{{ `${this.$t('lang.general.question')} 4` }}</span>: {{ this.$t('lang.feedbackForm.q4.label') }}
              </div>
            </div>
            <div>
              <apexchart
                v-if="chartsData"
                :type="charts.recommendations.type"
                :width="charts.recommendations.width"
                :options="charts.recommendations.options"
                :series="charts.recommendations.series" />
            </div>
          </no-ssr>
        </el-card>
      </masonry>
    </div>
  </container>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'Index',
  middleware: 'auth-roles',
  meta: {
    roles: [
      'super_admin',
      'admin',
      'committee_member',
      'native_committee_member'
    ]
  },
  methods: {
    ...mapActions({
      fetchStatistics: 'users/FETCH_STATISTICS'
    }),
    feedBacksScale(value) {
      return (
        ((value / (this.chartsData.numberOfSurveys * 5)) * 100 * 5) /
        100
      ).toFixed(2);
    }
  },
  data: () => ({
    chartsData: {
      numberOfSurveys: 0,
      sumQuestionOne: 0,
      sumQuestionTwo: 0,
      sumQuestionThreeFalse: 0,
      sumQuestionThreeTrue: 0,
      sumQuestionFour: 0,
      numberOfComments: 0,
      numberOfRegisteredMembers: 0,
      numberOfUserMembers: 0,
      numberOfResources: 0,
      numberOfCommitteeMembers: 0,
      numberOfProfessionalMembers: 0,
      numberOfResourcesWaitingCommitteeValidation: 0,
      numberOfResourcesRejected: 0,
      numberOfResourcesApproved: 0,
      numberOfResourcesArticle: 0,
      numberOfResourcesSurvey: 0,
      numberOfResourcesEvent: 0,
      numberOfUsersProfessionalBook: 0,
      numberOfUsersContactRequest: 0
    }
  }),
  computed: {
    charts() {
      return {
        members: {
          width: 380,
          type: 'donut',
          series: [
            this.chartsData.numberOfUserMembers,
            this.chartsData.numberOfCommitteeMembers,
            this.chartsData.numberOfProfessionalMembers
          ],
          options: {
            size: '50%',
            labels: [
              this.$t('lang.statistics.charts.members.users'),
              this.$t('lang.statistics.charts.members.professionals'),
              this.$t('lang.statistics.charts.members.committeeMembers')
            ]
          }
        },
        resources: {
          width: 380,
          type: 'donut',
          series: [
            this.chartsData.numberOfResourcesArticle,
            this.chartsData.numberOfResourcesEvent,
            this.chartsData.numberOfResourcesSurvey
          ],
          options: {
            labels: [
              this.$t('lang.statistics.charts.resources.articles'),
              this.$t('lang.statistics.charts.resources.events'),
              this.$t('lang.statistics.charts.resources.surveys')
            ]
          }
        },
        feedbacks: {
          width: 380,
          type: 'bar',
          series: [
            {
              data: [
                this.feedBacksScale(this.chartsData.sumQuestionOne),
                this.feedBacksScale(this.chartsData.sumQuestionTwo),
                this.feedBacksScale(this.chartsData.sumQuestionFour)
              ]
            }
          ],
          options: {
            chart: {
              toolbar: {
                show: false
              }
            },
            plotOptions: {
              bar: {
                horizontal: false
              }
            },
            dataLabels: {
              enabled: true
            },
            xaxis: {
              categories: [
                `${this.$t('lang.general.question')} 1`,
                `${this.$t('lang.general.question')} 2`,
                `${this.$t('lang.general.question')} 4`
              ]
            }
          }
        },
        recommendations: {
          width: 380,
          type: 'pie',
          series: [
            this.chartsData.sumQuestionThreeTrue,
            this.chartsData.sumQuestionThreeFalse
          ],
          options: {
            labels: [
              this.$t('lang.statistics.charts.recommendations.recommend'),
              this.$t('lang.statistics.charts.recommendations.dontRecommend')
            ]
          }
        }
      };
    }
  },
  async mounted() {
    try {
      const result = await this.fetchStatistics();
      this.chartsData = {
        ...result.docs
      };
      return result;
    } catch (e) {
      this.$notifications.auto(e.response.data);
      throw e;
    }
  }
};
</script>

<style scoped lang="scss">
.stats-card {
  margin-top: 20px;
  .button {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    &:hover {
      opacity: 0.8;
    }
  }
  &.members {
    /*background-color: #409eff;*/
    /*color: white;*/
  }
  &.articles {
    background-color: #e89942;
  }
  &.comments {
    background-color: #67c23a;
  }
  &.feedbacks {
    background-color: #f56c6c;
  }
}
</style>
