<template>
  <div>
    <users-form
      :on-cancel="goToUsers"
      :on-success="goToUsers"
      :data="data"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'User',
  components: {
    UsersForm: () => import('~/components/admin/UsersForm')
  },
  data: () => ({
    data: null
  }),
  methods: {
    ...mapActions({
      fetchUserById: 'users/FETCH_USER_BY_ID'
    }),
    goToUsers() {
      this.$router.push('/admin/users');
    },
    async initialize() {
      if (!this.$route.params.slug) return;
      try {
        const result = await this.fetchUserById(this.$route.params.slug);
        this.data = result.docs;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {
    this.initialize();
  }
};
</script>

<style scoped>
</style>
