<template>
  <container>
    <div class="article-body mt-2 mb-1 px-2 text-center">
      Due to its European dimension, arpa-ageing is an open-source platform, free of use and without advertising or funding. If you are interested in becoming a partner in this European project and help it grow, you can contact <a href="mailto:contact@arpa-ageing.eu">contact@arpa-ageing.eu</a>.
      <hr class="mt-3">
    </div>
    <masonry
      :cols="{default: 3, 800: 2, 600: 1}"
      :gutter="{default: '30px', 700: '15px'}">
      <div
        class="mt-3"
        v-for="(partner, index) in partners"
        :key="index">
        <a
          target="_blank"
          :href="_.get(partner, 'website')">
          <el-card
            shadow="hover"
            :body-style="{ padding: '0px' }">
            <img
              style="width: 100%; display: block;"
              :src="_.get(partner, 'image')">
            <div class="p-3">
              <div class="h2">{{ _.get(partner, 'name') }}</div>
              <p
                style="font-size: 16px !important;"
                class="article-body condensed mt-3">
                {{ _.get(partner, 'shortDescription') }}
              </p>
            </div>
            <div
              class="d-flex flex-justify-end py-2 px-3">
              <a
                target="_blank"
                :href="_.get(partner, 'website')">
                See more
              </a>
            </div>
          </el-card>
        </a>
      </div>
    </masonry>
  </container>
</template>

<script>
export default {
  name: 'Index',
  data: () => ({
    partners: []
  }),
  async mounted() {
    await this.initialize();
  },
  methods: {
    async initialize() {
      try {
        const result = await this.$store.dispatch('sponsors/FETCH_SPONSORS', {
          page: 1,
          limit: 250
        });
        this.partners = result.docs;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  }
};
</script>

<style scoped>
</style>
