<template>
  <container
    class="animated fadeInDown"
    v-if="data && data.firstname">
    <div
      class="d-flex flex-justify-center">
      <vue-avatar
        :username="`${data.firstname}  ${data.lastname}`"
        :size="200"/>
    </div>
    <div
      class="article-body d-flex flex-justify-center mt-5">
      <h1 class="h1">{{ `${data.firstname}  ${data.lastname}` }}</h1>
    </div>
    <div
      class="text-center mt-5">
      <h3>What about?</h3>
      <p
        style="max-width: 600px"
        class="mt-2 text-center d-inline-block article-body condensed">
        {{ data.description }}
      </p>
      <br>
      <!--      -->
      <p
        style="max-width: 500px"
        class="mt-5 d-inline-block common-text"
        v-if="data.professionalDocument && $route.query.professionalNotificationId && $roles.check(['native_committee_member', 'committee_member'])">
        Please confirm professional identity of this user. Click on the link below to download the file that proof the professional status of the user.
        <a
          class="text-bold"
          :href="data.professionalDocument"
          target="_blank">
          Download attachment
        </a>
        <br>
        <span
          class="mt-3 d-block">
          <c-action-button
            @click.native="rejectProfessional"
            type="danger">
            Reject
          </c-action-button>
          <c-action-button
            @click.native="acceptProfessional"
            type="success">
            Accept
          </c-action-button>
        </span>
      </p>
    </div>
  </container>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'UserProfilePage',
  data: () => ({
    data: {}
  }),
  methods: {
    ...mapActions({
      fetchUserById: 'users/FETCH_USER_BY_ID',
      respondToProfessionalRequest: 'users/RESPOND_TO_PROFESSIONAL_REQUEST'
    }),
    async acceptProfessional() {
      try {
        const result = await this.respondToProfessionalRequest({
          id: this.$route.query.professionalNotificationId,
          data: {
            accept: true
          }
        });
        this.$notifications.auto(result);
        this.$router.push('/profile/notifications');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async rejectProfessional() {
      try {
        const result = await this.respondToProfessionalRequest({
          id: this.$route.query.professionalNotificationId,
          data: {
            accept: false
          }
        });
        this.$notifications.auto(result);
        this.$router.push('/profile/notifications');
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {
    try {
      const result = await this.fetchUserById(this.$route.params.slug);
      this.data = result.docs;
    } catch (e) {
      this.$notifications.auto(e.response.data);
      throw e;
    }
  }
};
</script>

<style scoped>
</style>
