<template>
  <div>
    <div>
      <h1 class="h1 pb-5">Create a resource</h1>
    </div>
    <resources-form
      :type="$route.query.type"
      :on-cancel="goToResources"
      :on-success="goToResources"/>
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  name: 'Index',
  components: {
    ResourcesForm: () => import('~/components/resources/ResourcesForm')
  },
  methods: {
    goToResources() {
      this.$router.push('/profile/resources');
    }
  }
};
</script>

<style scoped>
</style>
