<template>
  <div>
    <el-input
      v-if="getOption(options, 'type', 'text') === 'number'"
      v-model.number="c_data"
      :type="getOption(options, 'type', 'text')"
      :maxlength="getOption(options, 'maxlength', null)"
      :minlength="getOption(options, 'minlength', null)"
      :placeholder="getOption(options, 'placeholder', '')"
      :clearable="getOption(options, 'clearable', false)"
      :disabled="getOption(options, 'disabled', false)"
      :size="getOption(options, 'size', 'medium')"
      :prefix-icon="getOption(options, 'prefixIcon', null)"
      :suffix-icon="getOption(options, 'suffixIcon', null)"
      :rows="getOption(options, 'rows', 2)"
      :autosize="getOption(options, 'autosize', false)"
      :autocomplete="getOption(options, 'autocomplete', 'on')"
      :readonly="getOption(options, 'readonly', false)"
      :min="getOption(options, 'min', 0)"
      :max="getOption(options, 'max', 9999)"
      :step="getOption(options, 'step', null)"
      :autofocus="getOption(options, 'autofocus', false)"
      :form="getOption(options, 'form', null)"
      :label="getOption(options, 'label', null)"
      :tabindex="getOption(options, 'tabindex', null)"
      :validate-event="getOption(options, 'validateEvent', true)"/>
    <el-input
      v-else
      v-model="c_data"
      :type="getOption(options, 'type', 'text')"
      :maxlength="getOption(options, 'maxlength', null)"
      :minlength="getOption(options, 'minlength', null)"
      :placeholder="getOption(options, 'placeholderTranslation', false) ? $t(getOption(options, 'placeholderTranslation', '')) : getOption(options, 'placeholder', '')"
      :clearable="getOption(options, 'clearable', false)"
      :disabled="getOption(options, 'disabled', false)"
      :size="getOption(options, 'size', 'medium')"
      :prefix-icon="getOption(options, 'prefixIcon', null)"
      :suffix-icon="getOption(options, 'suffixIcon', null)"
      :rows="getOption(options, 'rows', 2)"
      :autosize="getOption(options, 'autosize', false)"
      :autocomplete="getOption(options, 'autocomplete', 'on')"
      :readonly="getOption(options, 'readonly', false)"
      :min="getOption(options, 'min', 0)"
      :max="getOption(options, 'max', 9999)"
      :step="getOption(options, 'step', null)"
      :autofocus="getOption(options, 'autofocus', false)"
      :form="getOption(options, 'form', null)"
      :label="getOption(options, 'label', null)"
      :tabindex="getOption(options, 'tabindex', null)"
      :validate-event="getOption(options, 'validateEvent', true)"/>
  </div>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldInput',
  mixins: [field]
};
</script>

<style scoped>
</style>
