<template>
  <div>
    <no-ssr>
      <vue-editor
        :placeholder="getOption(options, 'placeholder', '')"
        :disabled="getOption(options, 'disabled', false)"
        v-model="c_data"/>
    </no-ssr>
  </div>
</template>

<script>
import { field } from '~/mixins/form';

export default {
  name: 'CFieldWYSIWYG',
  mixins: [field],
  methods: {}
};
</script>

<style scoped>
</style>
