<template>
  <el-select
    :multiple="getOption(options, 'multiple', false)"
    :disabled="getOption(options, 'disabled', false)"
    :value-key="getOption(options, 'valueKey', 'value')"
    :size="getOption(options, 'size', 'medium')"
    :clearable="getOption(options, 'clearable', true)"
    :collapse-tags="getOption(options, 'collapseTags', false)"
    :multiple-limit="getOption(options, 'multipleLimit', 0)"
    :autocomplete="getOption(options, 'autocomplete', 'off')"
    :placeholder="getOption(options, 'placeholder', 'Please select')"
    :filterable="getOption(options, 'filterable', false)"
    :allow-create="getOption(options, 'allowCreate', false)"
    :remote="getOption(options, 'remote', false)"
    :remote-method="getOption(options, 'remoteMethod', null)"
    :loading="getOption(options, 'loading', false)"
    :loading-text="getOption(options, 'loadingText', 'Loading')"
    :no-match-text="getOption(options, 'noMatchText', 'No matching data')"
    :no-data-text="getOption(options, 'noDataText', 'No data')"
    :popper-class="getOption(options, 'popperClass')"
    :reserve-keyword="getOption(options, 'reserveKeyword', false)"
    :default-first-option="getOption(options, 'defaultFirstOption', false)"
    :popper-append-to-body="getOption(options, 'popperAppendToBody', true)"
    :automatic-dropdown="getOption(options, 'automaticDropdown', false)"
    v-model="c_data">
    <div
      v-if="getOption(options, 'groups', false)">
      <el-option-group
        v-for="group in getOption(options, 'groups', [])"
        :key="group.label"
        :label="group.label">
        <el-option
          v-for="item in getOption(group, 'items', [])"
          :key="item.value"
          :label="item.label"
          :value="item.value"/>
      </el-option-group>
    </div>
    <div
      v-else>
      <el-option
        v-for="item in getOption(options, 'items', [])"
        :key="item.value"
        :label="item.label"
        :value="item.value"/>
    </div>
  </el-select>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldInput',
  mixins: [field]
};
</script>

<style scoped>
</style>
