<template>
  <div>
    <el-button @click="active = !active">
      Use image stock
      <i :class="`el-icon-arrow-${active ? 'up' : 'down'}`"/>
    </el-button>
    <div
      v-show="active"
      class="pt-3">
      <el-input
        v-model="search"
        placeholder="Please type a keyword and select one image from stock"
        @keyup.enter.native="getPhotos">
        <el-button
          slot="append"
          icon="el-icon-search"
          @click="getPhotos"/>
      </el-input>
      <div v-if="images.length">
        <div
          :key="image.tiny"
          class="d-inline-flex mt-2"
          v-for="image in images">
          <img

            class="mx-2 hover-grow pointer animated fadeInDown"
            :key="image.original"
            :src="image.tiny"
            :style="{
              border: (image.tiny === c_data.tiny) ? 'solid 5px grey' : '',
              filter: (image.tiny !== c_data.tiny && c_data.tiny !== '') ? 'grayscale(100%)' : ''
            }"
            width="150"
            @click="select(image)"
            alt="">
        </div>
      </div>


      <div v-if="images.length === 0 && search !==''">
        <p>No results</p>
      </div>
    </div>
  </div>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldImageGallery',
  mixins: [field],
  data: () => ({
    images: [],
    search: '',
    active: false
  }),
  methods: {
    select(image) {
      if (this.c_data.tiny === image.tiny) {
        this.c_data.tiny = 'other';
      }
      this.c_data = { ...image };
    },
    async getPhotos() {
      this.images = [];
      this.c_data = { tiny: '' };
      const { data } = await this.$store.$axios.get(`/gallery/${this.search}`);
      data.docs.photos.map(({ src }, i) =>
        setTimeout(() => this.images.push(src), i * 75)
      );
      // this.images = data.docs.photos.map(({ src }) => src.tiny);
    }
  }
};
</script>

<style scoped>
</style>
