<template>
  <el-checkbox-group
    v-model="c_data"
    :size="getOption(options, 'size', 'medium')"
    :disabled="getOption(options, 'disabled', false)"
    :min="getOption(options, 'min', 0)"
    :max="getOption(options, 'max', 999)">
    <div
      v-if="!getOption(options, 'button')">
      <el-checkbox
        v-for="(checkbox, index) in getOption(options, 'items', '[]')"
        :key="index"
        :border="getOption(checkbox, 'border', false)"
        :disabled="getOption(checkbox, 'disabled', false)"
        :size="getOption(checkbox, 'size', 'medium')"
        :intermediate="getOption(checkbox, 'intermediate', false)"
        :label="getOption(checkbox, 'label')">
        {{ checkbox.text }}
      </el-checkbox>
    </div>
    <div
      v-else>
      <el-checkbox-button
        v-for="(checkbox, index) in getOption(options, 'items', '[]')"
        :key="index"
        :label="getOption(checkbox, 'label')"
        :size="getOption(checkbox, 'size', 'medium')"
        :disabled="getOption(checkbox, 'disabled', false)"/>
    </div>
  </el-checkbox-group>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldCheckbox',
  mixins: [field]
};
</script>

<style scoped>
</style>
