<template>
  <el-radio-group
    v-model="c_data"
    :size="getOption(options, 'size', 'medium')"
    :disabled="getOption(options, 'disabled', false)">
    <div
      v-if="!getOption(options, 'button')">
      <el-radio
        v-for="(radio, index) in getOption(options, 'items', '[]')"
        :key="index"
        :label="getOption(radio, 'labelTranslation', false) ? $t(getOption(radio, 'labelTranslation', '')) : getOption(radio, 'label', '')"
        :disabled="getOption(radio, 'disabled', false)"
        :border="getOption(radio, 'border', false)"
        :size="getOption(radio, 'size', 'medium')">{{ getOption(radio, 'text', '') }}</el-radio>
    </div>
    <div
      v-else>
      <el-radio-button
        v-for="(radio, index) in getOption(options, 'items', '[]')"
        :key="index"
        :label="getOption(radio, 'labelTranslation', false) ? $t(getOption(radio, 'labelTranslation', '')) : getOption(radio, 'label', '')"
        :disabled="getOption(radio, 'disabled', false)"/>
    </div>
  </el-radio-group>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldRadio',
  mixins: [field]
};
</script>

<style scoped>
</style>
