<template>
  <div>
    <el-input-number
      v-model="c_data"
      :disabled="getOption(options, 'disabled', false)"
      :size="getOption(options, 'size', 'medium')"
      :min="getOption(options, 'min', 0)"
      :max="getOption(options, 'max', 9999)"
      :step="getOption(options, 'step', 1)"
      :label="getOption(options, 'label', null)"
      :placeholder="getOption(options, 'placeholder', '')"
      :controls="getOption(options, 'controls', true)"
      :controls-position="getOption(options, 'controlsPosition', 'right')"
      :precision="getOption(options, 'precision', 0)"
    />
  </div>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldInputNumber',
  mixins: [field]
};
</script>

<style scoped>
</style>
