<template>
  <el-upload
    :file-list="getOption(options, 'fileList', [])"
    :action="getOption(options, 'action', null)"
    :on-change="handleChange"
    :headers="getOption(options, 'headers', null)"
    :multiple="getOption(options, 'multiple', false)"
    :name="getOption(options, 'name', 'file')"
    :show-file-list="getOption(options, 'showFileList', true)"
    :drag="getOption(options, 'drag', true)"
    :accept="getOption(options, 'accept', null)"
    :thumbnail-mode="getOption(options, 'thumbnailMode', false)"
    :list-type="getOption(options, 'listType', 'text')"
    :auto-upload="getOption(options, 'autoUpload', false)"
    :disabled="getOption(options, 'disabled', false)"
    :limit="getOption(options, 'limit', null)"
    :on-exceed="onExceedHandle"
    :before-upload="beforeUploadHandle">
    <c-action-button
      type="primary">
      <i class="el-icon-upload"/>
      Upload
    </c-action-button>
    <!--<div
      class="el-upload__text">
      {{ getOption(options, 'message', 'Drop file here or click to choose' ) }}
    </div>-->
    <div
      class="el-upload__tip"
      slot="tip">
      {{ getOption(options, 'hint', '' ) }}
    </div>
  </el-upload>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldUpload',
  mixins: [field],
  data: () => ({
    files: []
  }),
  methods: {
    onExceedHandle() {
      this.$message.error(
        `You cannot upload more than ${this.getOption(
          this.options,
          'limit'
        )} file(s)`
      );
    },
    beforeUploadHandle(file) {
      let sizeLimit = true;
      if (this.getOption(this.options, 'weightLimit')) {
        sizeLimit =
          file.size / 1024 / 1024 < this.getOption(this.options, 'weightLimit');
        if (!sizeLimit) {
          this.$message.error(
            `File cannot exceed ${this.getOption(
              this.options,
              'weightLimit'
            )}mo`
          );
        }
      }
      return sizeLimit;
    },
    handleChange(file, fileList) {
      if (!this.getOption(this.options, 'multiple', true)) {
        if (this.getOption(this.options, 'fileObject', false)) {
          return {
            url: this._.get(file, 'response.docs.url'),
            name: this._.get(file, 'name')
          };
        } else {
          this.c_data = this._.get(file, 'response.docs.url');
        }
      } else {
        const files = fileList.map(f => {
          if (this.getOption(this.options, 'fileObject', false)) {
            return {
              url: this._.get(f, 'response.docs.url'),
              name: this._.get(f, 'name')
            };
          } else {
            return this._.get(f, 'response.docs.url');
          }
        });
        this.c_data = files;
      }
    }
  }
};
</script>

<style scoped>
</style>
