<template>
  <div>
    <croppa
      ref="croppa"
      :key="componentKey"
      v-model="c_data"
      :width="275"
      :height="220"
      :prevent-white-space="true"
      :accept="getOption(options, 'accept', null)"
      @init="init"
    >
      <img
        v-if="options && options.initial"
        crossOrigin="anonymous"
        :src="options.initial"
        slot="initial">
    </croppa>
    <p class="">After upload, you can zoom and move your image with your mouse</p>
  </div>
  <!--  <el-upload-->
  <!--    :file-list="getOption(options, 'fileList', [])"-->
  <!--    :action="getOption(options, 'action', null)"-->
  <!--    :on-change="handleChange"-->
  <!--    :headers="getOption(options, 'headers', null)"-->
  <!--    :multiple="getOption(options, 'multiple', false)"-->
  <!--    :name="getOption(options, 'name', 'file')"-->
  <!--    :show-file-list="getOption(options, 'showFileList', true)"-->
  <!--    :drag="getOption(options, 'drag', true)"-->
  <!--    :accept="getOption(options, 'accept', null)"-->
  <!--    :thumbnail-mode="getOption(options, 'thumbnailMode', false)"-->
  <!--    :list-type="getOption(options, 'listType', 'text')"-->
  <!--    :auto-upload="getOption(options, 'autoUpload', false)"-->
  <!--    :disabled="getOption(options, 'disabled', false)"-->
  <!--    :limit="getOption(options, 'limit', null)"-->
  <!--    :on-exceed="onExceedHandle"-->
  <!--    :before-upload="beforeUploadHandle">-->
  <!--    <c-action-button-->
  <!--      type="primary">-->
  <!--      <i class="el-icon-upload"/>-->
  <!--      Upload-->
  <!--    </c-action-button>-->
  <!--    &lt;!&ndash;<div-->
  <!--      class="el-upload__text">-->
  <!--      {{ getOption(options, 'message', 'Drop file here or click to choose' ) }}-->
  <!--    </div>&ndash;&gt;-->
  <!--    <div-->
  <!--      class="el-upload__tip"-->
  <!--      slot="tip">-->
  <!--      {{ getOption(options, 'hint', '' ) }}-->
  <!--    </div>-->
  <!--  </el-upload>-->
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldUpload',
  mixins: [field],
  data: () => ({
    files: [],
    componentKey: 0
  }),
  methods: {
    init(c) {
      this.options.croppa = c;
    }
  },
  watch: {
    'options.initial'() {
      this.componentKey += 1;
    }
  }
};
</script>

<style scoped>
</style>
