<template>
  <el-date-picker
    v-model="c_data"
    :readonly="getOption(options, 'readonly', false)"
    :disabled="getOption(options, 'disabled', false)"
    :size="getOption(options, 'size', 'medium')"
    :editable="getOption(options, 'editable', true)"
    :clearable="getOption(options, 'clearable', true)"
    :placeholder="getOption(options, 'placeholder', 'Select a date')"
    :start-placeholder="getOption(options, 'startPlaceholder', null)"
    :end-placeholder="getOption(options, 'endPlaceholder', null)"
    :type="getOption(options, 'type', 'date')"
    :format="getOption(options, 'format', 'dd/MM/yyyy')"
    :align="getOption(options, 'align', 'left')"
    :popper-class="getOption(options, 'popperClass', null)"
    :picker-options="getOption(options, 'pickerOptions', {})"
    :range-separator="getOption(options, 'rangeSeparator', '-')"
    :default-value="getOption(options, 'defaultValue', $moment())"
    :default-time="getOption(options, 'defaultTime', null)"
    :value-format="getOption(options, 'valueFormat', null)"
    :unlink-panels="getOption(options, 'unlinkPanels', null)"
    :prefix-icon="getOption(options, 'prefixIcon', null)"
    :clear-icon="getOption(options, 'clearIcon', null)"/>
</template>

<script>
import { field } from '~/mixins/form';
export default {
  name: 'CFieldDatePicker',
  mixins: [field]
};
</script>

<style scoped>
</style>
