<template>
  <container>
    <c-form
      :sheet="true"
      :edit-form="true"
      :edit-fields="true"
      @add="add"
      :data.sync="form"/>
    <el-button
      :disabled="!form.isValid"
      size="medium"
      type="primary"
      round>Valider</el-button>
  </container>
</template>

<script>
import moment from 'moment';
export default {
  name: 'Index',
  data: () => ({
    form: {
      isValid: false,
      inline: false,
      labelPosition: 'top',
      labelWidth: '150px',
      labelSuffix: 'A',
      hideRequiredAsterisk: false,
      showMessage: true,
      inlineMessage: false,
      statusIcon: true,
      validateOnRuleChange: true,
      size: 'medium',
      disabled: false,
      gutter: 10,
      type: 'flex',
      justify: 'start',
      align: 'top',

      inputs: {
        name: {
          label: 'Nom',
          component: 'cFieldInput',
          options: {
            type: 'text',
            maxlength: null,
            minlength: null,
            placeholder: 'Votre nom',
            clearable: false,
            disabled: false,
            size: 'medium',
            prefixIcon: null,
            suffixIcon: null,
            rows: 2,
            autosize: false,
            autocomplete: 'on',
            readonly: false,
            max: null,
            min: null,
            step: null,
            autofocus: false,
            form: null,
            label: null,
            tabindex: null,
            validateEvent: true
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 20,
          sm: 20,
          md: 20,
          lg: 20,
          xl: 20,
          buttons: [
            {
              label: 'Ajouter',
              span: 24,
              offset: 1,
              push: 0,
              pull: 0,
              xs: 3,
              sm: 3,
              md: 3,
              lg: 3,
              xl: 3,

              size: 'medium',
              type: 'primary',
              plain: true,
              round: true,
              circle: false,
              loading: false,
              icon: null,
              autofocus: false,
              nativeType: 'button',
              event: 'add'
            }
          ],
          value: 'ABC',
          rules: [
            {
              required: true,
              message: 'Please enter your email',
              trigger: 'blur'
            }
          ]
        },
        divider: {
          component: 'divider',
          value: 'divider'
        },
        number: {
          label: 'Nombre',
          component: 'cFieldInputNumber',
          options: {
            placeholder: 'Ajouter un commentaire',
            disabled: false,
            size: 'medium',
            max: 9999,
            min: 0,
            step: 1,
            label: null,
            controls: false,
            controlsPosition: 'right',
            precision: 0
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 24,
          sm: 24,
          md: 24,
          lg: 24,
          xl: 24,
          value: 0,
          rules: [
            {
              required: true,
              message: 'Please select a positive number',
              trigger: 'blur'
            }
          ]
        },
        radios: {
          label: 'Radios',
          component: 'cFieldRadio',
          options: {
            disabled: false,
            size: 'medium',
            button: false,
            items: [
              {
                text: 'Choix A',
                label: 'A',
                disabled: false,
                border: false,
                size: 'medium'
              },
              {
                text: 'Choix B',
                label: 'B',
                disabled: false,
                border: false,
                size: 'medium'
              }
            ]
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 20,
          sm: 20,
          md: 20,
          lg: 20,
          xl: 20,
          value: null
        },
        checkboxs: {
          label: 'Checkboxs',
          component: 'cFieldCheckbox',
          options: {
            disabled: false,
            size: 'medium',
            min: 0,
            max: 999,
            button: false,
            items: [
              {
                text: 'Choix A',
                label: 1,
                disabled: false,
                border: true,
                size: 'medium',
                intermediate: false
              },
              {
                text: 'Choix B',
                label: 2,
                disabled: false,
                border: true,
                size: 'medium',
                intermediate: false
              }
            ]
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 24,
          sm: 24,
          md: 24,
          lg: 24,
          xl: 24,
          value: [1]
        },
        password: {
          component: 'cFieldInput',
          label: 'Mot de passe',
          value: null,
          options: {
            type: 'password',
            placeholder: '*******'
          },
          rules: [
            {
              required: true,
              message: 'Please enter your password',
              trigger: 'blur'
            }
          ]
        },
        files: {
          label: 'Files',
          component: 'cFieldUpload',
          options: {
            fileList: [],
            action: '/api/file',
            message: 'Drop file here or click to choose',
            hint: 'png, jpg, gif, less than 2 mo.',
            multiple: false,
            drag: false,
            limit: 1,
            accept: '.jpg,.png,.gif',
            listType: 'picture',
            autoUpload: true,
            weightLimit: 2
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 24,
          sm: 24,
          md: 24,
          lg: 24,
          xl: 24,
          value: []
        },
        wysiwyg: {
          label: 'WYSIWYG editor',
          component: 'cFieldWYSIWYG',
          options: {
            toolbar: {}
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 24,
          sm: 24,
          md: 24,
          lg: 24,
          xl: 24,
          value: ''
        },
        select: {
          label: 'Select',
          component: 'cFieldSelect',
          options: {
            multiple: true,
            disabled: false,
            valueKey: 'value',
            size: 'medium',
            clearable: true,
            collapseTags: false,
            multipleLimit: 2,
            autocomplete: 'off',
            placeholder: 'Please select',
            filterable: true,
            allowCreate: false,
            remote: false,
            remoteEndPoint: null,
            loading: false,
            loadingText: 'Loading',
            noMatchText: 'No matching data',
            noDataText: 'No data',
            popperClass: null,
            reserveKeyword: false,
            defaultFirstOption: false,
            popperAppendToBody: true,
            automaticDropdown: false,
            items: [
              {
                value: 'Chengdu',
                label: 'Chengdu'
              },
              {
                value: 'Shenzhen',
                label: 'Shenzhen'
              },
              {
                value: 'Guangzhou',
                label: 'Guangzhou'
              },
              {
                value: 'Dalian',
                label: 'Dalian'
              }
            ]
            /* groups: [
              {
                label: 'Popular cities',
                items: [
                  {
                    value: 1,
                    label: 'Shanghai'
                  },
                  {
                    value: 2,
                    label: 'Beijing'
                  }
                ]
              },
              {
                label: 'City name',
                items: [
                  {
                    value: 3,
                    label: 'Chengdu'
                  },
                  {
                    value: 4,
                    label: 'Shenzhen'
                  },
                  {
                    value: 5,
                    label: 'Guangzhou'
                  },
                  {
                    value: 6,
                    label: 'Dalian'
                  }
                ]
              }
            ]*/
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 24,
          sm: 24,
          md: 24,
          lg: 24,
          xl: 24,
          value: []
        },
        selectGroup: {
          label: 'Select group',
          component: 'cFieldSelect',
          options: {
            multiple: false,
            disabled: false,
            valueKey: 'value',
            size: 'medium',
            clearable: true,
            collapseTags: false,
            multipleLimit: 0,
            autocomplete: 'off',
            placeholder: 'Please select',
            filterable: true,
            allowCreate: false,
            remote: false,
            remoteEndPoint: null,
            loading: false,
            loadingText: 'Loading',
            noMatchText: 'No matching data',
            noDataText: 'No data',
            popperClass: null,
            reserveKeyword: false,
            defaultFirstOption: false,
            popperAppendToBody: true,
            automaticDropdown: false,
            groups: [
              {
                label: 'Popular cities',
                items: [
                  {
                    value: 1,
                    label: 'Shanghai'
                  },
                  {
                    value: 2,
                    label: 'Beijing'
                  }
                ]
              },
              {
                label: 'City name',
                items: [
                  {
                    value: 3,
                    label: 'Chengdu'
                  },
                  {
                    value: 4,
                    label: 'Shenzhen'
                  },
                  {
                    value: 5,
                    label: 'Guangzhou'
                  },
                  {
                    value: 6,
                    label: 'Dalian'
                  }
                ]
              }
            ]
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 24,
          sm: 24,
          md: 24,
          lg: 24,
          xl: 24,
          value: []
        },
        datepicker: {
          label: 'Date picker',
          component: 'cFieldDatePicker',
          options: {
            readonly: false,
            disabled: false,
            size: 'medium',
            editable: true,
            clearable: true,
            placeholder: 'Select a date',
            startPlaceholder: null,
            endPlaceholder: null,
            type: 'date',
            format: 'dd/MM/yyyy',
            align: 'left',
            popperClass: null,
            pickerOptions: {},
            rangeSeparator: '-',
            defaultValue: moment(),
            defaultTime: '',
            valueFormat: null,
            unlinkPanels: null,
            prefixIcon: null,
            clearIcon: null
          },
          span: 24,
          offset: 0,
          push: 0,
          pull: 0,
          xs: 24,
          sm: 24,
          md: 24,
          lg: 24,
          xl: 24,
          value: moment()
        }
      }
    }
  }),
  methods: {
    onUpload() {
      return;
    },
    add(value) {
      alert(value);
    }
  }
};
</script>

<style scoped>
</style>
