<template>
  <container
    full>
    <resource-view
      :author-section="false"
      :comment-section="false"
      :resource="news"/>
  </container>
</template>

<script>
export default {
  name: 'News',
  components: {
    ResourceView: () => import('~/components/resources/ResourceView')
  },
  data: () => ({
    news: {},
    commentInput: ''
  }),
  async asyncData({ store, route }) {
    try {
      const { docs: news } = await store.dispatch(
        'about/FETCH_REPORT',
        route.params.slug
      );
      return {
        news
      };
    } catch (e) {
      console.log(e);
      //redirect('/404');
    }
  }
};
</script>
