<template>
  <div>
    <div
      style="justify-content: center"
      class="d-flex">
      <date
        position="start"
        :date="{
          number: $moment(_.get(event, 'startDate')).format('DD'),
          month: $moment(_.get(event, 'startDate')).format('MMMM'),
          year: $moment(_.get(event, 'startDate')).format('YYYY'),
          time: $moment(_.get(event, 'startDate')).format('HH:mm'),
      }">
        <slot
          v-if="isSameDay && !hasSameDateTime"
          slot="time">
          {{ $moment(_.get(event, 'startDate')).format('HH:mm') }}
          <font-awesome-icon
            class="mx-2"
            icon="clock"/>
          {{ $moment(_.get(event, 'endDate')).format('HH:mm') }}
        </slot>
      </date>
      <template v-if="!isSameDay">
        <div
          style="font-weight: 200; font-size: 20px;"
          class="mx-5">
          TO
        </div>
        <date
          v-if="_.get(event, 'endDate')"
          position="end"
          :date="{
            number: $moment(_.get(event, 'endDate')).format('DD'),
            month: $moment(_.get(event, 'endDate')).format('MMMM'),
            year: $moment(_.get(event, 'endDate')).format('YYYY'),
            time: $moment(_.get(event, 'endDate')).format('HH:mm'),
        }"/>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DateItem',
  props: {
    event: {
      type: Object,
      required: true
    }
  },
  computed: {
    isSameDay() {
      return (
        this.$moment(this.event.startDate).format('YYYY-MM-DD') ===
        this.$moment(this.event.endDate).format('YYYY-MM-DD')
      );
    },
    hasSameDateTime() {
      return (
        this.$moment(this.event.startDate).format('YYYY-MM-DD HH:mm') ===
        this.$moment(this.event.endDate).format('YYYY-MM-DD HH:mm')
      );
    }
  }
};
</script>

<style scoped>
</style>
