<template>
  <div>
    <div
      class="article-body">
      <h3 class="mb-2">{{ propSurvey.topic }}</h3>
    </div>
    <no-ssr>
      <!-- Poll form -->
      <el-row v-if="!isLikedByUser && loggedIn && Math.floor(duration.asMilliseconds()) > 0">
        <el-col
          v-for="answer in propSurvey.choices"
          :key="answer._id">
          <el-button
            @click="sendAnswer(answer._id)"
            class="width-full my-1 article-body">
            {{ answer.answer }}
          </el-button>
        </el-col>
      </el-row>
      <!-- Poll result -->
      <el-row
        v-else
        justify="center"
        class="mx-auto width-full">
        <el-col
          :span="24"
          v-for="answer in propSurvey.choices"
          :key="answer._id">
          <div>
            <c-progress
              :percentage="answer.percentage"
              :stroke-width="'35px'"
              :selected="isLikedByUser"
              class="my-1">
              <p
                class="article-body"
                style="display: inline-block;">
                <span
                  class="d-inline-block text-right mr-3"
                  style="width: 100px; font-weight: 400">
                  {{ answer.percentage }}%
                </span>
                <span>
                  {{ answer.answer }}
                </span>
              </p>
            </c-progress>
          </div>
        </el-col>
        <el-col
          :span="24"
          class="mt-2">
          <p>{{ propSurvey.totalVote }} voters - Survey results
            <span
              class="float-right">
              <span v-if="Math.floor(duration.asHours()) > 0">{{ `${Math.floor(duration.asHours())} hours remaining` }}</span>
              <span v-else>Finished</span>
            </span>
          </p>
        </el-col>
      </el-row>
    </no-ssr>
  </div>
</template>

<script>
export default {
  name: 'PollItem',
  components: {
    cProgress: () => import('~/components/utils/cProgress')
  },
  props: {
    endDate: {
      type: String,
      required: true
    },
    survey: {
      type: Object,
      required: true
    },
    idResource: {
      type: String,
      required: true
    }
  },
  data: () => ({
    poll: null
  }),
  computed: {
    duration() {
      const current = this.$moment().unix();
      const diff = this.$moment.utc(this.endDate).unix() - current;
      return this.$moment.duration(diff * 1000, 'milliseconds');
    },
    propSurvey() {
      return this.poll || this.survey;
    },
    isLikedByUser() {
      return this.survey.isVoteByCurrentUser;
    }
  },
  methods: {
    async sendAnswer(idAnswer) {
      try {
        const { docs } = await this.$store.dispatch('resources/ADD_ANSWER', {
          idResource: this.idResource,
          idAnswer
        });
        this.poll = {
          ...this.survey,
          choices: docs,
          totalVote: this.survey.totalVote + 1
        };
        this.survey.isVoteByCurrentUser = true;
      } catch (e) {
        return this.$notifications.auto(e);
      }
    }
  }
};
</script>

<style scoped>
</style>
