<template>
  <div>
    <!-- Article Header -->
    <el-row
      class="d-flex flex-items-center"
      :style="{'margin-bottom': `${$mq && $mq === 'xs' ? '30px' : '80px'}`}"
      :gutter="10"
      :type="$mq | mq({ xs: 'flex', lg: '' })"
      :class="$mq | mq({ xs: 'flex-reverse-column', lg: '' })">
      <el-col
        :lg="{
          offset: 2,
          span: 10
      }">
        <!-- Article Title -->
        <el-row class="animated fast fadeInRight">
          <el-col
            :lg="{
              offset: 5,
              span: 19
          }">
            <div
              v-if="displayStatus"
              class="mb-2">
              <el-tag
                :type="_.get(rowStatus(resource.resourceStatus), 'type')">
                {{ _.get(rowStatus(resource.resourceStatus), 'name') }}
              </el-tag>
            </div>
            <div
              class="d-flex flex-items-center">
              <nuxt-link
                v-if="_.get(resource, 'category.name', false)"
                :style="`color: ${_.get(resource, 'category.fontColor')}; background-color: ${_.get(resource, 'category.backgroundColor')}`"
                class="no-style article-category"
                @click.native="$emit('category-search', _.get(resource, 'category.name'))"
                :to="`?categories=${_.get(resource, 'category.name')}`">
                <h5 class="text-uppercase text-normal">{{ $t(`lang.categories.${_.get(resource, 'category.name')}`) }}</h5>
              </nuxt-link>
              <div
                class="ml-2"
                v-if="displayLikeButton">
                <c-like-button
                  :id-resource="resource._id"
                  :is-liked="_.get(resource, 'isLikeByCurrentUser', false)"/>
              </div>
            </div>
            <h1
              class="title"
              :style="$mq | mq({ xs: 'font-size: 2em', md: 'font-size: 3em;' })">
              {{ resource.title }}
            </h1>
          </el-col>
          <!-- Description -->
          <el-col
            v-if="resource.shortDescription"
            class="mt-1 mb-3"
            :class="{
              'mt-4': $mq && $mq === 'xs',
              'mb-4': $mq && $mq === 'xs'
            }"
            :xs="24"
            :lg="{
              offset: 5,
              span: 18
          }">
            <h3>
              {{ resource.shortDescription }}
            </h3>
          </el-col>
          <!-- Event -->
          <el-col
            v-if="isEvent"
            class="mb-4"
            :md="{
              offset: 5,
              span: 18
          }">
            <div>
              <date-item
                class="mb-4"
                :event="{
                  startDate: resource.startDate,
                  endDate: resource.endDate
              }"/>
              <template>
                <el-row
                  type="flex"
                  justify="start">
                  <!--<el-button type="info">go to the event</el-button>-->
                </el-row>
              </template>
            </div>
          </el-col>

          <el-col
            :xs="24"
            :lg="{
              offset: 5,
              span: 18
          }">
            <!-- Author recap -->
            <div
              v-if="authorSection"
              class="d-flex flex-items-center">
              <vue-avatar
                :username="`${_.get(resource, 'author.firstname')} ${_.get(resource, 'author.lastname')}`"/>
              <div
                class="d-flex flex-column">
                <div>
                  <author
                    class="ml-3"
                    :resource="resource"/>
                </div>
                <div
                  v-if="displayContactRequest(resource.author)">
                  <el-button
                    @click="openContactRequest()"
                    class="ml-3"
                    type="text">
                    <i class="el-icon-plus"/>
                    Send contact request
                  </el-button>
                </div>
              </div>

            </div>
          </el-col>
        </el-row>
      </el-col>
      <el-col
        class="overflow-hidden mx-sm-auto"
        :lg="{
          span: 12
      }">
        <div
          class="animated fast fadeInRight mb-4"
          style="background-position: center center; background-size: cover; height: 500px; width: 100%"
          :style="{
            'background-image': `url('${resource.image}')`
        }"/>
      </el-col>
    </el-row>
    <!-- Article Container -->
    <div class="d-flex flex-justify-center animated fast fadeInUpBig">
      <div style="width: 100%; max-width: 700px">
        <div class="mb-3">
          <social-sharing
            :url="routeHref"
            :title="resource.title"
            :description="resource.shortDescription"
            :quote="resource.shortDescription"
            :hashtags="tagsJoin"
            inline-template>
            <div>
              <network
                class="social facebook"
                network="facebook">
                Facebook
              </network>
              <network
                class="social twitter"
                network="twitter">
                Twitter
              </network>
              <network
                class="social linkedin"
                network="linkedin">
                Linkedin
              </network>
            </div>
          </social-sharing>
        </div>
        <!-- Tags -->
        <div
          v-if="_.get(resource, 'tags.length') > 0"
          class="mb-3">
          <font-awesome-icon
            class="text-gray"
            icon="tags"/>
          <a
            v-for="tag in _.get(resource, 'tags')"
            :href="`/?tags=${tag.name}`"
            type="text"
            class="mr-2"
            :key="tag.name">#{{ tag.name }}</a>
        </div>
        <!-- Article -->
        <div
          class="article-body">
          <el-alert
            class="my-3"
            v-if="committeeView"
            title="Committee view only"
            type="info"
            :closable="false"
            description="Only committee members can see this version of this resource. Action has been done by the author or a committee member and it is now attempting for committee validation."
            show-icon/>
          <div v-html="resource.mainContent" />
        </div>
        <div
          v-if="resource.survey"
          class="mt-6">
          <poll-item
            :survey="resource.survey"
            :id-resource="resource._id"
            :end-date="resource.endDate"
          />
        </div>
        <div
          class="my-4">
          <hr>
          <div
            class="my-3"
            v-if="Array.isArray(this.resource.attachments) && this.resource.attachments.length > 0">
            <div class="h3 mb-2">Attachments</div>
            <el-card shadow="never">
              <ul>
                <li
                  v-for="(attachment, index) in this.resource.attachments"
                  :key="index">
                  <a :href="attachment.url">{{ attachment.name }}</a>
                </li>
              </ul>
            </el-card>
          </div>
          <no-ssr>
            <div
              v-if="isReportable && loggedIn && !isUserResource"
              class="text-right">
              <div
                class="p-3"
                v-if="resource.isReportedBy.includes(user._id)">
                <el-row
                  class="text-gray-light"
                  justify="end"
                  align="middle"
                  type="flex">
                  <font-awesome-icon icon="exclamation-triangle" /> <div class="ml-1">reported</div>
                </el-row>
              </div>
              <c-action-button
                v-else
                @click.native="resourceReportDialog.visible = true"
                type="text">
                Report this resource
              </c-action-button>
            </div>
          </no-ssr>
        </div>

        <!-- Comment Form -->
        <no-ssr>
          <el-card
            class="mt-2 px-2"
            shadow="never"
            v-if="loggedIn && resource.commentIsAuthorize && commentSection">
            <el-row>
              <el-col
                :span="3"
                class="hidden-sm-and-down">
                <vue-avatar
                  :username="`${_.get(user, 'firstname')} ${_.get(user, 'lastname')}`"/>
              </el-col>
              <el-col
                :xs="24"
                :md="21" >
                <el-form>
                  <el-form-item>
                    <el-input
                      class="border-0"
                      type="textarea"
                      :rows="3"
                      v-model="commentInput"
                      placeholder="Write a response..."/>
                  </el-form-item>
                  <el-form-item
                    class="text-right">
                    <c-action-button
                      :disabled="!commentInput"
                      type="primary"
                      @click.native="sendComment">
                      Publish
                    </c-action-button>
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
          </el-card>
        </no-ssr>
        <!-- Comments -->
        <div
          v-if="resource.commentIsAuthorize && commentSection"
          v-for="comment in resource.comments"
          :class="{'comment-focused': comment._id === focusOnComment}"
          :key="comment._id">
          <comment
            :ref="comment._id"
            @reported="openResourceReportComment"
            @deleted="openResourceCommentDelete"
            :resource-auhtor-id="_.get(resource, 'author._id')"
            :is-reported-by="comment.isReportedBy"
            :text="comment.text"
            :comment-id="_.get(comment, '_id', '')"
            :id="_.get(comment, 'author._id')"
            :firstname="_.get(comment, 'author.firstname')"
            :lastname="_.get(comment, 'author.lastname')"
            :date="_.get(comment, 'publishedDate')"/>
        </div>
        <div
          class="text-center mt-3"
          v-if="!resource.commentIsAuthorize && commentSection">
          <span
            style="color: #e1e1e1;">
            <div>
              <font-awesome-icon
                style="font-size: 35px;"
                icon="comments" />
            </div>
            <div>
              Comments are disabled
            </div>
          </span>
        </div>
      </div>
    </div>
    <c-dialog
      v-model="resourceReportDialog.visible"
      :header="resourceReportDialog.header">
      <c-form
        :ref="resourceReportForm.ref"
        class="mt-4"
        :data.sync="resourceReportForm"/>
      <template
        slot="actions">
        <c-action-button
          @click.native="resourceReportDialog.visible = false">
          Cancel
        </c-action-button>
        <c-action-button
          @click.native="sendResourceReport"
          type="primary">
          Report
        </c-action-button>
      </template>
    </c-dialog>
    <c-dialog
      v-model="resourceReportCommentDialog.visible"
      :header="resourceReportCommentDialog.header">
      <c-form
        :ref="resourceReportCommentForm.ref"
        class="mt-4"
        :data.sync="resourceReportCommentForm"/>
      <template
        slot="actions">
        <c-action-button
          @click.native="resourceReportCommentDialog.visible = false">
          Cancel
        </c-action-button>
        <c-action-button
          @click.native="sendResourceReportComment()"
          type="primary">
          Report
        </c-action-button>
      </template>
    </c-dialog>
    <c-dialog
      v-model="resourceCommentDeleteDialog.visible"
      :header="resourceCommentDeleteDialog.header">
      <template
        slot="actions">
        <c-action-button
          @click.native="resourceCommentDeleteDialog.visible = false">
          Cancel
        </c-action-button>
        <c-action-button
          @click.native="deleteComment()"
          type="danger">
          Delete
        </c-action-button>
      </template>
    </c-dialog>
    <contact-request-form
      :on-success="closeContactRequest"
      v-model="contactRequestVisible"
      :data="authorData"/>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  head() {
    return {
      title: this.resource.title,
      meta: [
        { property: 'og:title', content: this.resource.title },
        { property: 'og:site_name', content: 'ARPA-Ageing' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: this.routeHref },
        {
          property: 'og:image',
          content: `https://arpa-ageing.eu${this.resource.image}`
        },
        {
          property: 'og:description',
          content: this.resource.shortDescription
        },
        {
          name: 'twitter:site',
          content: this.routeHref
        },
        { name: 'twitter:title', content: this.resource.title },
        {
          name: 'twitter:description',
          content: this.resource.shortDescription
        },
        {
          name: 'twitter:image:src',
          content: `https://arpa-ageing.eu${this.resource.image}`
        },
        { itemprop: 'name', content: this.resource.title },
        {
          itemprop: 'description',
          content: this.resource.shortDescription
        },
        {
          itemprop: 'image',
          content: `https://arpa-ageing.eu${this.resource.image}`
        }
      ]
    };
  },
  name: 'ResourceView',
  components: {
    Avatar: () => import('~/components/utils/Avatar'),
    Comment: () => import('~/components/pages/resource/comment'),
    PollItem: () => import('~/components/resources/PollItem'),
    DateItem: () => import('~/components/resources/DateItem'),
    Author: () => import('~/components/utils/Author'),
    ContactRequestForm: () => import('~/components/profile/ContactRequestForm'),
    cLikeButton: () => import('~/components/buttons/cLikeButton')
  },
  props: {
    displayLikeButton: {
      type: Boolean,
      default: false
    },
    displayStatus: {
      type: Boolean,
      default: false
    },
    committeeView: {
      type: Boolean,
      default: false
    },
    commentSection: {
      type: Boolean,
      default: true
    },
    authorSection: {
      type: Boolean,
      default: true
    },
    isEvent: {
      type: Boolean,
      default: false
    },
    resource: {
      type: Object,
      default: () => {}
    },
    isReportable: {
      type: Boolean,
      default: false
    },
    focusOnComment: {
      type: String,
      default: null
    }
  },
  data: () => ({
    contactRequestVisible: false,
    selectedCommentReport: null,
    resourceCommentDeleteDialog: {
      visible: false,
      header: {
        title: 'Do you really want to delete this comment?',
        description: 'This action would be irreversible'
      }
    },
    resourceReportDialog: {
      visible: false,
      header: {
        title: 'Why do you report this resource'
      }
    },
    resourceReportCommentDialog: {
      visible: false,
      header: {
        title: 'Why do you report this comment'
      }
    },
    resourceReportForm: {
      inputs: {
        message: {
          component: 'cFieldInput',
          options: {
            type: 'textarea',
            placeholder: 'This resource does not respect...',
            rows: 3,
            max: 500
          },
          rules: [
            {
              required: true,
              message: 'Please enter a message',
              trigger: 'blur'
            }
          ],
          value: ''
        }
      }
    },
    resourceReportCommentForm: {
      inputs: {
        message: {
          component: 'cFieldInput',
          options: {
            type: 'textarea',
            placeholder: 'This comment does not respect...',
            rows: 3,
            max: 500
          },
          rules: [
            {
              required: true,
              message: 'Please enter a message',
              trigger: 'blur'
            }
          ],
          value: ''
        }
      }
    },
    commentInput: ''
  }),
  computed: {
    ...mapGetters({
      getState: 'resources/getState'
    }),
    routeHref() {
      if (process.server) return;
      return window.location.href;
    },
    tagsJoin() {
      if (!this._.get(this.resource, 'tags.length', 0) > 0)
        return 'arpa-ageing';
      const tags = this.resource.tags;
      return tags.map(t => t.name).join();
    },
    authorData() {
      return {
        ...this._.get(this.resource, 'author'),
        ...{
          id: this._.get(this.resource, 'author._id')
        }
      };
    },
    isUserResource() {
      return (
        this.loggedIn &&
        this._.get(this, 'resource.author._id') === this._.get(this, 'user._id')
      );
    }
  },
  methods: {
    ...mapActions({
      reportResource: 'resources/REPORT_RESOURCE',
      reportResourceComment: 'resources/REPORT_RESOURCE_COMMENT',
      deleteResourceComment: 'resources/DELETE_RESOURCE_COMMENT'
    }),
    displayContactRequest(value) {
      if (!this.$roles.check('professional')) return false;
      if (!value.isAgreeWithContactRequest) return false;
      if (!value.isAlreadyInMyNetwork && !value.contactRequestAlreadySent)
        return true;
      if (value.isAlreadyInMyNetwork || value.contactRequestAlreadySent)
        return false;
    },
    rowStatus(status) {
      return this.getState(status);
    },
    async sendComment() {
      try {
        const { docs: result } = await this.$store.dispatch(
          'resources/CREATE_COMMENT',
          {
            id: this.resource._id,
            text: this.commentInput
          }
        );
        this.resource.comments.unshift({
          _id: result._id,
          text: result.text,
          publishedDate: new Date(),
          author: {
            _id: this.user._id,
            firstname: this.user.firstname,
            lastname: this.user.lastname
          }
        });
        this.commentInput = '';
      } catch (e) {
        this.$notifications.auto(e.response.data);
        console.error(e);
      }
    },
    async sendResourceReport() {
      const valid = this.$form.validate.call(this, this.resourceReportForm.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.resourceReportForm.ref);
      let result;
      try {
        result = await this.reportResource({ id: this.resource._id, data });
        this.$notifications.auto(result);
        this.resource.isReportedBy.push(this.user._id);
        this.resourceReportDialog.visible = false;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    },
    async sendResourceReportComment() {
      let comments;
      let comment;
      const valid = this.$form.validate.call(
        this,
        this.resourceReportCommentForm.ref
      );
      if (!valid) return;
      const data = this.$form.jsonData.call(
        this,
        this.resourceReportCommentForm.ref
      );
      let result;
      try {
        result = await this.reportResourceComment({
          id: this.selectedCommentReport,
          data
        });
        this.$notifications.auto(result);
        this.resourceReportCommentDialog.visible = false;

        if (!Array.isArray(this._.get(this.resource, 'comments'))) return;
        comments = this.resource.comments;
        comment = comments.find(c => c._id === this.selectedCommentReport);
        comment.isReportedBy.push(this._.get(this, 'user._id'));
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    },
    openResourceReportComment(id) {
      this.resourceReportCommentDialog.visible = true;
      this.selectedCommentReport = id;
    },
    openResourceCommentDelete(id) {
      this.resourceCommentDeleteDialog.visible = true;
      this.selectedCommentReport = id;
    },
    async deleteComment() {
      let comments;
      let result;
      let indexOfComment;

      try {
        result = await this.deleteResourceComment(this.selectedCommentReport);
        this.$notifications.auto(result);
        this.resourceCommentDeleteDialog.visible = false;

        if (!Array.isArray(this._.get(this.resource, 'comments'))) return;
        comments = this.resource.comments;
        indexOfComment = comments.indexOf(
          comments.find(c => c._id === this.selectedCommentReport)
        );
        comments.splice(indexOfComment, 1);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    },
    openContactRequest() {
      this.contactRequestVisible = true;
    },
    closeContactRequest() {
      this.resource.author.contactRequestAlreadySent = true;
      this.contactRequestVisible = false;
    }
  },
  mounted() {
    if (this.focusOnComment) {
      setTimeout(() => {
        this.$scrollTo(this.$refs[this.focusOnComment][0].$el, 300, {
          offset: -100
        });
      }, 300);
    }
  }
};
</script>

<style scoped lang="scss">
.flex-reverse-column {
  flex-direction: column-reverse;
}

.title {
  color: #292929;
  font-weight: normal;
  font-family: 'PT Serif', serif;
  &::first-letter {
    text-transform: capitalize;
  }
}

.el-card__body {
  padding: 0;
  padding-top: 30px;
}

textarea {
  border: 0 !important;

  &::placeholder {
    color: #515151 !important;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 200;
  }
}

.el-textarea__inner {
  color: #292929;
  font-size: 1.5em;
  font-weight: 300;
}
.comment-body {
  padding: 10px;
  line-height: 1.5em;
}

.comment-focused {
  .comment {
    background-color: #fff6df;
  }
}
</style>

<style lang="scss">
.social {
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  &:hover {
    opacity: 0.8;
  }
  &.facebook {
    background-color: #4267b2;
    color: white;
  }
  &.twitter {
    background-color: #1da1f2;
    color: white;
  }
  &.linkedin {
    background-color: #0077b5;
    color: white;
  }
}
</style>
