<!--suppress ALL -->
<template>
  <div>
    <div
      class="mb-4"
      v-if="authorCodeConduct.content">
      <h2>Author conduct code</h2>
      <el-card
        class="author-code-conduct-card mt-2"
        shadow="never">
        <p
          class="article-body condensed"
          v-html="authorCodeConduct.content"/>
      </el-card>
    </div>
    <c-form
      v-if="form"
      :ref="form.ref"
      :data.sync="form">
      <template
        slot="infos">
        <el-alert
          class="my-3"
          v-if="form.inputs.idResourceType.value === 2"
          title="Survey broadcasting"
          type="info"
          :closable="false"
          description="If you use survey outside arpa-ageing.eu, you must mention ARPA-Ageing as source"
          show-icon/>
        <div
          class="text-gray">
          <el-checkbox
            v-model="agreeWithTerms"
            :style="$mq && $mq === 'xs' ? 'margin-left: 0' : ''"
            :label="true">
            <p
              style="white-space: normal">
              I accept the
              <nuxt-link
                class="text-bold"
                to="/termsOfService">
                Terms Of Service
              </nuxt-link>
              and I have taken note about
              <nuxt-link
                class="text-bold"
                to="/confidentialPolicy">
                Confidential Policy.
              </nuxt-link>
              <br>
              By publishing this article you pay attention to mention all sources and you know that you are responsible in case of copyright violation.
            </p>
          </el-checkbox>
        </div>
      </template>
      <template
        slot="actions">
        <c-action-button
          v-if="onCancel"
          @click.native="onCancel()">
          Cancel
        </c-action-button>
        <c-action-button
          @click.native="submit({isDraft: true})">
          Save as draft
        </c-action-button>
        <c-action-button
          @click.native="submit()"
          type="primary">
          Submit
        </c-action-button>
      </template>
    </c-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import moment from 'moment';
import { form } from '~/mixins/form';
export default {
  name: 'ResourcesForm',
  mixins: [form],
  props: {
    resource: {
      type: Object,
      required: false,
      default: null
    },
    type: {
      type: String,
      required: false,
      default: null
    }
  },
  methods: {
    ...mapActions({
      createResource: 'resources/CREATE_RESOURCE',
      editResource: 'resources/EDIT_RESOURCE',
      fetchTags: 'resources/FETCH_TAGS',
      fetchAuhtorCodeConduct: 'usageInformations/FETCH_AUTHOR_CODE_CONDUCT'
    }),
    async searchTags(search) {
      try {
        const result = await this.fetchTags({
          search,
          page: 1,
          limit: 20
        });
        this.form.inputs.tags.options.items = this.$form.formatField(
          this._.get(result, 'docs'),
          'name',
          'name'
        );
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async initialize() {
      await this.fetchAuhtorCodeConduct();
      this.form = {
        ...this.resourceForm
      };
      await this.searchTags();
      this.form.inputs.idCategory.options.items = this.$form.formatField(
        this.categories.map(c => ({
          ...c,
          name: this.$t(`lang.categories.${c.name}`)
        })),
        'name',
        '_id'
      );
      this.form.inputs.idLanguage.options.items = this.$form.formatField(
        this.languages,
        'name',
        'code'
      );

      if (!this.resource) {
        if (this.type) {
          this.form.inputs.idResourceType.value = parseInt(this.type);
        }
        return;
      }

      this.$form.populate(this.form, this.resource, {
        idResourceType: this._.get(this.resource, 'resourceType'),
        idCategory: this._.get(this.resource, 'category._id'),
        tags: this._.get(this.resource, 'tags', []).map(t => {
          return t.name;
        }),
        image: {},
        attachement: [],
        idLanguage: this._.get(this.resource, 'language'),
        surveyTitle: this._.get(this.resource, 'survey.topic'),
        surveyAnswers_1: this._.get(this.resource, 'survey.choices[0].answer'),
        surveyAnswers_2: this._.get(this.resource, 'survey.choices[1].answer'),
        surveyAnswers_3: this._.get(this.resource, 'survey.choices[2].answer'),
        surveyAnswers_4: this._.get(this.resource, 'survey.choices[3].answer'),
        surveyAnswers_5: this._.get(this.resource, 'survey.choices[4].answer')
      });
      this.form.inputs.idResourceType.options.disabled = true;
      this.form.inputs.image.options.initial = this._.get(
        this.resource,
        'image'
      );
      if (this.resource.resourceType === 2) {
        this.form.inputs.surveyTitle.options.disabled = true;
        this.form.inputs.surveyAnswers_1.options.disabled = true;
        this.form.inputs.surveyAnswers_2.options.disabled = true;
        this.form.inputs.surveyAnswers_3.options.disabled = true;
        this.form.inputs.surveyAnswers_4.options.disabled = true;
        this.form.inputs.surveyAnswers_5.options.disabled = true;
        this.form.inputs.surveyDuration.options.disabled = true;
      }
      if (Array.isArray(this._.get(this.resource, 'attachments'))) {
        this.form.inputs.attachments.options.fileList = this._.get(
          this.resource,
          'attachments'
        ).map(a => ({
          status: 'success',
          name: this._.get(a, 'name'),
          response: {
            docs: {
              url: this._.get(a, 'url')
            }
          }
        }));
      }
      console.log('>>>LOG: this.form.inputs.image ', this.form.inputs.image);
    },
    async submit(options) {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid || !this.agreeWithTerms) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      console.log('>>>LOG:data ', data);

      let imageResult = null;

      const imagePromise = new Promise(resolve => {
        this.form.inputs.image.options.croppa.generateBlob(
          blob => resolve(blob),
          'image/jpeg',
          '1'
        );
      });

      const image = await imagePromise;
      const form = new FormData();
      form.append('file', image, 'thumbnail.jpg');
      imageResult = await this.$store.$axios.$post('/file', form);

      if (this.form.inputs.image.options.initial.length) {
        try {
          this.$store.$axios.$delete(
            this.form.inputs.image.options.initial.substr(4)
          );
        } catch (e) {
          console.error(e);
        }
      }

      let surveyAnswers = [];
      if (data.idResourceType === 2) {
        const inputs = this.form.inputs;
        for (var i = 1; i < 6; i++) {
          surveyAnswers.push(this._.get(inputs, `surveyAnswers_${i}.value`));
        }
        surveyAnswers = surveyAnswers.filter(a => a && a !== '');
      }
      let result;
      try {
        if (this.resource) {
          result = await this.editResource({
            id: this.resource._id,
            data: {
              ...data,
              ...options,
              ...{ image: imageResult.docs.url },
              surveyAnswers
            }
          });
        } else {
          result = await this.createResource({
            ...data,
            ...options,
            ...{ image: imageResult.docs.url },
            surveyAnswers
          });
        }
        this.$notifications.auto(result);
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    }
  },
  async mounted() {
    await this.initialize();
  },
  data: () => ({
    agreeWithTerms: false,
    form: null
  }),
  computed: {
    ...mapGetters({
      categories: 'categories/categories',
      languages: 'countries/languages',
      authorCodeConduct: 'usageInformations/authorCodeConduct'
    }),
    resourceForm() {
      return {
        ref: 'resourceForm',
        inputs: {
          idResourceType: {
            label: 'Resource type',
            component: 'cFieldRadio',
            options: {
              button: false,
              items: [
                {
                  text: 'Article',
                  label: 1,
                  border: true
                },
                {
                  text: 'Survey',
                  label: 2,
                  border: true
                },
                {
                  text: 'Event',
                  label: 3,
                  border: true
                }
              ]
            },
            conditional: [
              {
                value: 1,
                fields: {
                  surveyDivider: {
                    state: 'hidden'
                  },
                  surveyTitle: {
                    state: 'hidden'
                  },
                  surveyAnswers_1: {
                    state: 'hidden'
                  },
                  surveyAnswers_2: {
                    state: 'hidden'
                  },
                  surveyAnswers_3: {
                    state: 'hidden'
                  },
                  surveyAnswers_4: {
                    state: 'hidden'
                  },
                  surveyAnswers_5: {
                    state: 'hidden'
                  },
                  surveyDuration: {
                    state: 'hidden'
                  },
                  event: {
                    state: 'hidden'
                  },
                  startDate: {
                    state: 'hidden'
                  },
                  endDate: {
                    state: 'hidden'
                  }
                }
              },
              {
                value: 2,
                fields: {
                  event: {
                    state: 'hidden'
                  },
                  startDate: {
                    state: 'hidden'
                  },
                  endDate: {
                    state: 'hidden'
                  }
                }
              },
              {
                value: 3,
                fields: {
                  surveyDivider: {
                    state: 'hidden'
                  },
                  surveyTitle: {
                    state: 'hidden'
                  },
                  surveyAnswers_1: {
                    state: 'hidden'
                  },
                  surveyAnswers_2: {
                    state: 'hidden'
                  },
                  surveyAnswers_3: {
                    state: 'hidden'
                  },
                  surveyAnswers_4: {
                    state: 'hidden'
                  },
                  surveyAnswers_5: {
                    state: 'hidden'
                  },
                  surveyDuration: {
                    state: 'hidden'
                  }
                }
              }
            ],
            value: 1
          },
          title: {
            label: 'Title',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: `Resource's title`,
              autofocus: true
            },
            value: null,
            rules: [
              {
                required: true,
                message: 'Please enter a title',
                trigger: 'blur'
              }
            ]
          },
          idCategory: {
            label: 'Category',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              items: []
            },
            value: [],
            rules: [
              {
                required: true,
                message: 'Please select a category',
                trigger: 'blur'
              }
            ]
          },
          tags: {
            label: 'Tags',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              multiple: true,
              multipleLimit: 5,
              allowCreate: true,
              remote: true,
              remoteMethod: this.searchTags,
              items: []
            },
            value: []
          },
          // shortDescription: {
          //   label: 'Short description',
          //   component: 'cFieldInput',
          //   options: {
          //     type: 'textarea',
          //     placeholder: `Resource's summary`,
          //     clearable: true,
          //     autofocus: false,
          //     autosize: {
          //       minRows: 2,
          //       maxRows: 4
          //     }
          //   }
          // },
          mainContent: {
            label: 'Main content',
            component: 'cFieldWYSIWYG',
            options: {
              toolbar: {}
            },
            value: '',
            rules: [
              {
                required: true,
                message: 'Please enter a main content',
                trigger: 'change'
              }
            ]
          },
          gallery: {
            label: 'Gallery',
            component: 'cFieldImageGallery',
            value: { tiny: '' },
            hidden: true
          },
          image: {
            label: 'Thumbnail (550px x 440px is recommended)',
            component: 'cFieldImageUpload',
            options: {
              croppa: {},
              fileList: [],
              initial: '',
              action: '/api/file',
              message: 'Drop file here or click to choose',
              hint: 'png, jpg, gif, less than 2 mo.',
              multiple: false,
              drag: false,
              limit: 1,
              accept: '.jpg,.png,.gif',
              listType: 'picture',
              autoUpload: true,
              weightLimit: 2
            },
            value: {},
            rules: [
              {
                required: true,
                message: 'Please select a thumbnail',
                trigger: 'blur'
              }
            ]
          },
          idLanguage: {
            label: 'Language',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              items: []
            },
            value: [],
            rules: [
              {
                required: true,
                trigger: 'blur',
                message: 'Please select language'
              }
            ]
          },
          attachments: {
            label: 'Attachments',
            component: 'cFieldUpload',
            options: {
              fileList: [],
              action: '/api/file',
              message: 'Drop file here or click to choose',
              hint: 'png, jpg, gif, pdf less than 5 mo.',
              multiple: true,
              drag: false,
              accept: '.jpg,.png,.gif,.pdf',
              autoUpload: true,
              weightLimit: 5,
              fileObject: true
            },
            value: []
          },
          surveyDivider: {
            component: 'divider',
            value: 'Survey'
          },
          surveyTitle: {
            label: 'Survey question',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: `Survey title`,
              autofocus: false
            },
            value: null,
            rules: [
              {
                required: true,
                message: 'Please enter a survey question',
                trigger: 'blur'
              }
            ]
          },
          surveyAnswers_1: {
            ignore: true,
            label: 'Survey answers',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: `Survey answers`,
              autofocus: false
            },
            value: null,
            rules: [
              {
                required: true,
                message: 'Please enter a survey answers',
                trigger: 'blur'
              }
            ]
          },
          surveyAnswers_2: {
            ignore: true,
            label: 'Survey answers',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: `Survey answers`,
              autofocus: false
            },
            value: null,
            rules: [
              {
                required: true,
                message: 'Please enter a survey answers',
                trigger: 'blur'
              }
            ],
            conditional: [
              {
                value: null,
                fields: {
                  surveyAnswers_3: {
                    state: 'hidden'
                  },
                  surveyAnswers_4: {
                    state: 'hidden'
                  },
                  surveyAnswers_5: {
                    state: 'hidden'
                  }
                }
              },
              {
                value: '',
                fields: {
                  surveyAnswers_3: {
                    state: 'hidden'
                  },
                  surveyAnswers_4: {
                    state: 'hidden'
                  },
                  surveyAnswers_5: {
                    state: 'hidden'
                  }
                }
              }
            ]
          },
          surveyAnswers_3: {
            ignore: true,
            label: 'Survey answers',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: `Survey answers`,
              autofocus: false
            },
            value: null,
            conditional: [
              {
                value: null,
                fields: {
                  surveyAnswers_4: {
                    state: 'hidden'
                  },
                  surveyAnswers_5: {
                    state: 'hidden'
                  }
                }
              },
              {
                value: '',
                fields: {
                  surveyAnswers_4: {
                    state: 'hidden'
                  },
                  surveyAnswers_5: {
                    state: 'hidden'
                  }
                }
              }
            ]
          },
          surveyAnswers_4: {
            ignore: true,
            label: 'Survey answers',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: `Survey answers`,
              autofocus: false
            },
            value: null,
            conditional: [
              {
                value: null,
                fields: {
                  surveyAnswers_5: {
                    state: 'hidden'
                  }
                }
              },
              {
                value: '',
                fields: {
                  surveyAnswers_5: {
                    state: 'hidden'
                  }
                }
              }
            ]
          },
          surveyAnswers_5: {
            ignore: true,
            label: 'Survey answers',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: `Survey answers`,
              autofocus: false
            },
            value: null
          },
          surveyDuration: {
            label: 'Survey duration',
            component: 'cFieldInputNumber',
            options: {
              info:
                'In day(s). The counter will begin when the survey would be published.',
              controls: false,
              min: 1,
              max: 30
            },
            rules: [
              {
                required: true,
                message: 'Please enter a survey duration',
                trigger: 'blur'
              }
            ],
            value: 7
          },
          event: {
            component: 'divider',
            value: 'Event'
          },
          startDate: {
            label: 'Start date',
            component: 'cFieldDatePicker',
            options: {
              size: 'medium',
              placeholder: 'Select a start date',
              type: 'datetime',
              format: 'dd/MM/yyyy HH:mm'
            },
            value: moment(),
            rules: [
              {
                required: true,
                message: 'Please select a start date',
                trigger: 'change'
              }
            ]
          },
          endDate: {
            label: 'End date',
            component: 'cFieldDatePicker',
            options: {
              size: 'medium',
              placeholder: 'Select a end date',
              type: 'datetime',
              format: 'dd/MM/yyyy HH:mm'
            },
            value: ''
          },
          commentIsAuthorize: {
            component: 'cFieldCheckbox',
            options: {
              disabled: false,
              size: 'medium',
              button: false,
              items: [
                {
                  text: 'Do you authorize comments on your resource?',
                  label: false,
                  disabled: false,
                  border: false,
                  size: 'medium'
                }
              ]
            },
            value: false
          }
        }
      };
    }
  },
  watch: {
    resource: {
      async handler() {
        await this.initialize();
      },
      deep: true
    },
    'form.inputs.gallery': {
      handler({ value }) {
        console.log('>>>LOG:value ', value);
        if (value.tiny !== '') {
          this.form.inputs.image.options.initial = value.original;
        }
      },
      deep: true
    }
  }
};
</script>

<style scoped>
.author-code-conduct-card {
  background-color: #f0f8ff;
}
</style>
