<template>
  <div>
    <!-- Author -->
    <nuxt-link
      :to="`/user/${_.get(resource, 'author._id')}`"
      class="subheading mt-2 text-bold no-style">
      {{ _.get(resource, 'author.firstname') }} {{ _.get(resource, 'author.lastname') }}
    </nuxt-link>
    <!-- date published & estimate time reading -->
    <p class="subheading mt-2">
      {{ resource.publishedDate | moment('DD MMM') }}. {{ _.get(resource, 'estimateReadingTime', 0) }} min read
    </p>
  </div>
</template>

<script>
export default {
  name: 'Author',
  props: {
    resource: {
      type: Object,
      required: true
    }
  }
};
</script>
