<template>
  <div
    :style="cssProps"
    class="avatar">
    <img
      class="mx-auto no-drageable"
      :width="size"
      :height="size"
      src="https://upload.wikimedia.org/wikipedia/en/c/ce/Goomba.PNG"
      alt="">
  </div>
</template>

<script>
export default {
  name: 'Avatar',
  props: {
    size: {
      required: false,
      type: Number,
      default: 50
    }
  },
  computed: {
    cssProps() {
      return {
        '--size': this.size + 'px'
      };
    }
  }
};
</script>

<style scoped lang="scss">
.avatar {
  height: var(--size);
  width: var(--size);
  overflow: hidden;
  border-radius: 50%;
}
</style>
