<template>
  <div
    style="width: 100%; background-color: white"
    :style="{'max-width': full ? '100%' : `${maxWidth}px`, padding: `${$mq && $mq === 'xs' ? '10px' : '20px'}`}">
    <slot
      name="default"/>
  </div>
</template>

<script>
export default {
  name: 'Container',
  props: {
    maxWidth: {
      type: Number,
      default: 1200
    },
    full: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style scoped>
</style>
