<template>
  <div class="el-progress-bar">
    <div
      class="el-progress-bar__outer"
      :style="`height: ${strokeWidth};`">
      <div
        :class="`el-progress-bar__inner ${ selected ? 'el-progress-bar--selected': ''}`"
        :style="`width: ${percentage}%;`">
        <div class="el-progress-bar__innerText">
          <div v-if="!$slots.default">
            {{ percentage }}%
          </div>
          <div v-else>
            <slot name="default"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CProgress',
  props: {
    percentage: {
      required: true,
      type: Number | String
    },
    selected: {
      required: false,
      type: Boolean,
      default: false
    },
    strokeWidth: {
      required: false,
      type: String,
      default: '22px'
    }
  }
};
</script>

<style scoped>
.el-progress-bar {
  padding-right: 0px !important;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-right: 0 !important;
  box-sizing: border-box;
}

.el-progress--text-inside .el-progress-bar {
  padding-right: 0;
  margin-right: 0;
}

.el-progress-bar__outer {
  height: 6px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #dcdfe6;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  height: 50px !important;
}

.el-progress-bar__inner {
  text-align: left;
  border-radius: 4px;
  background-color: #e5ebef;
}

.el-progress-bar--selected {
  background-color: rgba(69, 150, 255, 0.5);
}

.el-progress.is-success .el-progress-bar__inner {
  background-color: #67c23a;
}

.el-progress-bar__innerText {
  display: inline-block;
  vertical-align: middle;
  color: black;
  font-size: 1.1em;
  margin: 0 5px;
}
</style>
