<template>
  <div
    style="justify-content: center"
    class="d-flex flex-column py-3"
  >
    <div
      style="font-size: 30px; font-weight: 400">{{ _.get(date, 'number') }}</div>
    <div
      style="text-transform: uppercase; font-size: 18px; font-weight: 200">{{ _.get(date, 'month') }}</div>
    <div
      v-if="_.get(date, 'year')"
      style="text-transform: uppercase; font-size: 18px; font-weight: 100">{{ _.get(date, 'year') }}</div>
    <div
      class="mt-1"
      style="text-transform: uppercase; font-size: 18px;">
      <template v-if="!hasSlot('time')">
        <font-awesome-icon
        icon="clock"/> {{ _.get(date, 'time') }}
      </template>
      <slot
        name="time"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Date',
  props: {
    date: {
      type: Object,
      required: true
    },
    position: {
      type: String,
      required: false,
      default: 'start'
    }
  },
  methods: {
    hasSlot(name = 'default') {
      return !!this.$slots[name] || !!this.$scopedSlots[name];
    }
  }
};
</script>

<style scoped>
</style>
