<template>
  <div
    style="min-height: 400px">
    <div
      v-if="displayTotal && endpoint && total"
      class="text-gray mb-3">{{ total }} {{ totalLabel }}</div>
    <!-- Content Loader -->
    <div v-if="!noContent && !items.length">
      <div
        class="my-2"
        v-for="i in loaderNumber"
        :key="i">
        <div>
          <slot
            name="contentLoader"
            :value="i"
          />
        </div>
      </div>
    </div>
    <!-- Item iterator -->
    <div
      class="element-list"
      v-for="(item, i) in items"
      :key="i">
      <slot
        name="item"
        :value="item"/>
    </div>
    <!-- ENDPOINT -->
    <div
      v-if="endpoint">
      <div
        class="text-center mt-3"
        v-if="isNoMoreContent || isNoContent">
        <span
          style="color: #e1e1e1;">
          <div>
            <font-awesome-icon
              style="font-size: 35px;"
              icon="ellipsis-h" />
          </div>
        </span>
      </div>
      <div
        v-show="isLoading">
        <div
          class="mx-auto mt-5 atom-spinner">
          <div class="spinner-inner">
            <div class="spinner-line"/>
            <div class="spinner-line"/>
            <div class="spinner-line"/>
            <!--Chrome renders little circles malformed :(-->
            <div class="spinner-circle">
              &#9679;
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- WITHOUT ENDPOINT -->
    <div
      v-else>
      <div v-if="noContent">
        <div v-if="$scopedSlots.noContent">
          <slot name="noContent"/>
        </div>
        <div v-else>
          <el-row
            type="flex"
            justify="center">
            <el-col
              :span="24"
              class="text-center mt-4">
              <span
                style="color: #e1e1e1;">
                <div>
                  <font-awesome-icon
                    style="font-size: 35px;"
                    icon="ellipsis-h" />
                </div>
              </span>
            </el-col>
          </el-row>
        </div>
      </div>
      <div v-if="!noContent">
        <!-- Loader -->
        <div v-if="$scopedSlots.loader">
          <slot
            name="loader"
            :busy="busy"/>
        </div>
        <!-- Custom Loader -->
        <div v-else>
          <div
            class="mx-auto mt-5 atom-spinner">
            <div class="spinner-inner">
              <div class="spinner-line"/>
              <div class="spinner-line"/>
              <div class="spinner-line"/>
              <!--Chrome renders little circles malformed :(-->
              <div class="spinner-circle">
                &#9679;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import lodash from 'lodash';

export default {
  name: 'InfiniteScrollList',
  props: {
    items: {
      required: false,
      type: Array,
      default: () => []
    },
    loadOffset: {
      required: false,
      type: Number,
      default: 0
    },
    noContent: {
      required: false,
      type: Boolean,
      default: false
    },
    loaderNumber: {
      required: false,
      type: Number,
      default: 10
    },
    busy: {
      required: false,
      type: Boolean,
      default: null
    },
    endpoint: {
      type: Object,
      default: null
    },
    displayTotal: {
      type: Boolean,
      default: true
    },
    totalLabel: {
      type: String,
      default: 'items'
    }
  },
  data() {
    return {
      total: null,
      isLoading: false,
      detachedEndpoint: null,
      isNoMoreContent: false,
      isNoContent: false
    };
  },
  computed: {
    propItems: {
      get() {
        return this.items;
      },
      set(value) {
        this.$emit('update:items', value);
      }
    },
    propBusy: {
      get() {
        return this.busy;
      },
      set(value) {
        this.$emit('update:busy', value);
      }
    }
  },
  methods: {
    replace(object, editedObject) {
      const objectIndex = this.items.indexOf(object);
      if (!Number.isInteger(objectIndex) && !objectIndex) return;
      this.items[objectIndex] = {
        ...this.items[objectIndex],
        ...editedObject
      };
    },
    onScroll() {
      if (this.isNoMoreContent) return;
      const bottomOfWindow =
        (document.documentElement.offsetHeight /
          (document.documentElement.scrollTop + window.innerHeight) -
          1) *
          10 <=
        this.loadOffset;
      if (!bottomOfWindow || this.propBusy) return;
      this.loadMore();
    },
    loadMore: lodash.debounce(async function() {
      // emit $event
      this.$emit('load-more');
      if (this.endpoint) {
        if (!this.detachedEndpoint) {
          this.detachedEndpoint = this._.cloneDeep(this.endpoint);
        } else if (!this.isNoMoreContent && !this.isNoContent) {
          this.detachedEndpoint.params.page += 1;
        } else {
          return;
        }
        this.loadContentByEndpoint();
      }
    }, 300),
    removeItem(item) {
      try {
        this.items.splice(this.items.indexOf(item), 1);
        this.total -= 1;
      } catch (e) {
        throw e;
      }
    },
    async loadContentByEndpoint() {
      this.isLoading = true;
      // Show the loading logo
      await new Promise(resolve => setTimeout(resolve, 300));
      let result;
      try {
        result = await this.$store.$axios.$get(
          this._.get(this.detachedEndpoint, 'url'),
          {
            params: {
              ...this._.get(this.detachedEndpoint, 'params')
            }
          }
        );
        this.isLoading = false;
        if (!result.docs) {
          this.isNoContent = true;
          return;
        }
        this.items = [...this.items, ...result.docs];
        this.total = result.totalDocs;
      } catch (e) {
        this.isLoading = false;
        this.$notifications.auto(e.response.data);
        this.isNoContent = true;
        this.isNoMoreContent = true;
        throw e;
      }
      const displayedDocs = result.page * result.limit;
      // Detect if there is no more content
      if (result.totalDocs <= displayedDocs) {
        if (result.totalDocs === 0 || result.docs.length < 1) {
          this.isNoContent = true;
        } else {
          this.isNoMoreContent = true;
        }
      }
    },
    startScroll() {
      window.addEventListener('scroll', this.onScroll, false);
    },
    stopScroll() {
      window.removeEventListener('scroll', this.onScroll, false);
    }
  },
  mounted() {
    this.loadMore();
    this.startScroll();
  },
  destroyed() {
    this.stopScroll();
  }
};
</script>

<style scoped>
.atom-spinner,
.atom-spinner * {
  box-sizing: border-box;
}

.atom-spinner {
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.atom-spinner .spinner-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.atom-spinner .spinner-circle {
  display: block;
  position: absolute;
  color: #189dfa;
  font-size: calc(60px * 0.24);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.atom-spinner .spinner-line {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 1s;
  border-left-width: calc(60px / 25);
  border-top-width: calc(60px / 25);
  border-left-color: #189dfa;
  border-left-style: solid;
  border-top-style: solid;
  border-top-color: transparent;
}

.atom-spinner .spinner-line:nth-child(1) {
  animation: atom-spinner-animation-1 1s linear infinite;
  transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(2) {
  animation: atom-spinner-animation-2 1s linear infinite;
  transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
  animation: atom-spinner-animation-3 1s linear infinite;
  transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
  100% {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-2 {
  100% {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes atom-spinner-animation-3 {
  100% {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}
</style>
