<template>
  <div>
    <el-dropdown
      style="margin-top: -24px;"
      class="pointer">
      <span class="el-dropdown-link">
        <span v-if="!mini">
          {{ $t('lang.language.name') }}
        </span>
        <country-flag
          class="language-flag"
          :country="$t('lang.language.short')"
          size='small'/>
        <i
          v-if="!mini"
          class="el-icon-arrow-down el-icon--right"/>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item
          @click.native="$i18n.locale='fr'">
          <country-flag
            class="language-flag"
            country="fr"
            size='small'/>
        </el-dropdown-item>
        <el-dropdown-item
          @click.native="$i18n.locale='en'">
          <country-flag
            class="language-flag"
            country="gb"
            size='small'/>
        </el-dropdown-item>
        <el-dropdown-item
          @click.native="$i18n.locale='ro'">
          <country-flag
            class="language-flag"
            country="ro"
            size='small'/>
        </el-dropdown-item>
        <el-dropdown-item
          @click.native="$i18n.locale='ge'">
          <country-flag
            class="language-flag"
            country="de"
            size='small'/></el-dropdown-item>
        <el-dropdown-item
          @click.native="$i18n.locale='el'">
          <country-flag
            class="language-flag"
            country="gr"
            size='small'/></el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>
</template>

<script>
export default {
  name: 'Language',
  props: {
    mini: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      options: [
        {
          value: 'fr',
          label: 'Français'
        },
        {
          value: 'en',
          label: 'English'
        },
        {
          value: 'ko',
          label: 'Korean'
        }
      ],
      value: 'fr'
    };
  }
};
</script>

<style>
.language-flag {
  margin-bottom: -27px;
}
</style>
