<template>
  <container
    class="common-text">
    <el-row
      :class="{
        'flex-column': $mq && $mq === 'xs'
      }"
      type="flex">
      <el-col
        :span="$mq && $mq === 'xs' ? 24 : 5">
        <h3 class="common-text medium-bold text-uppercase mb-4">Committee</h3>
        <el-menu
          @select="selectActiveIndex($event)"
          :default-active="activeIndex"
          class="left-menu"
          :class="{
            'mobile-left-menu': $mq && $mq === 'xs',
            'mb-4': $mq && $mq === 'xs'
        }">
          <el-menu-item
            @click="scrollToContent('content')"
            v-for="item in committees"
            :key="item.name"
            :index="item.name">
            <el-badge
              class="item-badge"
              :value="item.count"
              type="danger">
              <span>{{ item.text }}</span>
            </el-badge>
          </el-menu-item>
        </el-menu>
      </el-col>
      <el-col
        :class="{
          'pl-4': !($mq && $mq === 'xs'),
          'pl-0': $mq && $mq === 'xs'
        }"
        :span="$mq && $mq === 'xs' ? 24 : 19">
        <h3
          class="common-text medium-bold text-uppercase active-index mb-1"
          :ref="'content'">{{ committees.find(u => u.name === activeIndex).text }}</h3>
        <p class="f4-light mb-1">{{ committees.find(u => u.name === activeIndex).description }}</p>
        <hr style="border: 0.75px solid #828282">
        <br>
        <div>
          <nuxt-child/>
        </div>
      </el-col>
    </el-row>
  </container>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['committee_member', 'native_committee_member']
  },
  name: 'Index',
  data: () => ({
    activeIndex: 'resources',
    committees: [
      {
        name: 'resources',
        text: 'Resources',
        count: 0,
        icon: '',
        description: 'Manage all resources'
      },
      {
        name: 'reports',
        text: 'Reports',
        count: 0,
        icon: '',
        description: 'Consult all reports'
      }
    ]
  }),
  fetch({ route, redirect }) {
    if (['/committee', '/committee/'].includes(route.fullPath)) {
      return redirect('/committee/resources');
    }
  },
  async mounted() {
    try {
      const results = await Promise.all([
        this.fetchNumberResources({ status: 1 }),
        /*this.fetchNumberResources({
          type: 'resources'
        })*/
        this.fetchNumberReports()
      ]);
      this.committees.forEach(
        (c, i) => (c.count = results[i].docs.numberOfResources)
      );
    } catch (e) {
      this.$notifications.auto(e.response.data);
    }
  },
  asyncData({ route }) {
    return {
      activeIndex: route.path.split('/')[2]
    };
  },
  methods: {
    ...mapActions({
      fetchNumberResources: 'resources/COUNT_RESOURCES',
      fetchNumberReports: 'resources/COUNT_REPORTS'
    }),
    async selectActiveIndex(value) {
      this.activeIndex = value;
      this.$router.push(`/committee/${value}`);
    },
    scrollToContent(ref) {
      let item;
      try {
        item = this.$refs[ref];
      } catch (e) {
        // Nothing
      }
      if (!item || !(this.$mq && this.$mq === 'xs')) return;
      this.$scrollTo(item, 300, {
        offset: -70
      });
    }
  },
  watch: {
    '$route.hash'(value) {
      const type = value.substring(1);
      this.fetchNumberReports({
        type
      }).then(({ docs }) => {
        this.committees[1].count = docs.numberOfResources;
      });
    }
  }
};
</script>

<style lang="scss">
.el-form-item {
  margin-bottom: 20px !important;
}

.item-badge {
  margin-top: 0;
  margin-right: 0;
  .el-badge__content.is-fixed {
    top: 28px;
    right: -5px;
    height: 21px;
  }
}

.active-index {
  color: #55595c;
  font-weight: bold;
}
</style>
