<template>
  <container>
    <el-row
      class="flex-justify-center bg-white"
      type="flex">
      <el-col
        :span="12">
        <div class="mb-4">
          <p>Dear arpa ageing's user,
            <br><br>
            The validation committee is here to accept or reject resources who has been published by the users of this platform whether if it's an article, an event or even a survey.
            However, be carefull about what you can found in the differents resources. Indeed, the validation committee isn't a scientific committee, it only check consistency of informations and the respect of the basic rules in Internet. The committee can't be held responsible in the exactitude and the provenance of the published informations. It can't be held responsible in case of damage caused by their actions.</p>
        </div>
        <div>
          <h2 class="mb-4">Committee Members</h2>
          <infinite-scroll-list
            class="members-container mb-4 p-2"
            total-label="members"
            :endpoint="{url:'/committeeMembers', index: 'docs', params: {page:1, limit: 20}}"
            :load-offset="8" >
            <span
              slot="item"
              slot-scope="{ value }">
              <avatar-profile
                :id="value._id"
                :firstname="value.firstname"
                :lastname="value.lastname"
                :position-held="value.positionHeld"
                :country="_.get(value, 'country.name')"
                :roles="value.roles"
              />
            </span>
          </infinite-scroll-list>
          <p class="mb-4">Do you want to help us to improve this platform ? Below, you can submit a request to join the validation committee.</p>
          <c-action-button
            :disabled="sent"
            @click.native="dialog.visible = true"
            type="success"
            class="width-full">
            Join the committee
          </c-action-button>
        </div>
      </el-col>
    </el-row>
    <!-- Request dialog -->
    <c-dialog
      :header="dialog.header"
      v-model="dialog.visible">
      <div
        class="mb-4"
        v-if="committeeCodeConduct.content">
        <h2>Committee conduct code</h2>
        <el-card
          class="committee-code-conduct-card mt-2"
          shadow="never">
          <p
            class="article-body condensed"
            v-html="committeeCodeConduct.content"/>
        </el-card>
      </div>
      <c-form
        :ref="form.ref"
        class="mt-4"
        :data.sync="form"/>
      <temlate
        slot="actions">
        <c-action-button @click.native="dialog.visible = false">Cancel</c-action-button>
        <c-action-button
          type="primary"
          @click.native="joinRequest">Confirm</c-action-button>
      </temlate>
    </c-dialog>
  </container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['professional']
  },
  name: 'Request',
  components: {
    AvatarProfile: () => import('~/components/pages/profiles/AvatarProfile')
  },
  data: () => ({
    requestDialog: false,
    sent: false,
    dialog: {
      visible: false,
      header: {
        title: 'Committee request',
        description: 'Leave us a message to explain why you want to join us'
      }
    },
    form: {
      inputs: {
        message: {
          component: 'cFieldInput',
          options: {
            type: 'textarea',
            rows: 3,
            max: 1000
          },
          value: 'Hello, I want to join you because...'
        }
      }
    }
  }),
  computed: {
    ...mapGetters({
      committeeCodeConduct: 'usageInformations/committeeCodeConduct'
    })
  },
  methods: {
    ...mapActions({
      joinCommittee: 'users/SEND_COMMITTEE_REQUEST',
      fetchCommitteeCodeConduct:
        'usageInformations/FETCH_COMMITTEE_CODE_CONDUCT'
    }),
    async joinRequest() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      try {
        const result = await this.joinCommittee(data);
        if (this.onSuccess) {
          this.onSuccess();
        }
        this.$notifications.auto(result);
        this.sent = true;
      } catch (e) {
        console.log(e);
        this.$notifications.auto(e.response.data);
        throw e;
      } finally {
        this.dialog.visible = false;
      }
    }
  },
  async mounted() {
    //
    this.fetchCommitteeCodeConduct();
    if (!this.$store.$auth.$state.user.roles) return;
    const isCommittee = this.$store.$auth.$state.user.roles.some(r =>
      ['native_committee_member', 'committee_member'].includes(r.slug)
    );
    if (isCommittee) return this.$router.push('/committee');
  }
};
</script>

<style scoped>
p {
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: justify;
}
.members-container {
  max-height: 200px;
  overflow-y: scroll;
}
.committee-code-conduct-card {
  background-color: #f0f8ff;
}
</style>
