<template>
  <container
    class="common-text">
    <el-row
      :class="{
        'flex-column': $mq && $mq === 'xs'
      }"
      type="flex">
      <el-col
        :span="$mq && $mq === 'xs' ? 24 : 5">
        <h3 class="common-text medium-bold text-uppercase mb-4">profile</h3>
        <el-menu
          @select="selectActiveIndex($event)"
          :default-active="activeIndex"
          class="left-menu"
          :class="{
            'mobile-left-menu': $mq && $mq === 'xs',
            'mb-4': $mq && $mq === 'xs'
        }">
          <no-ssr>
            <el-menu-item
              @click="scrollToContent('content')"
              v-for="item in profiles.filter(p => $roles.check(p.roles || []) || !p.roles)"
              :key="item.name"
              :index="item.name">
              <font-awesome-icon
                class="icon-menu animated fadeInRight"
                :icon="item.icon"/>
              <span>{{ item.text }}</span>
            </el-menu-item>
          </no-ssr>
        </el-menu>
      </el-col>
      <el-col
        :class="{
          'pl-4': !($mq && $mq === 'xs'),
          'pl-0': $mq && $mq === 'xs'
        }"
        :span="$mq && $mq === 'xs' ? 24 : 19">
        <h3
          class="common-text medium-bold text-uppercase active-index mb-1"
          :ref="'content'">{{ profiles.find(u => u.name === activeIndex).text }}</h3>
        <p class="f4-light mb-1">{{ profiles.find(u => u.name === activeIndex).description }}</p>
        <hr style="border: 0.75px solid #828282">
        <br>
        <div>
          <nuxt-child/>
        </div>
      </el-col>
    </el-row>
  </container>
</template>

<script>
export default {
  middleware: 'auth-roles',
  name: 'Index',
  data: () => ({
    activeIndex: 'data',
    profiles: [
      {
        name: 'data',
        text: 'My data',
        icon: 'user',
        description: 'See and edit your personal information and password'
      },
      {
        name: 'resources',
        text: 'My submissions',
        icon: 'save',
        description: 'See all your edited resources and their state'
      },
      {
        name: 'notifications',
        text: 'My notifications',
        icon: 'bell',
        description: 'See your notifications'
      },
      {
        name: 'network',
        text: 'My network',
        icon: 'users',
        description: 'See your network',
        roles: ['professional']
      },
      {
        name: 'professionalsbook',
        text: "Professional's book",
        icon: 'address-card',
        description: 'See ARPA-Ageing’s professionals',
        roles: ['professional']
      }
    ]
  }),
  fetch({ route, redirect }) {
    if (['/profile', '/profile/'].includes(route.fullPath)) {
      return redirect('/profile/data');
    }
  },
  asyncData({ route }) {
    return {
      activeIndex: route.path.split('/')[2]
    };
  },
  methods: {
    selectActiveIndex(value) {
      this.activeIndex = value;
      this.$router.push(`/profile/${value}`);
    },
    scrollToContent(ref) {
      let item;
      try {
        item = this.$refs[ref];
      } catch (e) {
        // Nothing
      }
      if (!item || !(this.$mq && this.$mq === 'xs')) return;
      this.$scrollTo(item, 300, {
        offset: -70
      });
    }
  }
};
</script>

<style>
.active-index {
  color: #55595c;
  font-weight: bold;
}

.icon-menu {
  margin-right: 10px;
}
</style>
