<template>
  <div>
    <infinite-scroll-list
      class="striped-list"
      total-label="members"
      :endpoint="{url:'/user/myNetwork', index: 'docs', params: {page:1, limit: 20}}"
      :load-offset="8" >
      <span
        slot="item"
        slot-scope="{ value }">
        <avatar-profile
          :id="value._id"
          :firstname="value.firstname"
          :lastname="value.lastname"
          :position-held="value.positionHeld"
          :country="_.get(value, 'country.name')"
          :roles="value.roles"
          :email="value.email"/>
      </span>
    </infinite-scroll-list>
    <contact-request-form
      v-model="contactRequestVisible"
      :data="selectedProfile"/>
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['professional', 'native_committee_member', 'committee_member']
  },
  name: 'Network',
  components: {
    AvatarProfile: () => import('~/components/pages/profiles/AvatarProfile'),
    ContactRequestForm: () => import('~/components/profile/ContactRequestForm')
  },
  data: () => ({
    contactRequestVisible: false,
    selectedProfile: null
  }),
  methods: {
    openContactRequest(profile) {
      this.selectedProfile = profile;
      this.contactRequestVisible = true;
    }
  }
};
</script>
