<template>
  <div>
    <infinite-scroll-list
      class="striped-list"
      ref="infiniteScrollListNotifications"
      total-label="notifications"
      :endpoint="{url:'/user/myNotifications', index: 'docs', params: {page:1, limit: 20}}"
      :load-offset="8" >
      <template
        slot="item"
        slot-scope="{ value }">
        <notification
          @notification-removed="removeNotification(value)"
          :data="value"/>
      </template>
    </infinite-scroll-list>
    <!-- <infinite-scroll-list
      class="infinite-notifications"
      @load-more="loadMore"
      :items="notifications">
      <template
        slot="item"
        slot-scope="{ value }">
        <el-card
          class="item-notification"
          shadow="never">
          <template v-if="value.type === 'default'">
            <default-item/>
          </template>
          <template v-else>
            <request-item/>
          </template>
        </el-card>
      </template>
    </infinite-scroll-list>-->
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  name: 'Notifications',
  components: {
    Notification: () => import('~/components/profile/Notification')
  },
  methods: {
    removeNotification(notif) {
      this.$refs.infiniteScrollListNotifications.removeItem(notif);
    }
  },
  data: () => ({})
};
</script>

<style lang="scss">
.notifications-body > .el-card__body {
  padding: 0 !important;
}

.item-notification {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  & .el-card__body {
    padding: 20px 10px 10px;
  }
  .description {
    font-size: 0.85em;
  }
  .subheadling {
    font-size: 0.8em;
    color: #777777;
  }
}

.infinite-notifications {
  height: 80vh;
  overflow-y: scroll;
}
</style>
