<template>
  <div>
    <infinite-scroll-list
      ref="professionalsBook"
      class="striped-list"
      total-label="members"
      :endpoint="{url:'/professionalBook', index: 'docs', params: {page:1, limit: 20}}"
      :load-offset="8" >
      <span
        slot="item"
        slot-scope="{ value }">
        <avatar-profile
          @send-contact-request="openContactRequest"
          :profile-object="value"
          :id="value._id"
          :firstname="value.firstname"
          :lastname="value.lastname"
          :position-held="value.positionHeld"
          :country="_.get(value, 'country.name')"
          :roles="value.roles"
          :action-contact-request="displayContactRequest(value)"/>
      </span>
    </infinite-scroll-list>
    <contact-request-form
      :on-success="closeContactRequest"
      v-model="contactRequestVisible"
      :data="selectedProfile"/>
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['professional', 'native_committee_member', 'committee_member']
  },
  name: 'ProfessionalsBook',
  components: {
    AvatarProfile: () => import('~/components/pages/profiles/AvatarProfile'),
    ContactRequestForm: () => import('~/components/profile/ContactRequestForm')
  },
  data: () => ({
    contactRequestVisible: false,
    selectedProfile: null
  }),
  methods: {
    displayContactRequest(value) {
      if (!value.isAlreadyInMyNetwork && !value.contactRequestAlreadySent)
        return true;
      if (value.isAlreadyInMyNetwork || value.contactRequestAlreadySent)
        return false;
    },
    openContactRequest(profile) {
      this.selectedProfile = profile;
      this.contactRequestVisible = true;
    },
    closeContactRequest() {
      const professionalsBook = this.$refs.professionalsBook;
      if (!professionalsBook) return;
      professionalsBook.replace(this.selectedProfile, {
        contactRequestAlreadySent: true
      });
      this.contactRequestVisible = false;
    }
  }
};
</script>
