<template>
  <el-container>
    <v-tour
      name="tutorial"
      :steps="tutorial.steps"
      :options="tutorial.options"
      :callbacks="tutorial.callbacks"/>
    <el-aside width="0">
      <!-- Aside content -->
    </el-aside>
    <el-container
      style="background-color: ghostwhite">
      <span>
        <app-header
          ref="header"/>
      </span>
      <el-main
        :style="`margin-top: ${headerHeight}px; padding: 0 ${$mq && $mq === 'xs' ? '0' : '20px'} 0 ${$mq && $mq === 'xs' ? '0' : '20px'}`">
        <!-- Main content -->
        <div
          :style="`min-height: calc(100vh - ${footerHeight}px - ${headerHeight}px);`"
          class="d-flex flex-justify-center">
          <nuxt/>
        </div>
      </el-main>
      <el-footer
        ref="footer"
        style="height: inherit !important; background-color: white; box-shadow: rgba(0, 0, 0, 0.05) 0px -5px 10px;"
        class="p-0">
        <app-footer/>
      </el-footer>
    </el-container>
    <!-- Dialog Usage Information -->
    <app-usage-dialog/>
    <!-- Dialog feedback -->
    <app-feedback/>
  </el-container>
</template>
<script>
import { watch } from '~/mixins/notificationsManager';
import { mapFields } from 'vuex-map-fields';
export default {
  components: {
    MenuBar: () => import('~/components/layouts/default/MenuBar'),
    AppFooter: () => import('~/components/layouts/default/AppFooter'),
    AppHeader: () => import('~/components/layouts/default/AppHeader'),
    AppUsageDialog: () => import('~/components/layouts/default/AppUsageDialog'),
    AppFeedback: () => import('~/components/layouts/default/AppFeedback')
  },
  data: () => {
    return {
      a: false,
      test: null,
      footerHeight: 0,
      headerHeight: 60
    };
  },
  mounted() {
    this.test = this.$refs.header;
    this.onResize();
    // fix onResize for IE 11
    setTimeout(() => this.onResize(), 500);
    window.addEventListener('resize', this.onResize, false);
  },
  methods: {
    /*onNextStep(step) {
      console.log('>>>LOG:nextstep ', step);
    },
    onPreviousStep(step) {
      console.log('>>>LOG:prevstep ', step);
    },
    onStartTutorial() {
      console.log('>>>LOG:start ');
    },
    onStopTutorial() {
      console.log('>>>LOG:stop ');
    },*/
    handleClose(done) {
      this.$confirm('Do you agree with the terms of usage ?')
        .then(() => {
          done();
        })
        .catch(() => {});
    },
    onResize() {
      try {
        this.footerHeight = this._.get(
          this.$refs,
          'footer.$el.clientHeight',
          0
        );
        this.headerHeight = this._.get(
          this.$refs,
          'header.$el.clientHeight',
          0
        );
      } catch (e) {
        console.error(e);
      }
    }
  },
  computed: {
    ...mapFields(['informationUsageValidate', 'feedbackDialog']),
    tutorial() {
      return {
        options: {
          useKeyboardNavigation: false,
          labels: {
            buttonSkip: 'Skip tour',
            buttonPrevious: 'Previous',
            buttonNext: 'Next',
            buttonStop: 'Finish'
          }
        },
        callbacks: {
          // onPreviousStep: this.onPreviousStep,
          // onNextStep: this.onNextStep,
          // onStart: this.onStartTutorial,
          // onStop: this.onStopTutorial
        },
        steps: [
          {
            target: '#tutorial-step-0', // We're using document.querySelector() under the hood
            content: `<strong>Welcome on ARPA-Ageing</strong>. Use the search engine to find out resources`,
            params: {
              placement: 'top',
              enableScrolling: true
            },
            duration: 300,
            offset: -300
          },
          {
            target: '#tutorial-step-1',
            content:
              'Use advanced search to filter the resources. By default they are filtered by your language',
            params: {
              placement: 'bottom',
              enableScrolling: true
            },
            duration: 300,
            offset: -300
          },
          {
            target: '.like-button',
            content: 'If you find an article interesting, you can like it!',
            params: {
              placement: 'top',
              enableScrolling: true
            },
            duration: 300,
            offset: -300
          },
          {
            target: '#tutorial-step-3',
            content: 'Here is the most popular resources on ARPA-ageing',
            params: {
              placement: 'top',
              enableScrolling: true
            },
            duration: 300,
            offset: -300
          },
          {
            target: '#tutorial-step-4',
            content:
              'You want to become an author on ARPA-ageing? You can publish and share your own resources',
            params: {
              placement: 'top',
              enableScrolling: true
            },
            duration: 300,
            offset: -300
          },
          {
            target: '#tutorial-step-5',
            content:
              'If you want to help us you can give us your feedback. Enjoy :)',
            params: {
              placement: 'top',
              enableScrolling: true
            },
            duration: 300,
            offset: -300
          }
        ]
      };
    }
  },
  watch: {
    test: {
      handler() {
        this.onResize();
      },
      deep: true
    }
  },
  mixins: [watch]
};
</script>

<style lang="scss">
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

.information-usage {
  font-weight: 400;
}

.information-usage dl dt {
  margin-top: 20px;
  margin-bottom: 20px;
}

.el-dialog__title {
  font-weight: bolder;
  font-size: 1.5em;
}

.el-dialog__headerbtn {
  display: none;
}
.feedback-button {
  transition: all ease 0.1s;
  z-index: 100;
  position: fixed;
  bottom: 15px;
  left: 15px;
  opacity: 0.5;
  &.active {
    opacity: 1;
  }
}
</style>
