<template>
  <container>
    <div class="text-center">
      <div
        class="article-body"
        v-if="error.statusCode === 404">
        <h1 class="fa-4x">404</h1>
        <h1 class="fa-2x">Page not found</h1>
      </div>
      <div v-else>
        <span class="errorTitle">An error has occurred</span>
      </div>
      <el-row
        v-if="isDev"
        type="flex"
        justify="center"
        class="mt-4"
      >
        <el-col
          :xs="20"
          :md="18"
          :lg="15">
          <el-card shadow="hover">
            <vue-json-pretty
              :data="error"
            />
          </el-card>
        </el-col>
      </el-row>
      <el-button
        class="mt-4"
        @click="$router.push('/')"
      >Go to Home Page</el-button>
    </div>
  </container>
</template>

<script>
const isDev = process.env.NODE_ENV === 'development';

export default {
  props: {
    error: {
      required: true,
      type: Object
    }
  },
  data: () => ({
    isDev
  }),
  layout: 'blog' // you can set a custom layout for the error page
};
</script>

<style lang="scss" scoped>
.container {
  display: block;
  height: 75vh;
  text-align: center;
}

.notFoundTitle {
  font-size: 6em;
  font-weight: 400;
  font-family: 'PT Sans', serif;
}

.errorTitle {
  font-size: 4em;
  font-weight: 400;
  font-family: 'PT Sans', serif;
}
</style>
