<template>
  <container>
    <div
      class="mb-5 article-body condensed"
      v-html="_.get(arpaProject, 'content')"/>
    <hr v-if="_.get(arpaProject, 'content')">
    <div
      v-if="_.get(arpaProject, 'reports')"
      class="mt-4">
      <div class="h2">News</div>
      <div
        class="mt-2">
        <masonry
          :cols="{default: 3, 800: 2, 600: 1}"
          :gutter="{default: '30px', 700: '15px'}">
          <div
            class="mt-3"
            v-for="(report, index) in _.get(arpaProject, 'reports')"
            :key="index">
            <nuxt-link
              :to="`/news/${report._id}`"
              style="cursor:pointer">
              <el-card
                shadow="hover"
                :body-style="{ padding: '0px' }">
                <img
                  style="width: 100%; display: block;"
                  :src="_.get(report, 'image')">
                <div class="p-3">
                  <div
                    style="font-size: 1.17em !important">
                    <span
                      class="h3">
                      {{ _.get(report, 'title') }}
                    </span>
                  </div>
                  <p class="subheading mt-2">
                    {{ report.createdAt | moment('DD MMM') }}.
                  </p>
                </div>
              </el-card>
            </nuxt-link>
          </div>
        </masonry>
      </div>
      <hr class="mt-4">
    </div>
    <div
      v-if="_.get(arpaProject, 'members')"
      class="mt-4 article-body">
      <div class="h2">Project's members</div>
      <div
        class="mt-4">
        <masonry
          :cols="{default: 3, 800: 2, 600: 1}"
          :gutter="{default: '30px', 700: '15px'}">
          <div
            class="mt-3"
            v-for="(member, index) in _.get(arpaProject, 'members')"
            :key="index">
            <el-card
              shadow="hover">
              <div
                class="h3">
                <span>
                  {{ _.get(member, 'firstname') }}
                </span>
                <span>
                  {{ _.get(member, 'lastname') }}
                </span>
              </div>
              <div>
                {{ _.get(member, 'institution') }}
              </div>
              <div
                class="mt-2">
                <div
                  v-if="_.get(member, 'website')">
                  <a
                    target="_blank"
                    :href="_.get(member, 'website')">
                    <el-button
                      class="py-0"
                      type="text">
                      <i class="el-icon-search"/>
                      {{ _.get(member, 'website').replace(/https:\/\//g,'').replace(/http:\/\//g,'') }}
                    </el-button>
                  </a>
                </div>
                <div
                  v-if="_.get(member, 'email')">
                  <a :href="`mailto:${_.get(member, 'website')}`">
                    <el-button
                      class="py-0"
                      type="text">
                      <i class="el-icon-message"/>
                      {{ _.get(member, 'email') }}
                    </el-button>
                  </a>
                </div>
              </div>
            </el-card>
          </div>
        </masonry>
      </div>
    </div>
  </container>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Index',
  computed: {
    ...mapGetters({
      arpaProject: 'about/arpaProject'
    })
  },
  async mounted() {
    try {
      this.$store.dispatch('about/FETCH_ARPA_PROJECT');
    } catch (e) {
      this.$notifications.auto(e.response.data);
    }
  }
};
</script>

<style scoped>
</style>
