<template>
  <c-form
    :ref="form.ref"
    :data.sync="form">
    <template
      slot="actions">
      <c-action-button
        @click.native="save()"
        type="primary">
        Save
      </c-action-button>
    </template>
  </c-form>
</template>
<script>
import { mapActions } from 'vuex';
export default {
  name: 'ARPAProjectForm',
  props: {
    arpaProject: {
      type: Object,
      required: false,
      default: null
    }
  },
  data: () => ({
    form: {
      inputs: {
        content: {
          component: 'cFieldWYSIWYG',
          options: {
            toolbar: {}
          },
          value: '',
          rules: [
            {
              required: true,
              message: 'Please enter a content',
              trigger: 'change'
            }
          ]
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      editArpaProject: 'about/EDIT_ARPA_PROJECT'
    }),
    initialize() {
      if (!this.arpaProject) return;
      this.$form.populate(this.form, this.arpaProject);
    },
    async save() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        result = await this.editArpaProject(data);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    }
  },
  mounted() {
    this.initialize();
  },
  watch: {
    arpaProject: {
      handler() {
        this.initialize();
      },
      deep: true
    }
  }
};
</script>

<style scoped>
</style>
