<template>
  <div>
    <c-form
      :ref="form.ref"
      :data.sync="form">
      <template
        slot="actions">
        <c-action-button
          @click.native="dialog.visible = true"
          type="danger">
          Send
        </c-action-button>
      </template>
    </c-form>
    <c-dialog
      :header="dialog.header"
      v-model="dialog.visible"
      center>
      <p>This email will be sent to all platform's user, this action is irreversible. Are you sure that you want to sent it ?</p>
      <template
        slot="actions"
        class="dialog-footer">
        <el-button @click="dialog.visible = false">Cancel</el-button>
        <el-button
          type="danger"
          @click="send">Confirm</el-button>
      </template>
    </c-dialog>
  </div>
</template>
<script>
import { mapActions } from 'vuex';
export default {
  name: 'MailingForm',
  props: {},
  data: () => ({
    dialog: {
      visible: false,
      header: {
        title: 'Mail action warning'
      }
    },
    form: {
      inputs: {
        subject: {
          component: 'cFieldInput',
          value: '',
          label: 'Subject',
          options: {
            placeholder: 'Information about...'
          },
          rules: [
            {
              required: true,
              message: 'Please enter a subject',
              trigger: 'blur'
            }
          ]
        },
        content: {
          component: 'cFieldWYSIWYG',
          options: {
            toolbar: {}
          },
          value: '',
          rules: [
            {
              required: true,
              message: 'Please enter a content',
              trigger: 'change'
            }
          ]
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      sendMail: 'mail/SEND_MAIL'
    }),
    send() {
      this.dialog.visible = false;
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      const params = {
        subject: data.subject,
        template: 'general',
        content: {
          message: data.content
        }
      };
      this.sendMail(params);
    }
  }
};
</script>

<style scoped>
</style>
