<template>
  <c-form
    :ref="form.ref"
    :data.sync="form">
    <template
      slot="actions">
      <c-action-button
        v-if="onCancel"
        @click.native="onCancel()">
        Cancel
      </c-action-button>
      <c-action-button
        @click.native="save()"
        type="primary">
        <span
          v-if="!member">
          Create
        </span>
        <span
          v-else>
          Save
        </span>
      </c-action-button>
    </template>
  </c-form>
</template>
<script>
import { mapActions } from 'vuex';
import { form } from '~/mixins/form';
export default {
  name: 'MembersForm',
  mixins: [form],
  props: {
    member: {
      type: Object,
      required: false,
      default: null
    }
  },
  data: () => ({
    form: {
      inputs: {
        institution: {
          component: 'cFieldInput',
          label: 'Institution',
          options: {
            placeholder: 'Institute of...'
          },
          value: null,
          rules: [
            {
              required: true,
              message: 'Please enter an institution',
              trigger: 'change'
            }
          ]
        },
        firstname: {
          component: 'cFieldInput',
          label: 'Firstname',
          options: {
            placeholder: 'DURAND'
          },
          value: null,
          rules: [
            {
              required: true,
              message: 'Please enter a firstname',
              trigger: 'change'
            }
          ]
        },
        lastname: {
          component: 'cFieldInput',
          label: 'Lastname',
          options: {
            placeholder: 'Jean'
          },
          value: null,
          rules: [
            {
              required: true,
              message: 'Please enter a lastname',
              trigger: 'change'
            }
          ]
        },
        email: {
          component: 'cFieldInput',
          label: 'Email',
          options: {
            placeholder: 'jean.durand@website.org'
          },
          value: null,
          rules: [
            {
              required: true,
              message: 'Please enter an email',
              trigger: 'change'
            }
          ]
        },
        website: {
          component: 'cFieldInput',
          label: 'Website',
          options: {
            placeholder: 'http://www.website.org'
          },
          value: null
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      createMember: 'about/CREATE_MEMBER',
      editMember: 'about/EDIT_MEMBER'
    }),
    initialize() {
      if (!this.member) return;
      this.$form.populate(this.form, this.member);
    },
    async save() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        if (this.member) {
          result = await this.editMember({ id: this.member._id, data });
        } else {
          result = await this.createMember(data);
        }
        this.$notifications.auto(result);
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    }
  },
  mounted() {
    this.initialize();
  },
  watch: {
    member: {
      handler() {
        this.initialize();
      },
      deep: true
    }
  }
};
</script>

<style scoped>
</style>
