<template>
  <c-form
    :ref="form.ref"
    :data.sync="form">
    <template
      slot="actions">
      <c-action-button
        v-if="onCancel"
        @click.native="onCancel()">
        Cancel
      </c-action-button>
      <c-action-button
        @click.native="save()"
        type="primary">
        <span
          v-if="!partner">
          Create
        </span>
        <span
          v-else>
          Save
        </span>
      </c-action-button>
    </template>
  </c-form>
</template>
<script>
import { mapActions } from 'vuex';
import { form } from '~/mixins/form';
export default {
  name: 'PartnersForm',
  mixins: [form],
  props: {
    partner: {
      type: Object,
      required: false,
      default: null
    }
  },
  data: () => ({
    form: {
      inputs: {
        name: {
          component: 'cFieldInput',
          label: 'Name',
          options: {
            placeholder: 'Our partner'
          },
          value: null,
          rules: [
            {
              required: true,
              message: 'Please enter a name',
              trigger: 'change'
            }
          ]
        },
        shortDescription: {
          component: 'cFieldInput',
          label: 'Short description',
          options: {
            placeholder: 'What about our partner?',
            type: 'textarea'
          },
          value: null,
          rules: [
            {
              required: true,
              message: 'Please enter a short description',
              trigger: 'change'
            }
          ]
        },
        image: {
          label: 'Logo',
          component: 'cFieldUpload',
          options: {
            fileList: [],
            action: '/api/file',
            message: 'Drop file here or click to choose',
            hint: 'png, jpg, gif, less than 2 mo.',
            multiple: false,
            drag: false,
            limit: 1,
            accept: '.jpg,.png,.gif',
            listType: 'picture',
            autoUpload: true,
            weightLimit: 2
          },
          value: [],
          rules: [
            {
              required: true,
              message: 'Please select a thumbnail',
              trigger: 'blur'
            }
          ]
        },
        website: {
          component: 'cFieldInput',
          label: 'Website',
          options: {
            placeholder: 'http(s)//www.our-partner.org'
          },
          value: null
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      createPartner: 'sponsors/CREATE_SPONSOR',
      editPartner: 'sponsors/EDIT_SPONSOR'
    }),
    initialize() {
      if (!this.partner) return;
      this.$form.populate(this.form, this.partner);
      this.form.inputs.image.options.fileList = [
        {
          status: 'success',
          name: 'Image',
          response: {
            docs: {
              url: this._.get(this.partner, 'image')
            }
          }
        }
      ];
    },
    async save() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        if (this.partner) {
          result = await this.editPartner({ id: this.partner._id, data });
        } else {
          result = await this.createPartner(data);
        }
        this.$notifications.auto(result);
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    }
  },
  mounted() {
    this.initialize();
  },
  watch: {
    partner: {
      handler() {
        this.initialize();
      },
      deep: true
    }
  }
};
</script>

<style scoped>
</style>
