<template>
  <c-form
    :ref="form.ref"
    :data.sync="form">
    <template
      slot="actions">
      <c-action-button
        v-if="onCancel"
        @click.native="onCancel()">
        Cancel
      </c-action-button>
      <c-action-button
        @click.native="save()"
        type="primary">
        <span
          v-if="!report">
          Create
        </span>
        <span
          v-else>
          Save
        </span>
      </c-action-button>
    </template>
  </c-form>
</template>
<script>
import { mapActions } from 'vuex';
import { form } from '~/mixins/form';
export default {
  name: 'ReportsForm',
  mixins: [form],
  props: {
    report: {
      type: Object,
      required: false,
      default: null
    }
  },
  data: () => ({
    form: {
      inputs: {
        title: {
          component: 'cFieldInput',
          label: 'Title',
          options: {
            placeholder: 'News of the day'
          },
          value: null,
          rules: [
            {
              required: true,
              message: 'Please enter a title',
              trigger: 'change'
            }
          ]
        },
        mainContent: {
          component: 'cFieldWYSIWYG',
          label: 'Content',
          options: {
            toolbar: {}
          },
          value: '',
          rules: [
            {
              required: true,
              message: 'Please enter a content',
              trigger: 'change'
            }
          ]
        },
        image: {
          label: 'Thumbnail',
          component: 'cFieldUpload',
          options: {
            fileList: [],
            action: '/api/file',
            message: 'Drop file here or click to choose',
            hint: 'png, jpg, gif, less than 2 mo.',
            multiple: false,
            drag: false,
            limit: 1,
            accept: '.jpg,.png,.gif',
            listType: 'picture',
            autoUpload: true,
            weightLimit: 2
          },
          value: [],
          rules: [
            {
              required: true,
              message: 'Please select a thumbnail',
              trigger: 'blur'
            }
          ]
        },
        attachments: {
          label: 'Attachments',
          component: 'cFieldUpload',
          options: {
            fileList: [],
            action: '/api/file',
            message: 'Drop file here or click to choose',
            hint: 'png, jpg, gif, pdf less than 5 mo.',
            multiple: true,
            drag: false,
            accept: '.jpg,.png,.gif,.pdf',
            autoUpload: true,
            weightLimit: 5,
            fileObject: true
          },
          value: []
        },
        isInNavbar: {
          component: 'cFieldCheckbox',
          options: {
            disabled: false,
            size: 'medium',
            button: false,
            items: [
              {
                text:
                  'Do you want this article appear under "about" submenu in the navigation bar?',
                label: false,
                disabled: false,
                border: false,
                size: 'medium'
              }
            ]
          },
          value: false
        }
      }
    }
  }),
  methods: {
    ...mapActions({
      createReport: 'about/CREATE_REPORT',
      editReport: 'about/EDIT_REPORT'
    }),
    initialize() {
      if (!this.report) return;
      this.$form.populate(this.form, this.report);
      this.form.inputs.image.options.fileList = [
        {
          status: 'success',
          name: 'Image',
          response: {
            docs: {
              url: this._.get(this.report, 'image')
            }
          }
        }
      ];
      if (Array.isArray(this._.get(this.report, 'attachments'))) {
        this.form.inputs.attachments.options.fileList = this._.get(
          this.report,
          'attachments'
        ).map(a => ({
          status: 'success',
          name: this._.get(a, 'name'),
          response: {
            docs: {
              url: this._.get(a, 'url')
            }
          }
        }));
      }
    },
    async save() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        if (this.report) {
          result = await this.editReport({ id: this.report._id, data });
        } else {
          result = await this.createReport(data);
        }
        this.$notifications.auto(result);
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    }
  },
  mounted() {
    this.initialize();
  },
  watch: {
    report: {
      handler() {
        this.initialize();
      },
      deep: true
    }
  }
};
</script>

<style scoped>
</style>
