<template>
  <c-form
    v-if="form"
    :ref="form.ref"
    :data.sync="form">
    <template
      slot="actions">
      <c-action-button
        v-if="onCancel"
        @click.native="onCancel()">
        Cancel
      </c-action-button>
      <c-action-button
        @click.native="create()"
        type="primary"
        action="connect">
        <span
          v-if="data">
          Save
        </span>
        <span
          v-else>
          Create
        </span>
      </c-action-button>
    </template>
  </c-form>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import { form } from '~/mixins/form';
export default {
  name: 'UsersForm',
  mixins: [form],
  props: {
    data: {
      type: Object,
      required: false,
      default: null
    }
  },
  data: () => ({
    form: null
  }),
  methods: {
    ...mapActions({
      editData: 'users/EDIT_DATA',
      createUser: 'users/REGISTER'
    }),
    initialize() {
      this.form = {
        ...this.form,
        ...this.usersForm
      };
      this.form.inputs.roles.options.items = this.roles.map(c => ({
        label: c.name,
        value: c._id
      }));
      this.form.inputs.country.options.items = this.countries.map(c => ({
        label: c.name,
        value: c._id
      }));
      this.form.inputs.spokenLanguages.options.items = this.languages.map(
        c => ({
          label: c.name,
          value: c._id
        })
      );
      if (!this.data) return;
      this.$form.populate(this.form, this.data, {
        spokenLanguages: this.data.spokenLanguages
          ? this.data.spokenLanguages.map(l => l._id)
          : [],
        country: this._.get(this, 'data.country._id'),
        roles: this.data.roles
          ? this.data.roles.map(r => {
              return r._id;
            })
          : []
      });
    },
    async create() {
      const valid = this.$form.validate.call(this, this.form.ref);
      if (!valid) return;
      const data = this.$form.jsonData.call(this, this.form.ref);
      let result;
      try {
        if (this.data) {
          result = await this.editData({ id: this.data._id, data });
        } else {
          result = await this.createUser(data);
        }
        this.$notifications.auto(result);
        if (this.onSuccess) {
          this.onSuccess();
        }
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
      return result;
    }
  },
  computed: {
    ...mapGetters({
      countries: 'countries/countries',
      languages: 'countries/languages',
      roles: 'users/roles'
    }),
    usersForm() {
      return {
        ref: 'usersForm',
        inputs: {
          lastname: {
            label: 'Lastname',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'DURAND',
              clearable: true,
              autofocus: true
            },
            value: null,
            rules: [
              {
                required: true,
                message: 'Please enter lastname',
                trigger: 'blur'
              }
            ]
          },
          firstname: {
            label: 'Firstname',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'Jean',
              clearable: true,
              autofocus: false
            },
            value: null,
            rules: [
              {
                required: true,
                message: 'Please enter firstname',
                trigger: 'blur'
              }
            ]
          },
          email: {
            label: 'Email',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'abcd@domain.com',
              clearable: true,
              prefixIcon: 'el-icon-message',
              autofocus: false
            },
            value: null,
            rules: [
              {
                required: true,
                message: 'Please enter email',
                trigger: 'blur'
              }
            ]
          },
          ...(!this.data
            ? {
                password: {
                  component: 'cFieldInput',
                  label: 'Password',
                  options: {
                    placeholder: '********',
                    type: 'password'
                  },
                  rules: [
                    {
                      required: true,
                      trigger: 'blur',
                      message: 'Please enter your password'
                    }
                  ]
                }
              }
            : {}),
          description: {
            label: 'Description',
            component: 'cFieldInput',
            options: {
              type: 'textarea',
              placeholder: 'What about?',
              clearable: true,
              autofocus: false,
              autosize: { minRows: 2, maxRows: 4 }
            },
            value: null
          },
          positionHeld: {
            label: 'Position held',
            component: 'cFieldInput',
            options: {
              type: 'text',
              placeholder: 'Doctor',
              clearable: true,
              autofocus: false
            },
            value: null
          },
          country: {
            label: 'Country',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              items: []
            },
            value: ''
          },
          spokenLanguages: {
            label: 'Spoken languages',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              multiple: true,
              items: []
            },
            value: []
          },
          roles: {
            label: 'Roles',
            component: 'cFieldSelect',
            options: {
              filterable: true,
              multiple: true,
              items: []
            },
            default: [],
            value: []
          }
        }
      };
    }
  },
  mounted() {
    this.initialize();
  },
  watch: {
    data: {
      handler() {
        this.initialize();
      },
      deep: true
    }
  }
};
</script>

<style scoped>
</style>
