<template>
  <container>
    <!-- Category Navigation -->

    <div
      class="text-center d-flex flex-justify-center flex-wrap">
      <div
        style="padding: 8px;"
        class="mx-2 category"
        v-for="(category, index) in allCategories"
        :key="index">
        <nuxt-link
          :style="`border-bottom: 1px solid ${category.backgroundColor};`"
          class="common-text no-style text-gray pb-1 px-1"
          @click.native="load(true, { categories: [category.name] })"
          :to="`?categories=${encodeURIComponent(category.name)}`">
          {{ $t(`lang.categories.${category.name}`) }}
        </nuxt-link>
      </div>
    </div>
    <div
      style="margin-top: 20px; margin-bottom: -20px"
      class="text-center">
      {{ $t(`lang.general.platformPresentation`) }}
    </div>
    <!-- End Category Navigation -->
    <el-row
      justify="center">
      <!-- Search bar -->
      <search-bar
        id="tutorial-step-0"
        :params="{
          categories,
          sortBy,
          includeCodeLanguage,
          search
        }"
        @click="$event => load(true, $event)"/>
      <project-description/>
      <!-- Articles Section -->
      <el-col
        :lg="{
          span: 24
      }">
        <el-row
          justify="center"
          class="py-2"
          :gutter="20"
          type="flex">
          <el-col
            :md="{
              span: 18
          }">
            <h3
              class="common-text medium-bold my-3">
              New Articles
            </h3>
            <hr>
            <div>
              <!-- article -->
              <infinite-scroll-article
                :resources="resources"
                :no-content="noContent"
                @category-search="$event => load(true, { categories: [$event] })"
                @tag-search="$event => load(true, { tags: [$event] })"
                @load-more="loadMore"/>
            </div>
          </el-col>
          <el-col
            v-if="$mq | !['xs', 'sm'].includes($mq)"
            class="hidden-xs-only"
            :sm="{
              span: 10,
              offset: 2
            }"
            :md="{
              span: 6,
              offset: 1
          }">
            <h3
              id="tutorial-step-3"
              class="common-text medium-bold my-3">
              Popular
            </h3>
            <hr>
            <!-- popular item -->
            <popular-articles
              :populars="populars"/>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </container>
</template>

<script>
import { mapGetters } from 'vuex';
import lodash from 'lodash';
import Logo from '~/components/Logo.vue';

export default {
  name: 'Index',
  components: {
    Logo,
    SearchBar: () => import('~/components/main/SearchBar'),
    InfiniteScrollArticle: () =>
      import('~/components/main/InfiniteScrollArticle'),
    PopularArticles: () => import('~/components/main/PopularArticles'),
    ProjectDescription: () => import('~/components/main/ProjectDescription')
  },
  computed: {
    ...mapGetters({
      allCategories: 'categories/categories'
    })
  },
  methods: {
    async loadPopular() {
      try {
        const { docs: populars } = await this.$store.dispatch(
          'resources/FETCH_RESOURCES',
          {
            page: 1,
            limit: 5,
            sortBy: 'popularity',
            ...(this.$route.query.categories
              ? { categories: this.$route.query.categories.split(',') }
              : {})
          }
        );
        this.populars = populars || [];
      } catch (e) {
        this.$notifications.auto(e);
      }
    },
    async initialize() {
      await this.loadPopular();
    },
    async fetch(reset = false) {
      if (this.noContent) return;
      const result = await this.$store.dispatch('resources/FETCH_RESOURCES', {
        page: this.page,
        limit: this.limit,
        search: encodeURIComponent(this.search) || '',
        tags: encodeURIComponent(this.tags) || '',
        sortBy: encodeURIComponent(this.sortBy) || '',
        categories: (this.categories || '').join(','),
        includeCodeLanguage: (this.includeCodeLanguage || '').join(',')
      });
      if (this.page < result.totalPages) {
        this.page += 1;
      } else {
        this.noContent = true;
      }
      this.propBusy = false;
      this.resources = [
        ...(!reset ? this.resources : []),
        ...lodash.get(result, 'docs', [])
      ];
    },
    async load(reset = false, params) {
      if (params) {
        Object.entries(params).forEach(([key, o]) => (this[key] = o));
      }

      this.noContent = false;
      try {
        this.page = 1;
        await this.fetch(reset);
      } catch (e) {
        console.error(e);
      }
      await this.loadPopular();
    },
    async loadMore() {
      try {
        await this.fetch(false);
      } catch (e) {
        console.error(e);
      }
    }
  },
  async mounted() {
    await this.initialize();
  },
  async asyncData({ query }) {
    return {
      search: decodeURIComponent(query.search || ''),
      tags: decodeURIComponent(query.tags || '').split(','),
      categories: decodeURIComponent(query.categories || '').split(','),
      sortBy: decodeURIComponent(query.sortBy),
      includeCodeLanguage: decodeURIComponent(
        query.includeCodeLanguage || ''
      ).split(',')
    };
  },
  data: () => ({
    search: '',
    tags: '',
    sortBy: '',
    categories: [],
    includeCodeLanguage: [],
    populars: [],
    // infinite article list
    page: 1,
    limit: 10,
    resources: [],
    noContent: false
  })
};
</script>

<style lang="scss">
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

hr {
  border: 0.5px solid grey;
}

h3 {
  color: #3a3a3a;
}

.subheading {
  font-size: 14px;
  color: #303133;
}

.category:hover {
  background-color: rgba(240, 240, 240, 0.4);
  border-radius: 25px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
</style>
