<template>
  <container>
    <div v-html="legalsNotice.content"/>
  </container>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'LegalsNotice',
  computed: {
    ...mapGetters({
      legalsNotice: 'usageInformations/legalsNotice'
    })
  },
  async fetch({ store }) {
    if (store.getters['usageInformations/legalsNotice'].content.length) return;
    await store.dispatch('usageInformations/FETCH_LEGALS_NOTICE');
  }
};
</script>

<style scoped>
</style>
