<template>
  <container>
    <div v-html="termsOfService.content"/>
  </container>
</template>

<script>
import { mapGetters } from 'vuex';
import lodash from 'lodash';
export default {
  name: 'TermsOfService',
  computed: {
    ...mapGetters({
      termsOfService: 'usageInformations/termsOfService'
    })
  },
  async fetch({ store }) {
    if (
      lodash.get(
        store.getters['usageInformations/termsOfService'],
        'content.length'
      )
    )
      return;
    await store.dispatch('usageInformations/FETCH_TERMS_OF_SERVICE');
  }
};
</script>

<style scoped>
</style>
