<template>
  <div>
    <reports-form
      :on-cancel="goToReports"
      :on-success="goToReports"/>
  </div>
</template>

<script>
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Report',
  components: {
    ReportsForm: () => import('~/components/admin/ReportsForm')
  },
  methods: {
    goToReports() {
      this.$router.push('/admin/about#reports');
    }
  }
};
</script>

<style scoped>
</style>
