<template>
  <data-form
    :data="data"/>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  name: 'Data',
  components: {
    DataForm: () => import('~/components/profile/DataForm')
  },
  data: () => ({
    data: {}
  }),
  methods: {
    ...mapActions({
      fetchData: 'users/FETCH_USER'
    }),
    async initialize() {
      if (!this._.get(this, 'user._id')) return;
      try {
        const result = await this.fetchData(this._.get(this, 'user._id'));
        this.data = result.docs;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {
    await this.initialize();
  }
};
</script>

<style scoped>
</style>
