<template>
  <el-row
    type="flex"
    justify="space-between"
  >
    <el-col>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h4>
      <p class="mt-2 description">Lorem ipsum dolor sit amet, consectetur adipisicing dolor sit amet, consectetur adipisicing elit.</p>
      <p class="mt-2 subheadling">Lorem ipsum dolor sit amet, consectetur.</p>
    </el-col>
    <el-col
      class="text-center"
      :span="4"
    >
      <el-badge
        value="new"
        type="error">
        <p class="mt-1 description">3 days ago</p>
      </el-badge>
    </el-col>
  </el-row>
</template>

<script>
export default {
  name: 'DefaultItem'
};
</script>

<style scoped>
</style>
