<template>
  <el-row
    type="flex"
    justify="space-between"
  >
    <el-col>
      <avatar-profile/>
    </el-col>
    <el-col
      class="text-center"
      :span="5"
    >
      <el-badge
        style="margin-right: -20px"
        value="new"
        type="error">
        <p class="mt-1 description">3 days ago</p>
      </el-badge>
      <el-row class="v-align-middle">
        <el-button type="text">
          <font-awesome-icon
            size="lg"
            icon="times" />
        </el-button>
        <el-button
          size="small"
          type="primary"
          round>Accept</el-button>
      </el-row>
    </el-col>
  </el-row>
</template>

<script>
import AvatarProfile from '../profiles/AvatarProfile';
export default {
  name: 'RequestItem',
  components: {
    AvatarProfile
  }
};
</script>

<style scoped>
</style>
