<template>
  <el-dialog
    :visible.sync="isActive"
    :fullscreen="_.get(options, 'fullscreen', false)"
    :top="_.get(options, 'top', '15vh')"
    :modal="_.get(options, 'modal', true)"
    :modal-append-to-body="_.get(options, 'modalAppendToBody', true)"
    :append-to-body="_.get(options, 'appendToBody', false)"
    :lock-scroll="_.get(options, 'lockScroll', true)"
    :custom-class="_.get(options, 'customClass', null)"
    :close-on-click-modal="_.get(options, 'closeOnClickModal', true)"
    :close-on-press-escape="_.get(options, 'closeOnPressEscape', true)"
    :show-close="_.get(options, 'showClose', true)"
    :center="_.get(options, 'center', true)">
    <template
      v-if="_.get(header, 'title') || _.get(header, 'description')"
      slot="title">
      <div class="text-left">
        <div 
          v-if="_.get(header, 'title')" 
          class="h3">{{ _.get(header, 'title') }}</div>
        <p v-if="_.get(header, 'description')">{{ _.get(header, 'description') }}</p>
      </div>
    </template>
    <div>
      <slot name="default"/>
    </div>
    <template
      slot="footer">
      <div
        class="text-right">
        <slot name="actions"/>
      </div>
    </template>
  </el-dialog>
</template>

<script>
export default {
  name: 'CDialog',
  props: {
    header: {
      type: Object,
      required: false,
      default: null
    },
    options: {
      type: Object,
      require: false,
      default: null
    },
    value: {
      required: true,
      type: Boolean | null
    }
  },
  computed: {
    isActive: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    }
  }
};
</script>

<style>
.el-dialog {
  width: calc(100% - 20px) !important;
  max-width: 960px !important;
}
</style>
