<template>
  <el-row
    class="mb-4"
    align="middle"
    type="flex">
    <div>
      <vue-avatar
        :size="40"
        :username="`${firstname} ${lastname}`"/>
    </div>
    <div
      class="ml-3">
      <div>
        <nuxt-link
          class="no-style"
          :to="`/user/${id}`">
          <h4
            class="mb-1">
            {{ firstname }} {{ lastname }}
            <el-tag
              v-if="displayRoles"
              class="mr-1"
              v-for="(role, i) in roles"
              :key="i"
              size="mini">
              {{ role.name }}
            </el-tag>
          </h4>
        </nuxt-link>
        <p
          class="subheading mb-1">
          <span
            v-if="$roles.check(['professional'], roles)">
            <span
              v-if="positionHeld">
              {{ positionHeld }},
            </span>
          </span>
          {{ country }}
        </p>
        <p>
          <a :href="`mailto:${email}`">{{ email }}</a>
        </p>
      </div>
    </div>
    <div
      style="justify-self: end; margin-left: auto">
      <el-button
        v-if="actionContactRequest"
        @click.native="$emit('send-contact-request', profileObject)"
        type="primary"
        icon="el-icon-plus"
        circle/>
    </div>
  </el-row>
</template>

<script>
export default {
  name: 'AvatarProfile',
  components: {
    Avatar: () => import('~/components/utils/Avatar')
  },
  props: {
    id: {
      type: String,
      default: null
    },
    firstname: {
      type: String,
      default: null
    },
    lastname: {
      type: String,
      default: null
    },
    email: {
      type: String,
      default: null
    },
    country: {
      type: String,
      default: null
    },
    positionHeld: {
      type: String,
      default: null
    },
    roles: {
      type: Array,
      default: () => []
    },
    actionContactRequest: {
      type: Boolean,
      default: false
    },
    displayRoles: {
      type: Boolean,
      default: false
    },
    profileObject: {
      type: Object,
      default: () => ({})
    }
  }
};
</script>

<style scoped>
.description {
  font-size: 0.85em;
}
.subheadling {
  font-size: 0.8em;
  color: #777777;
}
</style>
