<template>
  <div>
    <div>
      <h1 class="h1 pb-5">Modify a resource</h1>
    </div>
    <resources-form
      :on-cancel="goToResources"
      :on-success="goToResources"
      :resource="resource"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  name: 'Index',
  components: {
    ResourcesForm: () => import('~/components/resources/ResourcesForm')
  },
  data: () => ({
    resource: {}
  }),
  methods: {
    ...mapActions({
      fetchResource: 'resources/FETCH_RESOURCE'
    }),
    async initialize() {
      if (!this.$route.params.slug) return;
      try {
        const result = await this.fetchResource(this.$route.params.slug);
        this.resource = result.docs;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    goToResources() {
      this.$router.push('/profile/resources');
    }
  },
  mounted() {
    this.initialize();
  }
};
</script>

<style scoped>
</style>
