<template>
  <div>
    <reports-form
      :on-cancel="goToReports"
      :on-success="goToReports"
      :report="report"/>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Report',
  components: {
    ReportsForm: () => import('~/components/admin/ReportsForm')
  },
  data: () => ({
    report: {}
  }),
  methods: {
    ...mapActions({
      fetchReport: 'about/FETCH_REPORT'
    }),
    goToReports() {
      this.$router.push('/admin/about#reports');
    },
    async initialize() {
      if (!this.$route.params.slug) return;
      try {
        const result = await this.fetchReport(this.$route.params.slug);
        this.report = result.docs;
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {
    this.initialize();
  }
};
</script>

<style scoped>
</style>
