<template>
  <div>
    <div
      class="text-right">
      <c-action-button
        @click.native="$router.push('/admin/partners/create')"
        type="primary">Add</c-action-button>
    </div>
    <el-search-table-pagination
      ref="sponsorsTable"
      :fetch="fetchSponsorsTable"
      page-index-key="page"
      page-size-key="limit"
      list-field="docs"
      total-field="totalDocs"
      :columns="columns">
      <template
        slot-scope="{ row }"
        slot="shortDescription">
        {{ _.truncate(row.shortDescription, { length: 50 }) }}
      </template>
      <template
        slot="actions"
        slot-scope="{ row }">
        <el-button
          @click.native="remove(row._id)"
          size="mini"
          type="danger"
          icon="el-icon-close"
          circle/>
        <el-button
          @click="$router.push(`/admin/partners/edit/${row._id}`)"
          size="mini"
          type="primary"
          icon="el-icon-edit"
          circle/>
      </template>
    </el-search-table-pagination>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  middleware: 'auth-roles',
  meta: {
    roles: ['super_admin', 'admin']
  },
  name: 'Index',
  components: {
    PartnersForm: () => import('~/components/admin/PartnersForm')
  },
  data: () => ({
    columns: [
      { prop: 'name', label: 'Name', minWidth: 140 },
      {
        slotName: 'shortDescription',
        prop: 'shortDescription',
        label: 'Short description',
        minWidth: 180
      },
      { prop: 'website', label: 'Website', minWidth: 200 },
      {
        slotName: 'actions',
        prop: 'actions',
        label: 'Actions',
        minWidth: 100,
        align: 'right'
      }
    ]
  }),
  methods: {
    ...mapActions({
      fetchSponsors: 'sponsors/FETCH_SPONSORS',
      deleteSponsor: 'sponsors/DELETE_SPONSOR'
    }),
    async fetchSponsorsTable(data) {
      try {
        return this.fetchSponsors(data);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    },
    async remove(id) {
      try {
        const result = await this.deleteSponsor(id);
        this.$refs.sponsorsTable.searchHandler(false);
        this.$notifications.auto(result);
      } catch (e) {
        this.$notifications.auto(e.response.data);
        throw e;
      }
    }
  },
  async mounted() {}
};
</script>

<style scoped>
</style>
